In [19]:
import numpy as np

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("train.csv")

In [5]:
data.shape

(1590, 10)

In [16]:
data.head(5)

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

In [8]:
(data["AnnualIncome"].sum())

928553.4591194969

In [17]:
data["new"]=1

In [14]:
count=0
for i in data["EverTravelledAbroad"].astype(str):
    if i == "Yes":
        count+=1

In [15]:
count

302

In [20]:
table = pd.pivot_table(data, values='new', index=['Employment Type'],aggfunc=np.sum)

In [29]:
table.apply(lambda x:(x /sum(x)*100))

                                    new
Employment Type
Government Sector             27.358491
Private Sector/Self Employed  72.641509

In [22]:
ChronicDiseases     TravelInsurance

1590

In [30]:
table2 = pd.pivot_table(data, values='new', index=['ChronicDiseases','TravelInsurance'],aggfunc=np.sum)

In [31]:
table2

                                 new
ChronicDiseases TravelInsurance
0               No               753
                Yes              392
1               No               278
                Yes              167

In [32]:
167+278

445

In [33]:
167/445

0.3752808988764045