 <h1 style="color: purple">  جواب سوالات    </h1>
 <h1> 1 ) </h1>

In [2]:
import numpy as np
import pandas as pd

In [3]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

<h3> به کمک وکتورایز فرمول یک و دو را اعمال کرده و میبینیم که ماکسیم حال از ماکسیمم قبلی بالاتر نمیرود</h3>

In [4]:
scores=np.vectorize(lambda x:(10+(x/10)) if x<8.5 else (-1 * 0.0051*( x**2)+(0.8586*x)+3.4332))(numbers)

<h3>ارایه را از بزرگ به کوچک مرتب کرده 25 درصد بزرگ ها را انتخاب میکنیم</h3>

In [5]:
x = np.sort(scores)
M=x[-1::-1]
top_new_twenty_five =M[:int(len(x)/4)]

<h3>حال 25 درصد داده های کوچکتر آرایه ی اول را درون متغیر جدید میریزیم</h3>

In [6]:
y=np.sort(numbers)
down_old_twenty_five=y[:int(len(y)/4)]

<h3>        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</h3>

In [10]:
New = top_new_twenty_five - down_old_twenty_five
New.reshape(int(len(New)),1,1)

 <h1 style="color: purple">  جواب سوالات    </h1>
 <h1> 2 ) </h1>

In [8]:
movies = pd.read_csv("imdb_movie_rank.csv")

<h3>در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید.</h3>

In [13]:
movies=movies.dropna()
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

<h3>فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید</h3>

In [27]:
movies_sorted = movies.sort_values(by="duration")
down_50=movies_sorted.head(50)
down_50.to_csv("long_time.csv")

<h3>تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
</h3>

In [ ]:
def actorname(name):
    a=[]
    if name in movies["actor_list"]:
        a.append[]

<h3>میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.</h3>

In [32]:
a=movies.groupby(["genre"])
a.mean()

<h3>ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.</h3>

In [38]:
movies["new"]=np.vectorize(lambda x:0 if x>=150 else 1)(movies["duration"])
movies.to_csv("new.csv")

<h3>عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.</h3>

In [41]:
movies.rename(columns={'star_rating':'star rating','content_rating':'content rating','actors_list':'actors list'}, inplace=True)

<h3>داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید</h3>

In [49]:
pd.crosstab(movies["genre"],movies["star rating"]).iloc[:3]

star rating,7.4,7.5,7.6,7.7,7.8,7.9,8.0,8.1,8.2,8.3,8.4,8.5,8.6,8.7,8.8,8.9,9.0,9.1,9.2,9.3
genre,,,,,,,,,,,,,,,,,,,,
Action,4,10,25,17,21,11,10,12,4,7,4,3,2,2,2,0,1,0,0,0
Adventure,6,6,6,5,9,5,12,7,2,8,3,1,0,1,2,1,0,0,0,0
Animation,2,4,6,8,9,6,9,4,5,3,3,2,1,0,0,0,0,0,0,0

 <h1 style="color: purple">  جواب سوالات    </h1>
 <h1> 3 ) </h1>

 read. csv() as well as the read. csv2() function are almost identical to the read. table() function, with the sole difference that they have the header and fill arguments set as TRUE by default.

 <h1 style="color: purple">  جواب سوالات    </h1>
 <h1> 4 ) </h1>

The crosstab() function is used to compute a simple cross tabulation of two (or more) factors. By default computes a frequency table of the factors unless an array of values and an aggregation function are passed. Values to group by in the rows. Values to group by in the columns

یکی از بهترین راه های مقایسه ی دو ستون است.  در اینجا ژانر هارا دسته بندی کرده و اطلاعات  کانتنت ریتینگ آن را به تفکیک جدا کرده است

 <h1 style="color: purple">  جواب سوالات    </h1>
 <h1> 5 ) </h1>

In [57]:
movies.corr()

             star rating  duration       new
star rating     1.000000  0.229410 -0.223764
duration        0.229410  1.000000 -0.744606
new            -0.223764 -0.744606  1.000000

corr() is used to find the pairwise correlation of all columns in the Pandas Dataframe in Python.

در اینجا همبستگی استار ریتینگ دیوریشن و نیو بررسی شده است . همانطور که مشاهده میکنید بدلیل همبستگی هر ستون با خود قطر اصلی یک است

 <h1 style="color: purple">  جواب سوالات    </h1>
 <h1> 6 ) </h1>

In [61]:
movies.value_counts(subset ="content rating")

content rating
R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
NC-17          7
PASSED         7
X              4
GP             3
TV-MA          1
dtype: int64

 <h1 style="color: purple">  جواب سوالات    </h1>
 <h1> 7 ) </h1>

 <h1 style="color: purple">  جواب سوالات    </h1>
 <h1> 8 ) </h1>

The pivot_table() function is used to create a spreadsheet-style pivot table as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.