In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

bime_df = pd.read_csv('train.csv')
bime_df.head()

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

*ابتدا تعداد سطر و سپس تعداد ستون‌های این دادگان را به دست آورید‌*

In [ ]:
bime_df.shape

(1590, 10)

*متوسط درآمد سالانه مشتریان چه‌ قدر است؟*

In [ ]:
bime_df['AnnualIncome'].mean().round(0)

928553.0

*چند نفر از مشتریان سابقه سفر خارجی داشته‌اند؟*

In [21]:
len(bime_df[bime_df.EverTravelledAbroad == 'Yes'])

302

*چند درصد از افرادی که بیماری زمینه‌ای دارند، خودشان را برای سفر بیمه کرده‌اند؟*

In [37]:
bime_df.pivot_table('ChronicDiseases', 'TravelInsurance').round(2)

                 ChronicDiseases
TravelInsurance
No                          0.27
Yes                         0.30

*بیشتر افراد، در بخش خصوصی به کار گرفته شده‌اند و یا بخش دولتی؟*

In [5]:
bime_df['Employment Type'].value_counts()

Private Sector/Self Employed    1155
Government Sector                435
Name: Employment Type, dtype: int64