را توضیح دهید sgd پنالتی ترم های

Regularization refers to techniques that are used to calibrate machine learning models in order to minimize the adjusted loss function and prevent overfitting or underfitting


penalty="l2" : L2 norm penalty on coef_ . 

penalty="l1" : L1 norm penalty on coef_ . 

penalty="elasticnet" : Convex combination of L2 and L1; (1 - l1_ratio) * L2 + l1_ratio * L1 .

 با ریدج و در جه آزادی 0.9 را امتحان کنید sgd مدل classpriceروی داده های

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn import preprocessing

from sklearn import metrics

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
data = pd.read_csv("classprice.csv")
X = data.iloc[:, :-1]
Y = data.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, Y , test_size = 0.3 , random_state = 1364 )

In [5]:
sgr_model = make_pipeline(preprocessing.StandardScaler(), SGDRegressor(penalty ='l2' ,alpha = 0.9))
sgr_model.fit(X_train, y_train)
y_predict = sgr_model.predict(X_test)

In [6]:
print("R²: ", metrics.r2_score(y_test, y_predict))
print("Mean Squared Error (MSE): ", metrics.mean_squared_error(y_test, y_predict))
print("Root Mean Squared Error (RMSE): ", metrics.mean_squared_error(y_test, y_predict,squared = False))
print("Mean Absolute Error (MAE): ", metrics.mean_absolute_error(y_test, y_predict))
print("Mean Absolute Percentage Error (MAPE): ", metrics.mean_absolute_percentage_error(y_test, y_predict))

R²:  0.6883426366527041
Mean Squared Error (MSE):  11923598.485006252
Root Mean Squared Error (RMSE):  3453.056397599995
Mean Absolute Error (MAE):  2324.610159029413
Mean Absolute Percentage Error (MAPE):  0.17934343415421997

حال مدل قبلی را در همان هتگامی که بهترین اکسترمم را پیدا کرد نگه دارید و نتیجه را مقایسه کنید

In [7]:
sgr_model = make_pipeline(preprocessing.StandardScaler(), SGDRegressor(penalty='l2',alpha=0.9,early_stopping=True))
sgr_model.fit(X_train, y_train)
y_predict = sgr_model.predict(X_test)

In [8]:
print("R²: ", metrics.r2_score(y_test, y_predict))
print("Mean Squared Error (MSE): ", metrics.mean_squared_error(y_test, y_predict))
print("Root Mean Squared Error (RMSE): ", metrics.mean_squared_error(y_test, y_predict,squared=False))
print("Mean Absolute Error (MAE): ", metrics.mean_absolute_error(y_test, y_predict))
print("Mean Absolute Percentage Error (MAPE): ", metrics.mean_absolute_percentage_error(y_test, y_predict))

R²:  0.611221059523842
Mean Squared Error (MSE):  14874168.015398743
Root Mean Squared Error (RMSE):  3856.7042945238545
Mean Absolute Error (MAE):  2604.616669794222
Mean Absolute Percentage Error (MAPE):  0.209041135048206

در حالتی  که از تمام ظرفیت پردازشیه سیستم استفاده میکنید بدون اسکیل کردن روی داده ها امتحان کنید  LinearRegression حال مدل

In [9]:
lr_model = make_pipeline(LinearRegression(n_jobs=-1))
lr_model.fit(X_train, y_train)
y_predict = lr_model.predict(X_test)

In [10]:
print("R²: ", metrics.r2_score(y_test, y_predict))
print("Mean Squared Error (MSE): ", metrics.mean_squared_error(y_test, y_predict))
print("Root Mean Squared Error (RMSE): ", metrics.mean_squared_error(y_test, y_predict,squared=False))
print("Mean Absolute Error (MAE): ", metrics.mean_absolute_error(y_test, y_predict))
print("Mean Absolute Percentage Error (MAPE): ", metrics.mean_absolute_percentage_error(y_test, y_predict))

R²:  0.7097009897693398
Mean Squared Error (MSE):  11106456.145969149
Root Mean Squared Error (RMSE):  3332.6350154148518
Mean Absolute Error (MAE):  2405.241440319975
Mean Absolute Percentage Error (MAPE):  0.19407142468233163

حال مدل بالا را با استادارد اسکل در پایپ لاین امتحان کنید از مقایسه دو نتیجه با هم چه چیزی میفهمید علت را در بیس کد پیدا کنید

اینکه اسکیل کردن هیچ تاثیری در مدل سازی های رگرسیون خطی ندارد
اسکیل کردن برای مدل هایی که از گرادیان نزولی استفاده میکنند خیلی مهم است

In [12]:
lr_model = make_pipeline(preprocessing.StandardScaler(),LinearRegression(n_jobs=-1))
lr_model.fit(X_train, y_train)
y_predict = lr_model.predict(X_test)

In [13]:
print("R²: ", metrics.r2_score(y_test, y_predict))
print("Mean Squared Error (MSE): ", metrics.mean_squared_error(y_test, y_predict))
print("Root Mean Squared Error (RMSE): ", metrics.mean_squared_error(y_test, y_predict,squared=False))
print("Mean Absolute Error (MAE): ", metrics.mean_absolute_error(y_test, y_predict))
print("Mean Absolute Percentage Error (MAPE): ", metrics.mean_absolute_percentage_error(y_test, y_predict))

R²:  0.7097009897693405
Mean Squared Error (MSE):  11106456.145969117
Root Mean Squared Error (RMSE):  3332.6350154148467
Mean Absolute Error (MAE):  2405.2414403199646
Mean Absolute Percentage Error (MAPE):  0.19407142468233038

روی داده های تایتانیک اعمال کنید امتحان کنید  LinearRegression حال مدل

In [64]:
titanic = pd.read_csv('titanic.csv')

In [65]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [66]:
titanic.isnull().sum().sort_values()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
Age            177
Cabin          687
dtype: int64

In [67]:
titanic.dropna(subset=["Embarked"],inplace=True)
titanic["Age"].fillna(titanic["Age"].dropna().median(), inplace=True)
titanic["Sex"].replace(["male","female"],[0, 1], inplace=True)
titanic["Embarked"].replace(["S","C","Q"],[0, 1,2], inplace=True)

In [68]:
titanic.isnull().sum().sort_values()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
Cabin          687
dtype: int64

In [69]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    int64
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    int64
dtypes: float64(2), int64(7), object(3)
memory usage: 90.3+ KB

In [70]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,28.0,1,2,W./C. 6607,23.4500,NaN,0
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,1
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,2

In [71]:
X = titanic.loc[:,["Pclass","Sex","Age","SibSp","Parch","Fare","Embarked"]]
Y = titanic.loc[:,["Survived"]]

In [72]:
lr_model = make_pipeline(LinearRegression(n_jobs=-1))
lr_model.fit(X_train, y_train)
y_predict = lr_model.predict(X_test)

In [73]:
print("R²: ", metrics.r2_score(y_test, y_predict))
print("Mean Squared Error (MSE): ", metrics.mean_squared_error(y_test, y_predict))
print("Root Mean Squared Error (RMSE): ", metrics.mean_squared_error(y_test, y_predict,squared=False))
print("Mean Absolute Error (MAE): ", metrics.mean_absolute_error(y_test, y_predict))
print("Mean Absolute Percentage Error (MAPE): ", metrics.mean_absolute_percentage_error(y_test, y_predict))

R²:  0.7097009897693398
Mean Squared Error (MSE):  11106456.145969149
Root Mean Squared Error (RMSE):  3332.6350154148518
Mean Absolute Error (MAE):  2405.241440319975
Mean Absolute Percentage Error (MAPE):  0.19407142468233163