answer below questions

1-what is diffrent betwee select and select distinct

2- with sql how do you select all the records from the table named"Person" where the value of the column"FirstName" starts with an "a"

3-what does truncate do 

4-with which sql command you can change table schema ? make an example

5-how do you cahnge a record that saved in table

6-what is the meaning of pk and foreign key are they diffrent?

In [ ]:
1-what is diffrent betwee select and select distinct:
    select: انتخاب از بین همه رکوردها
select distinct: انتخاب از ردیفها بافیلتر یکتا بودن آنها

In [ ]:
2- with sql how do you select all the records from the table named"Person" where the value of the column"FirstName" starts with an "a"
"SELECT * FROM person where FirstName like "a%"

In [ ]:
3-what does truncate do :
 پاک کردن همه دیتای یک جدول بدون اینکه خود جدول پاک شود

4-with which sql command you can change table schema ? make an example
// اضافه کردن یک ستون به جدول موجود 

"ALTER TABLE mytable ADD age int"

In [ ]:
5-how do you cahnge a record that saved in table

"UPDATE titanic SET cabin='**EMPTY**' WHERE cabin IS NULL")

In [ ]:
6-what is the meaning of pk and foreign key are they diffrent?
pk:  فیلد یکتا و غیر خالی است که دریک جدول مانند ایندکس و شناسه ردیف خود میباشد. 
بنابراین به عنوان نماینده هنگام ارتباط با دیگر جداول استفاده میشود
fk: وقتی  در جدولی برای ایجاد ارتباط با جدولی دیگر فیلدی به عنوان نماینده جدول اصلی استفاده میشود عنوان کلید خارجی را میگیرد.
  و  رفرنس به ردیفی در جدول دیگر میدهد. بنابراین میتواند تکراری باشد

## from calss
#### fill in the ..... blanks

In [16]:
import sqlite3
conn = sqlite3.connect("titanic.db")
curs = conn.cursor()
curs.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(curs.fetch(2))
curs.execute("UPDATE titanic SET IsReverend = 0 WHERE Name NOT LIKE '%Rev%'")
conn.commit()

In [ ]:
import psycopg2
import psycopg2.extras
import pandas as pd

# Connect to your postgres DB
conn = psycopg2.....(
    host="localhost",
    database="ml",
    user="mapsa",
    password="mapsa1234")

# pandas dataframe
# df = pd.read_sql_query("SELECT * FROM users", conn)

# Open a cursor to perform database operations
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
# cur = conn.cursor()


# find users
cur.execute("SELECT username FROM users")

### sqlalchemy is big orm i want you use peewe orm that give you a hand in making queries
1-use it to make sqlite database with name and day(date kind)scheme that named peewedb.db and create it

In [12]:
import sqlalchemy as db
from sqlalchemy import create_engine
engine = create_engine('sqlite:///peewedb.db', echo = True)
from sqlalchemy import MetaData
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
meta = MetaData()

In [72]:
from sqlalchemy import Table, Column, Integer, String, MetaData, Date
meta = MetaData()

mytable = Table(
   'mytable', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('day', String), 
)
meta.create_all(engine)

class Mytable(declarative_base()):
    __tablename__ = 'mytable'
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(16))

2022-12-24 08:30:51,954 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-24 08:30:51,956 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("mytable")
2022-12-24 08:30:51,958 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-24 08:30:51,961 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
2- add two row in your database first on is (name=azaddel and day= (1991,2,14) and second one is (name=yourname, day=yourbirthday) and save it to peewedb datbase in person table

In [60]:
from sqlalchemy import insert
mtable = insert(mytable).values(name= 'azaddel', day = '1991/2/14')
compiled = mtable.compile()
compiled.params
print(mtable)
with engine.connect() as conn:
    result = conn.execute(mtable)

INSERT INTO mytable (name, day) VALUES (:name, :day)

In [61]:
compiled = mtable.compile()
compiled.params

{'name': 'azaddel', 'day': '1991/2/14'}

In [62]:
with engine.connect() as conn:
    result = conn.execute(mtable)
    # conn.commit()

2022-12-24 08:16:33,232 INFO sqlalchemy.engine.Engine INSERT INTO mytable (name, day) VALUES (?, ?)
2022-12-24 08:16:33,235 INFO sqlalchemy.engine.Engine [generated in 0.00353s] ('azaddel', '1991/2/14')
2022-12-24 08:16:33,237 INFO sqlalchemy.engine.Engine COMMIT

In [76]:
from sqlalchemy import insert
mtable = insert(mytable).values(name= 'faod', day = '1982/9/11')
compiled = mtable.compile()
compiled.params
print(mtable)
with engine.connect() as conn:
    result = conn.execute(mtable)

INSERT INTO mytable (name, day) VALUES (:name, :day)
2022-12-24 08:54:13,882 INFO sqlalchemy.engine.Engine INSERT INTO mytable (name, day) VALUES (?, ?)
2022-12-24 08:54:13,884 INFO sqlalchemy.engine.Engine [generated in 0.00165s] ('faod', '1982/9/11')
2022-12-24 08:54:13,886 INFO sqlalchemy.engine.Engine COMMIT

3- filter the table with rows that their name is equal to your name

In [75]:


# Base = declarative_base()
# class Mytable(Base):
#     __tablename__ = 'mytable'

Session = sessionmaker(bind =engine)
session = Session()
result = session.query(Mytable).filter(Mytable.name=='foad')
print(result)

SELECT mytable.id AS mytable_id, mytable.name AS mytable_name
FROM mytable
WHERE mytable.name = ?