answer below questions

1-what is diffrent betwee select and select distinct

2- with sql how do you select all the records from the table named"Person" where the value of the column"FirstName" starts with an "a"

3-what does truncate do 

4-with which sql command you can change table schema ? make an example

5-how do you cahnge a record that saved in table

6-what is the meaning of pk and foreign key are they diffrent?

1. SELECT * will select all the columns from the tables in the FROM clause; SELECT DISTINCT * will find all unique combinations of row data for tables in the FROM clause. DISTINCT forces a sort and unique filtering operations making it far slower for large data.

 اولی همه رکورد های موجود جدول را میاورد اما دومی ترکیب های خاص و یکتا را میاورد

2. using following piece of code:

cur.execute("SELECT * FROM Person WHERE FirstName 'a%'")

3. TRUNCATE TABLE removes all rows from a table, but the table structure and its columns, constraints, indexes, and so on remain. 

رکورد های موجود در جدول را تمیز میکند یعنی ساختار جدول حفظ میشود اما همه رکورد ها پاک میشود و خود جدول باقی میماند

4. ALTER TABLE "tablename"

برای اضافه کردن به جدول شخص در سوال 2 میتوانیم کد ملی را اینطوری اضافه نماییم

cur.execute("
ALTER TABLE Person
ADD NationalID int;
")

5. UPDATE table_name SET col1_name = new_value .... WHERE condition_that_select_record

6. pk: کلید اولیه   fk: کلید خارجی

کلید اولیه: یکی از خاصیت های یکتا و یونیک هر ریکورد که آن ریکورد خاص در آن جدول و دیتابیس به آن خاصیت شناخته میشود 
و به صورت معمول در باقی جداول با آن خاصیت یا کلید فرا خوانده میشود

کلید خارجی: برای مثال سید خرید نیاز به یک خریدار دارد و برای آنکه خریدار هر سبد خرید شناخته شود باید یک خاصیت بخصوص از آن خریدار را در
رکورد هر سبد خرید نگه داری نمود که به آن خاصیت به خصوص از خریدار در جدول سبد های خرید کلید خارجی خریدار میگویند

## from class
#### fill in the ..... blanks

In [7]:
import sqlite3
conn = sqlite3.connect("titanic.db")
curs = conn.cursor()
curs.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(curs.fetchmany())
curs.execute("UPDATE titanic SET IsReverend = 0 WHERE Name NOT LIKE '%Rev%'")
conn.close()

[('titanic',)]

In [ ]:
import psycopg2
import psycopg2.extras
import pandas as pd

# Connect to your postgres DB
conn = psycopg2.connect(
    host="localhost",
    database="ml",
    user="mapsa",
    password="mapsa1234")

# pandas dataframe
# df = pd.read_sql_query("SELECT * FROM users", conn)

# Open a cursor to perform database operations
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
# cur = conn.cursor()


# find users
cur.execute("SELECT username FROM users")
# cur.fetchmany()

### sqlalchemy is big orm i want you use peewe orm that give you a hand in making queries
1-use it to make sqlite database with name and day(date kind)scheme that named peewedb.db and create it

In [8]:
! pip install peewee
import peewee

Requirement already satisfied: peewee in d:\ml3_exercise\.venv\lib\site-packages (3.15.4)

2- add two row in your database first on is (name=azaddel and day= (1991,2,14) and second one is (name=yourname, day=yourbirthday) and save it to peewedb datbase in person table

3- filter the table with rows that their name is equal to your name

In [ ]:
me.name