# Answer below questions

## 1-what is diffrent betwee select and select distinct

SELECT * will select all the columns from the tables in the FROM clause; SELECT DISTINCT * will find all unique combinations of row data for tables in the FROM clause. DISTINCT forces a sort and unique filtering operations making it far slower for large data.

## 2- with sql how do you select all the records from the table named"Person" where the value of the column"FirstName" starts with an "a"

 SELECT * FROM Person WHERE FirstName LIKE 'a%'

## 3-what does truncate do 
TRUNCATE TABLE removes all rows from a table, but the table structure and its columns, constraints, indexes, and so on remain. To remove the table definition in addition to its data, use the DROP TABLE statement.

## 4-with which sql command you can change table schema ? make an example

ALTER SCHEMA can only be used to move securables between schemas in the same database. To change or drop a securable within a schema, use the ALTER or DROP statement specific to that securable.

The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.
The ALTER TABLE statement is also used to add and drop various constraints on an existing table.

ALTER TABLE - ADD Column
To add a column in a table, use the following syntax:

ALTER TABLE table_name
ADD column_name datatype;

ALTER TABLE - DROP COLUMN
To delete a column in a table, use the following syntax (notice that some database systems don't allow deleting a column):

ALTER TABLE table_name
DROP COLUMN column_name;

ALTER TABLE - RENAME COLUMN
To rename a column in a table, use the following syntax:

ALTER TABLE table_name
RENAME COLUMN old_name to new_name;

ALTER TABLE - ALTER/MODIFY DATATYPE
To change the data type of a column in a table, use the following syntax:

SQL Server / MS Access:

ALTER TABLE table_name
ALTER COLUMN column_name datatype;
My SQL / Oracle (prior version 10G):

ALTER TABLE table_name
MODIFY COLUMN column_name datatype;

# 5-how do you cahnge a record that saved in table

The UPDATE command in SQL is used to modify or change the existing records in a table. If we want to update a particular value, we use the WHERE clause along with the UPDATE clause.


UPDATE table_name

SET col1=val1, col2=val2â€¦

[Where condition];

## 6-what is the meaning of pk and foreign key are they diffrent?
A primary key is used to ensure data in the specific column is unique. 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. 
It uniquely identifies a record in the relational database table.

## from calss
#### fill in the ..... blanks

In [ ]:
import sqlite3
conn = sqlite3.connect("titanic.db")
curs = conn.cursor()
curs.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(curs.fetchmany(2))
curs.execute("UPDATE titanic SET IsReverend = 0 WHERE Name NOT LIKE '%Rev%'")
conn.commit()

In [ ]:
import psycopg2       ## Installing binary version
import psycopg2.extras
import pandas as pd

# Connect to your postgres DB
conn = psycopg2.connect(
    host = "localhost",
    dbname = "ml",
    user = "mapsa",
    password = "mapsa1234")

# pandas dataframe
# df = pd.read_sql_query("SELECT * FROM users", conn)

# Open a cursor to perform database operations
cur = conn.cursor(cursor_factory = psycopg2.extras.DictCursor)
# cur = conn.cursor()


# find users
cur.execute("SELECT username FROM users")

### sqlalchemy is big orm i want you use peewe orm that give you a hand in making queries
1-use it to make sqlite database with name and day(date kind)scheme that named peewedb.db and create it

In [110]:
from peewee import *

# Assumes you have created the database "peewedb" already.
db = SqliteDatabase('peewedb.db')

class Person (Model):
    name=TextField()
    date=DateTimeField()
    class Meta:
        database=db
        db_table='Person'

Person.create_table()

2- add two row in your database first on is (name=azaddel and day= (1991,2,14) and second one is (name=yourname, day=yourbirthday) and save it to peewedb datbase in person table

In [115]:
(Person.insert_many([{"name":"maryam", "date":date(1986,1,5)}, {"name":"azaddel", "date":date(1991,2,14)}])
.execute())

6

3- filter the table with rows that their name is equal to your name

In [116]:
Person.select().where(Person.name == 'maryam').get().name

'maryam'