answer below questions
1-what is diffrent betwee select and select distinct

2- with sql how do you select all the records from the table named"Person" where the value of the column"FirstName" starts with an "a"

3-what does truncate do 

4-with which sql command you can change table schema ? make an example

5-how do you cahnge a record that saved in table

6-what is the meaning of pk and foreign key are they diffrent?

1- By using SELECT immediately followed by the DISTINCT keyword, all the duplicate rows are removed from the result set.

2-SELECT * FROM Person WHERE FirstName ~ '^a'

3-The TRUNCATE TABLE command deletes the data inside a table, but not the table itself

4-ALTER SCHEMA target_schema_name    
   TRANSFER [ object_type :: ] object_name;

5-UPDATE Table Name
SET ( new records like : ContactName = 'Alfred Schmidt', City= 'Frankfurt')
WHERE (like :CustomerID = 1);

## from calss
#### fill in the ..... blanks

In [ ]:
import sqlite3
conn = sqlite3.connect("titanic.db")
curs = conn.cursor()
curs.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(curs.fetchmany(2))
curs.execute("UPDATE titanic SET IsReverend = 0 WHERE Name NOT LIKE '%Rev%'")
conn.commit()

In [ ]:
import psycopg2
import psycopg2.extras
import pandas as pd

# Connect to your postgres DB
conn = psycopg2.connect(
    host="localhost",
    dbname="ml",
    user="mapsa",
    password="mapsa1234")

# pandas dataframe
# df = pd.read_sql_query("SELECT * FROM users", conn)

# Open a cursor to perform database operations
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
# cur = conn.cursor()


# find users
cur.execute("SELECT username FROM users")

### sqlalchemy is big orm i want you use peewe orm that give you a hand in making queries
1-use it to make sqlite database with name and day(date kind)scheme that named peewedb.db and create it

In [1]:
pip install peewee

Collecting peewee
  Downloading peewee-3.15.4.tar.gz (860 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 860.9/860.9 kB 939.4 kB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Installing collected packages: peewee
  DEPRECATION: peewee is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for peewee ... done
Successfully installed peewee-3.15.4
Note: you may need to restart the kernel to use updated packages.

2- add two row in your database first on is (name=azaddel and day= (1991,2,14) and second one is (name=yourname, day=yourbirthday) and save it to peewedb datbase in person table

In [9]:
from datetime import date

In [31]:
from peewee import *
db = SqliteDatabase('peewedb.db')



class Meta:
    database = db
    db_table='Person'
class Person(Base):
    name = CharField()
    day = DateField()



db.create_tables([Person])

Azad = Person(name='azaddel', day=date(1991, 2, 14))
me = Person(name='Arian', day=date(1991, 2, 4))
Azad.save()
me.save()

1

3- filter the table with rows that their name is equal to your name

In [37]:
rows=Person.select().where (Person.name == 'Arian')

for row in rows:

    print(row.name, row.day)

Arian 1991-02-04
Arian 1991-02-04