# Questions and Results

## docker

### 1- write a command to make  postgres container from 3.9 version with volume that connect "/etc/" of host to "/var/lib/postgresql/data" of docker  user="me" pass="me@pass" in detached mode and name it "mypostgrescontainer"

### 2 - we made the above docker we want write a function in python to find the status of it (EXITED,RUNNING,PAUSED,...) waht is your suggestion command?

### 3- با استفاده از دادگان ارائه شده محاسبه کنید هر مشتری چند درصد از هر محصول را خریده است. (با دقت دهگان درصد)

In [9]:
cpm_p_table

          Count                               Volume
Product     P01               P03                P02
Model       M01   M02   M03   M01   M02   M03    M01   M02   M03
Customer
CI100019    NaN  70.0  80.0  20.0  40.0  60.0    NaN  40.0  10.0
CI100021  100.0   NaN  20.0  40.0  30.0  40.0   10.0  20.0  50.0
CI100028    NaN  30.0   NaN  40.0  20.0   NaN   90.0  30.0  40.0

### 4- به هر سطر لیست دادگان میزان کل محصول خریداری شده اضافه کنید و بنا به شماره مشتری، محصول و مدل مرتب کنید

In [149]:
ordered_list_sorted

                        Count_old  Volume_old  Count_total  Volume_total
Customer Product Model
CI100019 P01     M02          9.0         NaN         32.0      0.000000
                 M02         14.0         NaN         32.0      0.000000
                 M03         10.0         NaN         12.0      0.000000
         P02     M02          NaN    1.723917          0.0      3.838595
                 M03          NaN    1.370358          0.0     11.298089
         P03     M01         21.0         NaN        104.0      0.000000
                 M02         61.0         NaN        337.0      0.000000
                 M02         81.0         NaN        337.0      0.000000
                 M03         51.0         NaN         92.0      0.000000
CI100021 P01     M01          1.0         NaN          1.0      0.000000
                 M03          2.0         NaN         12.0      0.000000
         P02     M01          NaN    0.427100          0.0      7.562549
                 M02          NaN    0.948237          0.0      3.838595
                 M03          NaN    3.607547          0.0     11.298089
                 M03          NaN    1.910294          0.0     11.298089
         P03     M01         31.0         NaN        104.0      0.000000
                 M01         11.0         NaN        104.0      0.000000
                 M02         31.0         NaN        337.0      0.000000
                 M02         31.0         NaN        337.0      0.000000
                 M02         51.0         NaN        337.0      0.000000
                 M03         41.0         NaN         92.0      0.000000
CI100028 P01     M02          9.0         NaN         32.0      0.000000
         P02     M01          NaN    5.455363          0.0      7.562549
                 M01          NaN    1.680085          0.0      7.562549
                 M02          NaN    0.267710          0.0      3.838595
                 M02          NaN    0.898730          0.0      3.838595
                 M03          NaN    3.574533          0.0     11.298089
                 M03          NaN    0.835356          0.0     11.298089
         P03     M01         41.0         NaN        104.0      0.000000
                 M02         11.0         NaN        337.0      0.000000
                 M02         71.0         NaN        337.0      0.000000

# solution

In [141]:
import pandas as pd

In [143]:
data = pd.read_csv('quize_pandas.zip', compression='zip')

In [144]:
data.head(5)

   Customer Product Model  Count    Volume
0  CI100019     P03   M01   21.0       NaN
1  CI100028     P01   M02    9.0       NaN
2  CI100019     P01   M02    9.0       NaN
3  CI100019     P02   M03    NaN  1.370358
4  CI100019     P03   M02   61.0       NaN

### 5- Write a Pandas program to extract email from  column .

In [137]:
import pandas as pd
import re as re
df = pd.DataFrame({
    'email': ['samin@gmail.com','mohammad gm@yahoo.com','sara rp@abc.io', 'salvia', 'mehrdad.gm@github.com']
    })

In [138]:
df

                   email
0        samin@gmail.com
1  mohammad gm@yahoo.com
2         sara rp@abc.io
3                 salvia
4  mehrdad.gm@github.com

In [140]:
df

                   email            valid_email
0        samin@gmail.com        samin@gmail.com
1  mohammad gm@yahoo.com           gm@yahoo.com
2         sara rp@abc.io              rp@abc.io
3                 salvia
4  mehrdad.gm@github.com  mehrdad.gm@github.com

## review:

### 6- make the plaot with bokeh like titanic.html file x axis is age y axis is survived and bolding of circles are according to Fare when you hover each circle it should show some extra informations