answer below questions
1-what is diffrent betwee select and select distinct
SELECT shows all the records that satisfy the condition after WHERE, whereas SELECT DISTINCT does not show repetitive values in the columns returned. It only shows the unique combinations.

2- with sql how do you select all the records from the table named"Person" where the value of the column"FirstName" starts with an "a"
SELECT * FROM Person WHERE FirstName LIKE 'a%';

3-what does truncate do
TRUNCATE empties out the table, but it retains the table schema.

4-with which sql command you can change table schema ? make an example
It can be done by using ALTER TABLE.
ALTER TABLE Person DROP COLUMN FirstName

5-how do you cahnge a record that saved in table
By using UPDATE and WHERE simultaneasly
UPDATE Person FirstName = Omid WHERE FirstName LIKE 'A%';

6-what is the meaning of pk and foreign key are they diffrent?
Primary key belongs to the table, whereas the foreign key belongs to a different table while being used in the table to link data from both tables.

## from calss
#### fill in the ..... blanks

In [16]:
import sqlite3
conn = sqlite3.connect("titanic.db")
curs = conn.cursor()
curs.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(curs.fetchmany(2))
curs.execute("UPDATE titanic SET IsReverend = 0 WHERE Name NOT LIKE '%Rev%'")
conn.commit()

In [ ]:
import psycopg2
import psycopg2.extras
import pandas as pd

# Connect to your postgres DB
conn = psycopg2.connect(
    host="localhost",
    dbname="ml",
    user="mapsa",
    password="mapsa1234")

# pandas dataframe
# df = pd.read_sql_query("SELECT * FROM users", conn)

# Open a cursor to perform database operations
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
# cur = conn.cursor()


# find users
cur.execute("SELECT username FROM users")

### sqlalchemy is big orm i want you use peewe orm that give you a hand in making queries
1-use it to make sqlite database with name and day(date kind)scheme that named peewedb.db and create it

2- add two row in your database first on is (name=azaddel and day= (1991,2,14) and second one is (name=yourname, day=yourbirthday) and save it to peewedb datbase in person table

3- filter the table with rows that their name is equal to your name

In [20]:
import peewee
from datetime import datetime

In [24]:
db = peewee.SqliteDatabase('peewedbb.db')

In [36]:
class BaseModel(peewee.Model):
    """A base model that will use our Sqlite database."""
    class Meta:
        database = db

class PersonModel(BaseModel):
    name = peewee.CharField(unique=False)
    day = peewee.DateField(unique=False)

In [37]:
db.create_tables([PersonModel])

In [38]:
PersonModel.create(name='Azaddel', day=datetime.strptime('1991,02,14','%Y,%m,%d'))

In [39]:
PersonModel.create(name='Omid', day=datetime.strptime('1990,05,04', '%Y,%m,%d'))

In [54]:
db.commit()