answer below questions
1-what is diffrent betwee select and select distinct

2- with sql how do you select all the records from the table named"Person" where the value of the column"FirstName" starts with an "a"

3-what does truncate do 

4-with which sql command you can change table schema ? make an example

5-how do you cahnge a record that saved in table

6-what is the meaning of pk and foreign key are they diffrent?

Q1:سلکت تمام ستون ها را از جداول انتخاب میکند . اما سلکت دیستینکت تمام ترکیبات منحصر به فرد داده های ردیف را برای جداول پیدا میکند

Q2:SELECT * FROM Person WHERE FirstName LIKE 'a%'

Q3:برای حذف داده ها برای تمام داده های جدول است ولی خود جدول را حذف نمیکند و تعداد ردیف های حذف شده از جدول را بر نمیگرداند

Q4:with ALTER TABLE
example:
ALTER TABLE table_name
ADD new_column_name column_definition

Q5:with update command
example:
UPDATE table_name
SET col1=val1, col2=val2 WHERE condition

Q6:برای اطمینان از منحصر به فرد بودن داده های ستون خاص استفاده میشود و جدول فقط یک کلید اصلی را مجاز می کند:primary key
یک ستون یا گروهی از ستون ها است که یک رابطه ای بین داده های دو جدول ایجاد میکند:Foreign key

## from calss
#### fill in the ..... blanks

In [165]:
import sqlite3
conn = sqlite3.connect("titanic.db")
curs = conn.cursor()
curs.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(curs.fetchmany(2))
curs.execute("UPDATE titanic SET IsReverend = 0 WHERE Name NOT LIKE '%Rev%'")
conn.commit()

In [166]:
import psycopg2
import psycopg2.extras
import pandas as pd

# Connect to your postgres DB
conn = psycopg2.connect(
    host="localhost",
    dbname="ml",
    user="mapsa",
    password="mapsa1234")

# pandas dataframe
# df = pd.read_sql_query("SELECT * FROM users", conn)

# Open a cursor to perform database operations
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
# cur = conn.cursor()


# find users
cur.execute("SELECT username FROM users")

### sqlalchemy is big orm i want you use peewe orm that give you a hand in making queries
1-use it to make sqlite database with name and day(date kind)scheme that named peewedb.db and create it

In [1]:
!pip install peewee

Collecting peewee
  Downloading peewee-3.15.4.tar.gz (860 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (setup.py): started
  Building wheel for peewee (setup.py): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.15.4-py3-none-any.whl size=134777 sha256=38b33b3c99c5d250bcf3193f06a78406f04dab3732aa682bc42acc629a2e7e8b
  Stored in directory: c:\users\sara safi\appdata\local\pip\cache\wheels\85\86\97\f8cb63cd8062bcb1de3973a30bb2629be75d97a413a620022f
Successfully built peewee
Installing collected packages: peewee
Successfully installed peewee-3.15.4

In [167]:
import peewee
from datetime import date

In [168]:
db = SqliteDatabase('peewedb.db')
print(db)

<peewee.SqliteDatabase object at 0x00000018FB769040>

In [169]:
class Person(peewee.Model):
    name = peewee.CharField(primary_key=True)
    day= peewee.DateField()
    class Meta:
    
        database = db
        db_table='Person'

In [170]:
db.connect()

True

In [171]:
db.create_tables([Person])

2- add two row in your database first on is (name=azaddel and day= (1991,2,14) and second one is (name=yourname, day=yourbirthday) and save it to peewedb datbase in person table

In [175]:
rows = [
    {"name": "azaddel", "day":date(1991,2,14)},
    {"name": "Sara", "day": date(1992,8,23)}]
p=Person.insert_many(rows).execute()

3- filter the table with rows that their name is equal to your name

In [176]:
#me.name
rows=Person.select(Person.name).where(Person.name .contains('Sara')).get()
print(rows)

Sara