In [1]:
import pandas as pd
import numpy as np

# Insurance_analysis

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ML3/Exercises/week4/travel_insurance/train.csv')

In [ ]:
df.head()

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

In [ ]:
# df.columns
a=df.columns.tolist()
b=df.columns.values
print(type(a))
print(type(b))

<class 'list'>
<class 'numpy.ndarray'>

One

In [ ]:
r,c=df.shape
print(r,'',c)

1590  10

Two

In [ ]:
df['AnnualIncome'].mean().astype(int)

928553

Three

In [ ]:
df['EverTravelledAbroad'].value_counts()[1]

302

Four

In [ ]:
total=np.round(df['Employment Type'].value_counts(normalize=True)*100)
total.to_frame()

                              Employment Type
Private Sector/Self Employed             73.0
Government Sector                        27.0

Five

In [ ]:
Travel = df.groupby(['ChronicDiseases'])['TravelInsurance'].value_counts(normalize=True)*100
Travel.to_frame()

                                 TravelInsurance
ChronicDiseases TravelInsurance
0               No                     65.764192
                Yes                    34.235808
1               No                     62.471910
                Yes                    37.528090

# supermarket

In [32]:
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ML3/Exercises/week4/supermarket/supermarket.csv')

In [3]:
data.head()

    Customer Id        Date           Product
0  JKML5ZWXP0XQ  2020-07-20    tropical fruit
1  YOGWQIUPDAJ7  2020-04-30        whole milk
2  Q3NL22281AF6  2020-09-18         pip fruit
3  C59GRTLMZQAU  2020-12-11  other vegetables
4  WUSF8LTEQZ5L  2020-01-02        whole milk





One

In [9]:
data['Product'].nunique()

137

Two

In [21]:
data.groupby('Date').size().mean().round(2)

44.93

Three

In [22]:
total=data['Product'].value_counts()
total.tail(4)

bags                     4
baby cosmetics           3
kitchen utensil          1
preservation products    1
Name: Product, dtype: int64

Four

In [34]:
import datetime as dt

In [35]:
data["Date"] = pd.to_datetime(data["Date"] , format="%Y-%m-%d")

In [36]:
(data[(data["Date"] >= pd.to_datetime("2020-01-01")) & (data["Date"] < pd.to_datetime("2021-01-01")) ]
 .groupby(["Customer Id" , "Date"])
 .size())

Customer Id   Date
0011457U6R3Y  2020-10-13    3
00D4E3I1MS2R  2020-07-19    1
              2020-07-27    2
              2020-12-09    2
011K5G14VFYQ  2020-08-31    2
                           ..
ZZ22WYIS9ORL  2020-05-07    3
              2020-08-10    2
              2020-09-08    2
ZZRT1GFUKTZ7  2020-06-13    1
              2020-07-30    2
Length: 6889, dtype: int64

In [38]:
temp = (data[(data["Date"] >= pd.to_datetime("2020-01-01")) & (data["Date"] < pd.to_datetime("2021-01-01"))]
 .groupby(["Customer Id" , "Date"])
 .count())

In [40]:
temp["has_basket"] = 1
temp

                         Product  has_basket
Customer Id  Date
0011457U6R3Y 2020-10-13        3           1
00D4E3I1MS2R 2020-07-19        1           1
             2020-07-27        2           1
             2020-12-09        2           1
011K5G14VFYQ 2020-08-31        2           1
...                          ...         ...
ZZ22WYIS9ORL 2020-05-07        3           1
             2020-08-10        2           1
             2020-09-08        2           1
ZZRT1GFUKTZ7 2020-06-13        1           1
             2020-07-30        2           1

[6889 rows x 2 columns]

Five

In [44]:

d_mapping={
    0:'Monday',
    1:'Tuesday',
    2:'Wednesday',
    3:'Thursday',
    4:'Friday',
    5:'Saturday',
    6:'Sunday'

}

data['Day_Week'] = data['Date'].dt.weekday.map(d_mapping)

In [45]:
data.groupby("Day_Week").size().nlargest(1)

Day_Week
Wednesday    4846
dtype: int64

Six

In [ ]:
##  I dont know

Seven

In [ ]:
## I dont know