شرکتی شما را استخدام کرده تا داده هایی که دیتا آنلیزور شرکت به صورت محرمانه در آورده را تحلیل کنید دیتاهای مورد نیاز گذاشته شده

استفاده کنید catboost راهنمایی: از کتابخانه

یک عکس را به صورت واتر مارک روی عکسی جدید چاپ کرده و گوشه های آن را پیدا کنید

In [ ]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures , StandardScaler
from sklearn.linear_model import Ridge
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# Discover the data

In [57]:
df_train = pd.read_csv('train.csv')

In [58]:
df_train.shape

(188318, 132)

In [59]:
df_train.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [60]:
df_train.tail()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
188313,587620,A,B,A,A,A,A,A,A,B,...,0.242437,0.289949,0.24564,0.30859,0.32935,0.223038,0.220003,0.333292,0.208216,1198.62
188314,587624,A,A,A,A,A,B,A,A,A,...,0.334270,0.382000,0.63475,0.40455,0.47779,0.307628,0.301921,0.318646,0.305872,1108.34
188315,587630,A,B,A,A,A,A,A,B,B,...,0.345883,0.370534,0.24564,0.45808,0.47779,0.445614,0.443374,0.339244,0.503888,5762.64
188316,587632,A,B,A,A,A,A,A,A,B,...,0.704364,0.562866,0.34987,0.44767,0.53881,0.863052,0.852865,0.654753,0.721707,1562.87
188317,587633,B,A,A,B,A,A,A,A,A,...,0.844563,0.533048,0.97123,0.93383,0.83814,0.932195,0.946432,0.810511,0.721460,4751.72

## we have 116 categorical features

In [61]:
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188318 entries, 0 to 188317
Columns: 132 entries, id to loss
dtypes: float64(15), int64(1), object(116)
memory usage: 189.7+ MB
None

In [62]:
df_train.nunique()

id        188318
cat1           2
cat2           2
cat3           2
cat4           2
           ...
cont11       326
cont12       328
cont13       353
cont14     18740
loss      158223
Length: 132, dtype: int64

## see our data seprated by datatype

In [63]:
df_train.describe(include=object)

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,cat107,cat108,cat109,cat110,cat111,cat112,cat113,cat114,cat115,cat116
count,188318,188318,188318,188318,188318,188318,188318,188318,188318,188318,...,188318,188318,188318,188318,188318,188318,188318,188318,188318,188318
unique,2,2,2,2,2,2,2,2,2,2,...,20,11,84,131,16,51,61,19,23,326
top,A,A,A,A,A,A,A,A,A,A,...,F,B,BI,CL,A,E,BM,A,K,HK
freq,141550,106721,177993,128395,123737,131693,183744,177274,113122,160213,...,47310,65512,152918,25305,128395,25148,26191,131693,43866,21061

In [64]:
df_train.select_dtypes(exclude = 'object')

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,0.726300,0.245921,0.187583,0.789639,0.310061,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,0.330514,0.737068,0.592681,0.614134,0.885834,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,0.261841,0.358319,0.484196,0.236924,0.397069,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,0.321594,0.555782,0.527991,0.373816,0.422268,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,0.273204,0.159990,0.527991,0.473202,0.704268,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188313,587620,0.347403,0.785784,0.613660,0.473202,0.939556,0.242437,0.289949,0.24564,0.30859,0.32935,0.223038,0.220003,0.333292,0.208216,1198.62
188314,587624,0.507661,0.555782,0.549770,0.802892,0.704268,0.334270,0.382000,0.63475,0.40455,0.47779,0.307628,0.301921,0.318646,0.305872,1108.34
188315,587630,0.484469,0.785784,0.792378,0.189137,0.482436,0.345883,0.370534,0.24564,0.45808,0.47779,0.445614,0.443374,0.339244,0.503888,5762.64
188316,587632,0.438385,0.422197,0.298977,0.383428,0.340543,0.704364,0.562866,0.34987,0.44767,0.53881,0.863052,0.852865,0.654753,0.721707,1562.87
188317,587633,0.907272,0.620805,0.440642,0.821574,0.281143,0.844563,0.533048,0.97123,0.93383,0.83814,0.932195,0.946432,0.810511,0.721460,4751.72

In [65]:
df_train.select_dtypes(exclude = 'float64')

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cat107,cat108,cat109,cat110,cat111,cat112,cat113,cat114,cat115,cat116
0,1,A,B,A,B,A,A,A,A,B,...,J,G,BU,BC,C,AS,S,A,O,LB
1,2,A,B,A,A,A,A,A,A,B,...,K,K,BI,CQ,A,AV,BM,A,O,DP
2,5,A,B,A,A,B,A,A,A,B,...,F,A,AB,DK,A,C,AF,A,I,GK
3,10,B,B,A,B,A,A,A,A,B,...,K,K,BI,CS,C,N,AE,A,O,DJ
4,11,A,B,A,B,A,A,A,A,B,...,G,B,H,C,C,Y,BM,A,K,CK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188313,587620,A,B,A,A,A,A,A,A,B,...,G,B,BI,EG,A,G,BM,A,L,CK
188314,587624,A,A,A,A,A,B,A,A,A,...,F,B,BI,BT,A,AV,AU,E,J,DF
188315,587630,A,B,A,A,A,A,A,B,B,...,F,B,BI,DM,A,W,AF,A,K,DJ
188316,587632,A,B,A,A,A,A,A,A,B,...,J,K,BI,AI,A,AS,AJ,A,O,MD
188317,587633,B,A,A,B,A,A,A,A,A,...,G,G,BI,EG,K,AS,AD,A,O,MJ

In [66]:
df_train.columns

Index(['id', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9',
       ...
       'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12',
       'cont13', 'cont14', 'loss'],
      dtype='object', length=132)

# convert categorical to numeric

In [67]:
pip install category_encoders

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: category_encoders in /home/ali/.local/lib/python3.10/site-packages (2.6.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /home/ali/.local/lib/python3.10/site-packages (from category_encoders) (1.2.1)
Requirement already satisfied: numpy>=1.14.0 in /home/ali/.local/lib/python3.10/site-packages (from category_encoders) (1.24.1)
Requirement already satisfied: statsmodels>=0.9.0 in /home/ali/.local/lib/python3.10/site-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pandas>=1.0.5 in /home/ali/.local/lib/python3.10/site-packages (from category_encoders) (1.5.3)
Requirement already satisfied: scipy>=1.0.0 in /home/ali/.local/lib/python3.10/site-packages (from category_encoders) (1.10.0)
Requirement already satisfied: patsy>=0.5.1 in /home/ali/.local/lib/python3.10/site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pytz>=2020.1 in /home/ali/.local/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ali/.local/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /home/ali/.local/lib/python3.10/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ali/.local/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /home/ali/.local/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: packaging>=21.3 in /usr/lib/python3.10/site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/lib/python3.10/site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)
Note: you may need to restart the kernel to use updated packages.

In [68]:
import category_encoders as ce

In [69]:
X = df_train.iloc[: , :-1]
y = df_train["loss"]

In [70]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2 , random_state=20)

In [71]:
cbe_encoder = ce.cat_boost.CatBoostEncoder()
  
# Fit encoder and transform the features
cbe_encoder.fit(X_train, y_train)
X_train = cbe_encoder.transform(X_train)
X_test =  cbe_encoder.transform(X_test)

In [73]:
X_train.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
69757,218124,1912.083202,2452.537896,2899.130353,2821.453590,3455.340998,3254.132547,2904.540227,2967.988348,2511.369450,...,0.281143,0.655021,0.481161,0.45883,0.76280,0.51111,0.682315,0.669033,0.723122,0.679136
77241,241633,3402.820910,3792.457666,2899.130353,2821.453590,3455.340998,3254.132547,2904.540227,2967.988348,2511.369450,...,0.281143,0.829824,0.757347,0.82598,0.58325,0.79863,0.784967,0.772574,0.862949,0.701420
59852,187485,3402.820910,3792.457666,2899.130353,3483.100636,3455.340998,3254.132547,2904.540227,2967.988348,3818.260314,...,0.551723,0.456946,0.589494,0.31280,0.44352,0.53328,0.771508,0.758883,0.336261,0.313226
89929,281324,3402.820910,2452.537896,5344.858297,3483.100636,2811.871010,2517.483703,2904.540227,2967.988348,2511.369450,...,0.281143,0.442105,0.679561,0.28280,0.50420,0.43919,0.742852,0.780521,0.253506,0.732498
172640,538721,1912.083202,2452.537896,2899.130353,3483.100636,2811.871010,2517.483703,2904.540227,2967.988348,2511.369450,...,0.281143,0.290374,0.929871,0.30768,0.19464,0.40666,0.661688,0.648446,0.167982,0.822818

In [79]:
X_train = X_train.values
X_test = X_test.values

In [80]:
X_train.shape

(150654, 131)

## we have too many features so we use PCA to reduse dimension

In [ ]:
from sklearn.preprocessing import PolynomialFeatures , StandardScaler

ridge_poly_model = make_pipeline( StandardScaler() ,
                                  PolynomialFeatures(degree=2 , include_bias=False ) ,
                                  Ridge(alpha=100))
ridge_poly_model.fit( X_train , y_train)
y_predict_ridge_poly = ridge_poly_model.predict(X_test)