In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ML3/Exercises/quizes/quize.1/quize_pandas.csv')

# Questions and Results

با استفاده از دادگان ارائه شده محاسبه کنید هر مشتری چند درصد از هر محصول را خریده است. (با دقت دهگان درصد)

In [8]:
data1=pd.pivot_table(data,index=['Customer'],columns=['Product','Model'],fill_value=0).round(2)
data1

         Count                                      Volume                \
Product    P01           P02         P03               P01           P02
Model      M01   M02 M03 M01 M02 M03 M01    M02 M03    M01 M02 M03   M01
Customer
CI100019     0  11.5  10   0   0   0  21  71.00  51      0   0   0  0.00
CI100021     1   0.0   2   0   0   0  21  37.67  41      0   0   0  0.43
CI100028     0   9.0   0   0   0   0  41  41.00   0      0   0   0  3.57


Product              P03
Model      M02   M03 M01 M02 M03
Customer
CI100019  1.72  1.37   0   0   0
CI100021  0.95  2.76   0   0   0
CI100028  0.58  2.20   0   0   0

به هر سطر لیست دادگان میزان کل محصول خریداری شده اضافه کنید و بنا به شماره مشتری، محصول و مدل مرتب کنید

In [12]:
data.head(5)

   Customer Product Model  Count    Volume
0  CI100019     P03   M01   21.0       NaN
1  CI100028     P01   M02    9.0       NaN
2  CI100019     P01   M02    9.0       NaN
3  CI100019     P02   M03    NaN  1.370358
4  CI100019     P03   M02   61.0       NaN

In [14]:
data2 = pd.pivot_table(data,values=("Count","Volume"),index=["Customer","Product","Model"], 
               aggfunc="first").sort_values("Model", ascending=False, axis=0).round(1)
a=data.groupby(["Customer","Product","Model"])[["Count"]].sum()
a.rename(columns={"Count":"tCount_total"},inplace=True)

d = data.groupby(["Customer","Product","Model"])[["Volume"]].sum().round(1)
d.rename(columns={"Volume":"tVolume_total"},inplace=True)

pd.concat([data2,a,d], axis="columns")

                        Count  Volume  tCount_total  tVolume_total
Customer Product Model
CI100019 P01     M02      9.0     NaN          23.0            0.0
                 M03     10.0     NaN          10.0            0.0
         P02     M02      NaN     1.7           0.0            1.7
                 M03      NaN     1.4           0.0            1.4
         P03     M01     21.0     NaN          21.0            0.0
                 M02     61.0     NaN         142.0            0.0
                 M03     51.0     NaN          51.0            0.0
CI100021 P01     M01      1.0     NaN           1.0            0.0
                 M03      2.0     NaN           2.0            0.0
         P02     M01      NaN     0.4           0.0            0.4
                 M02      NaN     0.9           0.0            0.9
                 M03      NaN     3.6           0.0            5.5
         P03     M01     31.0     NaN          42.0            0.0
                 M02     31.0     NaN         113.0            0.0
                 M03     41.0     NaN          41.0            0.0
CI100028 P01     M02      9.0     NaN           9.0            0.0
         P02     M01      NaN     5.5           0.0            7.1
                 M02      NaN     0.3           0.0            1.2
                 M03      NaN     3.6           0.0            4.4
         P03     M01     41.0     NaN          41.0            0.0
                 M02     11.0     NaN          82.0            0.0