In [168]:
import pandas as pd
import numpy as np

In [169]:
data = pd.read_csv('quize_pandas.csv')
data.head()

   Customer Product Model  Count    Volume
0  CI100019     P03   M01   21.0       NaN
1  CI100028     P01   M02    9.0       NaN
2  CI100019     P01   M02    9.0       NaN
3  CI100019     P02   M03    NaN  1.370358
4  CI100019     P03   M02   61.0       NaN

# Questions and Results

با استفاده از دادگان ارائه شده محاسبه کنید هر مشتری چند درصد از هر محصول را خریده است. (با دقت دهگان درصد)

In [171]:
data2 = pd.pivot_table(data,index=["Customer"],columns=["Product","Model"]).round(1)
data2

         Count                               Volume
Product    P01               P03                P02
Model      M01   M02   M03   M01   M02   M03    M01  M02  M03
Customer
CI100019   NaN  11.5  10.0  21.0  71.0  51.0    NaN  1.7  1.4
CI100021   1.0   NaN   2.0  21.0  37.7  41.0    0.4  0.9  2.8
CI100028   NaN   9.0   NaN  41.0  41.0   NaN    3.6  0.6  2.2

In [ ]:
به هر سطر لیست دادگان میزان کل محصول خریداری شده اضافه کنید و بنا به شماره مشتری، محصول و مدل مرتب کنید

In [165]:
data2 = pd.pivot_table(data,values=("Count","Volume"),index=["Customer","Product","Model"], 
               aggfunc="first").sort_values("Model", ascending=False, axis=0).round(1)

c = data.groupby(["Customer","Product","Model"])[["Count"]].sum()
c.rename(columns={"Count":"tCount_total"},inplace=True)

d = data.groupby(["Customer","Product","Model"])[["Volume"]].sum().round(1)
d.rename(columns={"Volume":"tVolume_total"},inplace=True)

pd.concat([data2,c,d], axis="columns")

                        Count  Volume  tCount_total  tVolume_total
Customer Product Model
CI100019 P01     M02      9.0     NaN          23.0            0.0
                 M03     10.0     NaN          10.0            0.0
         P02     M02      NaN     1.7           0.0            1.7
                 M03      NaN     1.4           0.0            1.4
         P03     M01     21.0     NaN          21.0            0.0
                 M02     61.0     NaN         142.0            0.0
                 M03     51.0     NaN          51.0            0.0
CI100021 P01     M01      1.0     NaN           1.0            0.0
                 M03      2.0     NaN           2.0            0.0
         P02     M01      NaN     0.4           0.0            0.4
                 M02      NaN     0.9           0.0            0.9
                 M03      NaN     3.6           0.0            5.5
         P03     M01     31.0     NaN          42.0            0.0
                 M02     31.0     NaN         113.0            0.0
                 M03     41.0     NaN          41.0            0.0
CI100028 P01     M02      9.0     NaN           9.0            0.0
         P02     M01      NaN     5.5           0.0            7.1
                 M02      NaN     0.3           0.0            1.2
                 M03      NaN     3.6           0.0            4.4
         P03     M01     41.0     NaN          41.0            0.0
                 M02     11.0     NaN          82.0            0.0