In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('quize_pandas.zip', compression='zip')
data.head(5)

   Customer Product Model  Count    Volume
0  CI100019     P03   M01   21.0       NaN
1  CI100028     P01   M02    9.0       NaN
2  CI100019     P01   M02    9.0       NaN
3  CI100019     P02   M03    NaN  1.370358
4  CI100019     P03   M02   61.0       NaN

# Questions and Results

با استفاده از دادگان ارائه شده محاسبه کنید هر مشتری چند درصد از هر محصول را خریده است. (با دقت دهگان درصد)

In [7]:
total = data.groupby('Product')['Count'].transform('sum')
data['Count'] =np.round (data['Count'].div(total)*100)
result=data.pivot_table(data,index=['Customer'],columns=['Product','Model'], aggfunc='first')
result

         Count                                 Volume
Product    P01              P03                   P02
Model      M01   M02   M03  M01   M02   M03       M01       M02       M03
Customer
CI100019   NaN  20.0  22.0  4.0  11.0  10.0       NaN  1.723917  1.370358
CI100021   2.0   NaN   4.0  6.0   6.0   8.0  0.427100  0.948237  3.607547
CI100028   NaN  20.0   NaN  8.0   2.0   NaN  5.455363  0.267710  3.574533

به هر سطر لیست دادگان میزان کل محصول خریداری شده اضافه کنید و بنا به شماره مشتری، محصول و مدل مرتب کنید

In [4]:
data['count_total'] = data.groupby(['Product','Model'], sort=False)['Count'].transform('sum')
data['volume_total'] = data.groupby(['Product','Model'], sort=False)['Volume'].transform('sum')
data.to_csv('new.csv')
data1 = pd.read_csv('new.csv',sep=',')
pivot = pd.pivot_table(data1, values=('Count','Volume','count_total','volume_total'), 
                        index=['Customer', 'Product','Model'], aggfunc='first')
pivot

                        Count    Volume  count_total  volume_total
Customer Product Model
CI100019 P01     M02      9.0       NaN         32.0      0.000000
                 M03     10.0       NaN         12.0      0.000000
         P02     M02      NaN  1.723917          0.0      3.838595
                 M03      NaN  1.370358          0.0     11.298089
         P03     M01     21.0       NaN        104.0      0.000000
                 M02     61.0       NaN        337.0      0.000000
                 M03     51.0       NaN         92.0      0.000000
CI100021 P01     M01      1.0       NaN          1.0      0.000000
                 M03      2.0       NaN         12.0      0.000000
         P02     M01      NaN  0.427100          0.0      7.562549
                 M02      NaN  0.948237          0.0      3.838595
                 M03      NaN  3.607547          0.0     11.298089
         P03     M01     31.0       NaN        104.0      0.000000
                 M02     31.0       NaN        337.0      0.000000
                 M03     41.0       NaN         92.0      0.000000
CI100028 P01     M02      9.0       NaN         32.0      0.000000
         P02     M01      NaN  5.455363          0.0      7.562549
                 M02      NaN  0.267710          0.0      3.838595
                 M03      NaN  3.574533          0.0     11.298089
         P03     M01     41.0       NaN        104.0      0.000000
                 M02     11.0       NaN        337.0      0.000000