In [28]:
import pandas as pd
import numpy as np

In [46]:
cpm_p_table = pd.read_csv('quize_pandas.zip', compression='zip')
cpm_p_table_total=cpm_p_table.groupby(by='Product').sum()
cpm_p_table_customer

                 Count                 Volume
Model              M01    M02   M03       M01       M02       M03
Customer Product
CI100019 P01       NaN   23.0  10.0       NaN  0.000000  0.000000
         P02       NaN    0.0   0.0       NaN  1.723917  1.370358
         P03      21.0  142.0  51.0  0.000000  0.000000  0.000000
CI100021 P01       1.0    NaN   2.0  0.000000       NaN  0.000000
         P02       0.0    0.0   0.0  0.427100  0.948237  5.517841
         P03      42.0  113.0  41.0  0.000000  0.000000  0.000000
CI100028 P01       NaN    9.0   NaN       NaN  0.000000       NaN
         P02       0.0    0.0   0.0  7.135449  1.166441  4.409889
         P03      41.0   82.0   NaN  0.000000  0.000000       NaN

# Questions and Results

با استفاده از دادگان ارائه شده محاسبه کنید هر مشتری چند درصد از هر محصول را خریده است. (با دقت دهگان درصد)

In [49]:
cpm_p_table_customer=pd.pivot_table(cpm_p_table,values=['Count','Volume'],index=['Customer','Product'],columns='Model',aggfunc=np.sum)
cpm_p_table_customer['Volume_total']=cpm_p_table_customer.sum(axis=1)
total_p01=cpm_p_table_total.loc['P01']['Count']
total_p02=cpm_p_table_total.loc['P02']['Volume']
total_p03=cpm_p_table_total.loc['P03']['Count']
totals=[total_p01,total_p02,total_p03]
number=0
def share (x):
    global number
    position=number%3
    share=(x/totals[position])*100
    number+=1
    return share
cpm_p_table_customer['share']=cpm_p_table_customer['Volume_total'].apply(share)
cpm_p_table_customer

                 Count                 Volume                      \
Model              M01    M02   M03       M01       M02       M03
Customer Product
CI100019 P01       NaN   23.0  10.0       NaN  0.000000  0.000000
         P02       NaN    0.0   0.0       NaN  1.723917  1.370358
         P03      21.0  142.0  51.0  0.000000  0.000000  0.000000
CI100021 P01       1.0    NaN   2.0  0.000000       NaN  0.000000
         P02       0.0    0.0   0.0  0.427100  0.948237  5.517841
         P03      42.0  113.0  41.0  0.000000  0.000000  0.000000
CI100028 P01       NaN    9.0   NaN       NaN  0.000000       NaN
         P02       0.0    0.0   0.0  7.135449  1.166441  4.409889
         P03      41.0   82.0   NaN  0.000000  0.000000       NaN

                 Volume_total      share
Model
Customer Product
CI100019 P01        33.000000  73.333333
         P02         3.094276  13.631632
         P03       214.000000  40.150094
CI100021 P01         3.000000   6.666667
         P02         6.893179  30.367454
         P03       196.000000  36.772983
CI100028 P01         9.000000  20.000000
         P02        12.711778  56.000915
         P03       123.000000  23.076923

به هر سطر لیست دادگان میزان کل محصول خریداری شده اضافه کنید و بنا به شماره مشتری، محصول و مدل مرتب کنید

In [10]:
cpm_p_table_customer

                        Count    Volume  Count_total  Volume_total
Customer Product Model
CI100019 P01     M02      9.0       NaN         32.0      0.000000
                 M02     14.0       NaN         32.0      0.000000
                 M03     10.0       NaN         12.0      0.000000
         P02     M02      NaN  1.723917          0.0      3.838595
                 M03      NaN  1.370358          0.0     11.298089
         P03     M01     21.0       NaN        104.0      0.000000
                 M02     61.0       NaN        337.0      0.000000
                 M02     81.0       NaN        337.0      0.000000
                 M03     51.0       NaN         92.0      0.000000
CI100021 P01     M01      1.0       NaN          1.0      0.000000
                 M03      2.0       NaN         12.0      0.000000
         P02     M01      NaN  0.427100          0.0      7.562549
                 M02      NaN  0.948237          0.0      3.838595
                 M03      NaN  3.607547          0.0     11.298089
                 M03      NaN  1.910294          0.0     11.298089
         P03     M01     31.0       NaN        104.0      0.000000
                 M01     11.0       NaN        104.0      0.000000
                 M02     31.0       NaN        337.0      0.000000
                 M02     31.0       NaN        337.0      0.000000
                 M02     51.0       NaN        337.0      0.000000
                 M03     41.0       NaN         92.0      0.000000
CI100028 P01     M02      9.0       NaN         32.0      0.000000
         P02     M01      NaN  5.455363          0.0      7.562549
                 M01      NaN  1.680085          0.0      7.562549
                 M02      NaN  0.267710          0.0      3.838595
                 M02      NaN  0.898730          0.0      3.838595
                 M03      NaN  3.574533          0.0     11.298089
                 M03      NaN  0.835356          0.0     11.298089
         P03     M01     41.0       NaN        104.0      0.000000
                 M02     11.0       NaN        337.0      0.000000
                 M02     71.0       NaN        337.0      0.000000