In [23]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('quize_pandas.zip', compression='zip')

In [39]:
data = pd.read_csv('quize_pandas.csv')
print(data.head(10))

   Customer Product Model  Count    Volume
0  CI100019     P03   M01   21.0       NaN
1  CI100028     P01   M02    9.0       NaN
2  CI100019     P01   M02    9.0       NaN
3  CI100019     P02   M03    NaN  1.370358
4  CI100019     P03   M02   61.0       NaN
5  CI100021     P03   M02   31.0       NaN
6  CI100028     P02   M01    NaN  5.455363
7  CI100021     P03   M01   31.0       NaN
8  CI100021     P03   M01   11.0       NaN
9  CI100028     P02   M03    NaN  3.574533

# Questions and Results

با استفاده از دادگان ارائه شده محاسبه کنید هر مشتری چند درصد از هر محصول را خریده است. (با دقت دهگان درصد)

In [28]:
data.dropna(subset=['Count'],inplace=True)
data['percent']=data['Count']/data['Count'].sum()*100
# # data.round(1)
data= data.round({'percent': 1})

data.head(2)

   Customer Product Model  Count  Volume  percent
0  CI100019     P03   M01   21.0     NaN      3.6
1  CI100028     P01   M02    9.0     NaN      1.6

In [31]:
 pv=pd.pivot_table(data, values='percent', index=['Customer', 'Product','Model'], aggfunc=np.sum)
pv

                        percent
Customer Product Model
CI100019 P01     M02        4.0
                 M03        1.7
         P03     M01        3.6
                 M02       24.6
                 M03        8.8
CI100021 P01     M01        0.2
                 M03        0.3
         P03     M01        7.3
                 M02       19.6
                 M03        7.1
CI100028 P01     M02        1.6
         P03     M01        7.1
                 M02       14.2

به هر سطر لیست دادگان میزان کل محصول خریداری شده اضافه کنید و بنا به شماره مشتری، محصول و مدل مرتب کنید

In [32]:
 pv2=pd.pivot_table(data, values='Count', index=['Product','Model'], aggfunc=np.sum)
pv2

               Count
Product Model
P01     M01      1.0
        M02     32.0
        M03     12.0
P03     M01    104.0
        M02    337.0
        M03     92.0

In [38]:
result = pd.merge(data, pv2, on=["Product", "Model"])
result.rename(columns={'Count_y':'count_total','Count_x':'Count'}, inplace=True)
result.head(2)

   Customer Product Model  Count  Volume  percent  count_total
0  CI100019     P03   M01   21.0     NaN      3.6        104.0
1  CI100021     P03   M01   31.0     NaN      5.4        104.0

In [42]:
result['percent']=result['Count']/result['count_total']*100
# # data.round(1)
result= result.round({'percent': 1})
result.head(2)

   Customer Product Model  Count  Volume  percent  count_total
0  CI100019     P03   M01   21.0     NaN     20.2        104.0
1  CI100021     P03   M01   31.0     NaN     29.8        104.0

In [52]:
pv3=pd.pivot_table(result, values='percent', index=['Customer', 'Product','Model','Count','count_total'], aggfunc=np.sum)
pv3

                                          percent
Customer Product Model Count count_total
CI100019 P01     M02   9.0   32.0            28.1
                       14.0  32.0            43.8
                 M03   10.0  12.0            83.3
         P03     M01   21.0  104.0           20.2
                 M02   61.0  337.0           18.1
                       81.0  337.0           24.0
                 M03   51.0  92.0            55.4
CI100021 P01     M01   1.0   1.0            100.0
                 M03   2.0   12.0            16.7
         P03     M01   11.0  104.0           10.6
                       31.0  104.0           29.8
                 M02   31.0  337.0           18.4
                       51.0  337.0           15.1
                 M03   41.0  92.0            44.6
CI100028 P01     M02   9.0   32.0            28.1
         P03     M01   41.0  104.0           39.4
                 M02   11.0  337.0            3.3
                       71.0  337.0           21.1