In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('quize_pandas.zip', compression='zip')

# Questions and Results

با استفاده از دادگان ارائه شده محاسبه کنید هر مشتری چند درصد از هر محصول را خریده است. (با دقت دهگان درصد)

In [3]:
data

    Customer Product Model  Count    Volume
0   CI100019     P03   M01   21.0       NaN
1   CI100028     P01   M02    9.0       NaN
2   CI100019     P01   M02    9.0       NaN
3   CI100019     P02   M03    NaN  1.370358
4   CI100019     P03   M02   61.0       NaN
5   CI100021     P03   M02   31.0       NaN
6   CI100028     P02   M01    NaN  5.455363
7   CI100021     P03   M01   31.0       NaN
8   CI100021     P03   M01   11.0       NaN
9   CI100028     P02   M03    NaN  3.574533
10  CI100021     P01   M03    2.0       NaN
11  CI100028     P03   M02   11.0       NaN
12  CI100021     P02   M01    NaN  0.427100
13  CI100028     P03   M01   41.0       NaN
14  CI100021     P02   M02    NaN  0.948237
15  CI100021     P02   M03    NaN  3.607547
16  CI100019     P03   M03   51.0       NaN
17  CI100028     P03   M02   71.0       NaN
18  CI100019     P01   M03   10.0       NaN
19  CI100021     P02   M03    NaN  1.910294
20  CI100028     P02   M02    NaN  0.267710
21  CI100021     P03   M02   31.0       NaN
22  CI100028     P02   M03    NaN  0.835356
23  CI100028     P02   M01    NaN  1.680085
24  CI100021     P03   M03   41.0       NaN
25  CI100028     P02   M02    NaN  0.898730
26  CI100021     P01   M01    1.0       NaN
27  CI100021     P03   M02   51.0       NaN
28  CI100019     P01   M02   14.0       NaN
29  CI100019     P02   M02    NaN  1.723917
30  CI100019     P03   M02   81.0       NaN

In [ ]:
def agg(x):

In [4]:
df = pd.pivot_table(data=data,values=["Count","Volume"] ,columns=["Product","Model" ], aggfunc="sum", index = "Customer")

In [14]:
df = df.fillna(0)

In [18]:
df = df.apply(lambda x: x / sum(x))

In [20]:
df = df.dropna(axis=1)

In [22]:
df.apply(lambda x:round(100*x,2))

          Count                                    Volume
Product     P01                  P03                  P02
Model       M01    M02    M03    M01    M02    M03    M01    M02    M03
Customer
CI100019    0.0  71.88  83.33  20.19  42.14  55.43   0.00  44.91  12.13
CI100021  100.0   0.00  16.67  40.38  33.53  44.57   5.65  24.70  48.84
CI100028    0.0  28.12   0.00  39.42  24.33   0.00  94.35  30.39  39.03

In [9]:
cpm_p_table

          Count                               Volume
Product     P01               P03                P02
Model       M01   M02   M03   M01   M02   M03    M01   M02   M03
Customer
CI100019    NaN  70.0  80.0  20.0  40.0  60.0    NaN  40.0  10.0
CI100021  100.0   NaN  20.0  40.0  30.0  40.0   10.0  20.0  50.0
CI100028    NaN  30.0   NaN  40.0  20.0   NaN   90.0  30.0  40.0

به هر سطر لیست دادگان میزان کل محصول خریداری شده اضافه کنید و بنا به شماره مشتری، محصول و مدل مرتب کنید

In [10]:
ordered_list_sorted

                        Count    Volume  Count_total  Volume_total
Customer Product Model
CI100019 P01     M02      9.0       NaN         32.0      0.000000
                 M02     14.0       NaN         32.0      0.000000
                 M03     10.0       NaN         12.0      0.000000
         P02     M02      NaN  1.723917          0.0      3.838595
                 M03      NaN  1.370358          0.0     11.298089
         P03     M01     21.0       NaN        104.0      0.000000
                 M02     61.0       NaN        337.0      0.000000
                 M02     81.0       NaN        337.0      0.000000
                 M03     51.0       NaN         92.0      0.000000
CI100021 P01     M01      1.0       NaN          1.0      0.000000
                 M03      2.0       NaN         12.0      0.000000
         P02     M01      NaN  0.427100          0.0      7.562549
                 M02      NaN  0.948237          0.0      3.838595
                 M03      NaN  3.607547          0.0     11.298089
                 M03      NaN  1.910294          0.0     11.298089
         P03     M01     31.0       NaN        104.0      0.000000
                 M01     11.0       NaN        104.0      0.000000
                 M02     31.0       NaN        337.0      0.000000
                 M02     31.0       NaN        337.0      0.000000
                 M02     51.0       NaN        337.0      0.000000
                 M03     41.0       NaN         92.0      0.000000
CI100028 P01     M02      9.0       NaN         32.0      0.000000
         P02     M01      NaN  5.455363          0.0      7.562549
                 M01      NaN  1.680085          0.0      7.562549
                 M02      NaN  0.267710          0.0      3.838595
                 M02      NaN  0.898730          0.0      3.838595
                 M03      NaN  3.574533          0.0     11.298089
                 M03      NaN  0.835356          0.0     11.298089
         P03     M01     41.0       NaN        104.0      0.000000
                 M02     11.0       NaN        337.0      0.000000
                 M02     71.0       NaN        337.0      0.000000

In [187]:
df_2 = data.copy()

In [189]:
df_2

    Customer Product Model  Count    Volume
0   CI100019     P03   M01   21.0       NaN
1   CI100028     P01   M02    9.0       NaN
2   CI100019     P01   M02    9.0       NaN
3   CI100019     P02   M03    NaN  1.370358
4   CI100019     P03   M02   61.0       NaN
5   CI100021     P03   M02   31.0       NaN
6   CI100028     P02   M01    NaN  5.455363
7   CI100021     P03   M01   31.0       NaN
8   CI100021     P03   M01   11.0       NaN
9   CI100028     P02   M03    NaN  3.574533
10  CI100021     P01   M03    2.0       NaN
11  CI100028     P03   M02   11.0       NaN
12  CI100021     P02   M01    NaN  0.427100
13  CI100028     P03   M01   41.0       NaN
14  CI100021     P02   M02    NaN  0.948237
15  CI100021     P02   M03    NaN  3.607547
16  CI100019     P03   M03   51.0       NaN
17  CI100028     P03   M02   71.0       NaN
18  CI100019     P01   M03   10.0       NaN
19  CI100021     P02   M03    NaN  1.910294
20  CI100028     P02   M02    NaN  0.267710
21  CI100021     P03   M02   31.0       NaN
22  CI100028     P02   M03    NaN  0.835356
23  CI100028     P02   M01    NaN  1.680085
24  CI100021     P03   M03   41.0       NaN
25  CI100028     P02   M02    NaN  0.898730
26  CI100021     P01   M01    1.0       NaN
27  CI100021     P03   M02   51.0       NaN
28  CI100019     P01   M02   14.0       NaN
29  CI100019     P02   M02    NaN  1.723917
30  CI100019     P03   M02   81.0       NaN

In [190]:
df_3 = data.groupby(["Customer" , "Product" ,"Model"]).sum()

In [191]:
df_3

                        Count    Volume
Customer Product Model
CI100019 P01     M02     23.0  0.000000
                 M03     10.0  0.000000
         P02     M02      0.0  1.723917
                 M03      0.0  1.370358
         P03     M01     21.0  0.000000
                 M02    142.0  0.000000
                 M03     51.0  0.000000
CI100021 P01     M01      1.0  0.000000
                 M03      2.0  0.000000
         P02     M01      0.0  0.427100
                 M02      0.0  0.948237
                 M03      0.0  5.517841
         P03     M01     42.0  0.000000
                 M02    113.0  0.000000
                 M03     41.0  0.000000
CI100028 P01     M02      9.0  0.000000
         P02     M01      0.0  7.135449
                 M02      0.0  1.166441
                 M03      0.0  4.409889
         P03     M01     41.0  0.000000
                 M02     82.0  0.000000

In [192]:
d=data.groupby(["Model" , "Product"]).sum()

In [194]:
d

               Count     Volume
Model Product
M01   P01        1.0   0.000000
      P02        0.0   7.562549
      P03      104.0   0.000000
M02   P01       32.0   0.000000
      P02        0.0   3.838595
      P03      337.0   0.000000
M03   P01       12.0   0.000000
      P02        0.0  11.298089
      P03       92.0   0.000000

In [186]:
d.index

MultiIndex([('M01', 'P01'),
            ('M01', 'P02'),
            ('M01', 'P03'),
            ('M02', 'P01'),
            ('M02', 'P02'),
            ('M02', 'P03'),
            ('M03', 'P01'),
            ('M03', 'P02'),
            ('M03', 'P03')],
           names=['Model', 'Product'])

In [207]:
df_3["Count total"].loc[costumer,product, model]

0

In [210]:
df_3["Count total"] = 0
df_3["Volume total"] = 0
# df_3
for costumer , product , model in df_3.index:
    df_3["Count total"].loc[costumer,product, model] = d.loc[model , product]["Count"]
    df_3["Volume total"].loc[costumer,product, model] = d.loc[model , product]["Volume"]

C:\Users\aminr\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [211]:
df_3

                        Count    Volume  Count total  Volume total
Customer Product Model
CI100019 P01     M02     23.0  0.000000         32.0      0.000000
                 M03     10.0  0.000000         12.0      0.000000
         P02     M02      0.0  1.723917          0.0      3.838595
                 M03      0.0  1.370358          0.0     11.298089
         P03     M01     21.0  0.000000        104.0      0.000000
                 M02    142.0  0.000000        337.0      0.000000
                 M03     51.0  0.000000         92.0      0.000000
CI100021 P01     M01      1.0  0.000000          1.0      0.000000
                 M03      2.0  0.000000         12.0      0.000000
         P02     M01      0.0  0.427100          0.0      7.562549
                 M02      0.0  0.948237          0.0      3.838595
                 M03      0.0  5.517841          0.0     11.298089
         P03     M01     42.0  0.000000        104.0      0.000000
                 M02    113.0  0.000000        337.0      0.000000
                 M03     41.0  0.000000         92.0      0.000000
CI100028 P01     M02      9.0  0.000000         32.0      0.000000
         P02     M01      0.0  7.135449          0.0      7.562549
                 M02      0.0  1.166441          0.0      3.838595
                 M03      0.0  4.409889          0.0     11.298089
         P03     M01     41.0  0.000000        104.0      0.000000
                 M02     82.0  0.000000        337.0      0.000000