# را توضیح دهید sgd پنالتی ترم های  

l1=losso=قدر مطلق

l2=ridge=توان دوم

# با ریدج و در جه آزادی 0.9 را امتحان کنید sgd مدل classpriceروی داده های

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("classprice.csv")
df.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,class
0,2,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.4,10.0,102,5500,24,30,13950
1,2,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.4,8.0,115,5500,18,22,17450
2,1,158,105.8,192.7,71.4,55.7,2844,136,3.19,3.4,8.5,110,5500,19,25,17710
3,1,158,105.8,192.7,71.4,55.9,3086,131,3.13,3.4,8.3,140,5500,17,20,23875
4,2,192,101.2,176.8,64.8,54.3,2395,108,3.50,2.8,8.8,101,5800,23,29,16430

In [ ]:
X = df.iloc[:, :-1].values
y = df.iloc[:,-1].values

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.3)
st_x= StandardScaler()    
X_train= st_x.fit_transform(X_train)    
X_test= st_x.transform(X_test)

In [ ]:
from sklearn.linear_model import SGDRegressor

In [ ]:
sgd_model = SGDRegressor(penalty='l2', alpha=0.9)
sgd_model.fit(X_train, y_train)

SGDRegressor(alpha=0.9)

In [ ]:
y_predict = sgd_model.predict(X_test)

In [ ]:
from sklearn import metrics

In [ ]:
print("MSE sgd: ", metrics.mean_squared_error(y_test, y_predict))
print("RMSE sgd: ", (metrics.mean_squared_error(y_test, y_predict))**(1/2.0))
print("R2_SCORE sgd: ", metrics.r2_score(y_test, y_predict))
print("MAPE sgd: ", metrics.mean_absolute_percentage_error(y_test, y_predict))
print("MAE sgd: ", metrics.mean_absolute_error(y_test, y_predict))

MSE sgd:  6424660.2419854505
RMSE sgd:  2534.691350438047
R2_SCORE sgd:  0.685194124099125
MAPE sgd:  0.18206397781189268
MAE sgd:  2014.3438513013832

# حال مدل قبلی را در همان هتگامی که بهترین اکسترمم را پیدا کرد نگه دارید و نتیجه را مقایسه کنید

In [ ]:
sgd_model_ = SGDRegressor(penalty='l2', alpha=0.9, early_stopping=True)
sgd_model_.fit(X_train, y_train)

SGDRegressor(alpha=0.9, early_stopping=True)

In [ ]:
y_predict_ = sgd_model_.predict(X_test)

In [ ]:
print("MSE sgd: ", metrics.mean_squared_error(y_test, y_predict_))
print("RMSE sgd: ", (metrics.mean_squared_error(y_test, y_predict_))**(1/2.0))
print("R2_SCORE sgd: ", metrics.r2_score(y_test, y_predict_))
print("MAPE sgd: ", metrics.mean_absolute_percentage_error(y_test, y_predict_))
print("MAE sgd: ", metrics.mean_absolute_error(y_test, y_predict_))

MSE sgd:  6412647.971954546
RMSE sgd:  2532.3206692586436
R2_SCORE sgd:  0.6857827207013116
MAPE sgd:  0.15955644191262366
MAE sgd:  1837.3885651680284

# در حالتی  که از تمام ظرفیت پردازشیه سیستم استفاده میکنید بدون اسکیل کردن روی داده ها امتحان کنید  LinearRegression حال مدل

In [ ]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_predict_lr = lr_model.predict(X_test)

In [ ]:
print("MSE lr: ", metrics.mean_squared_error(y_test, y_predict_lr))
print("RMSE lr: ", (metrics.mean_squared_error(y_test, y_predict_lr))**(1/2.0))
print("R2_SCORE lr: ", metrics.r2_score(y_test, y_predict_lr))
print("MAPE lr: ", metrics.mean_absolute_percentage_error(y_test, y_predict_lr))
print("MAE lr: ", metrics.mean_absolute_error(y_test, y_predict_lr))

MSE lr:  6384872.779572987
RMSE lr:  2526.830579910926
R2_SCORE lr:  0.6871436944239142
MAPE lr:  0.15753857905262783
MAE lr:  1864.5653563021804

# حال مدل بالا را با استادارد اسکل در پایپ لاین امتحان کنید از مقایسه دو نتیجه با هم چه چیزی میفهمید علت را در بیس کد پیدا کنید

In [ ]:
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline
pipe_model = make_pipeline(preprocessing.StandardScaler(), LinearRegression())
pipe_model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [ ]:
y_predict_pipe = pipe_model.predict(X_test)

In [ ]:
print("MSE lr: ", metrics.mean_squared_error(y_test, y_predict_pipe))
print("RMSE lr: ", (metrics.mean_squared_error(y_test, y_predict_pipe))**(1/2.0))
print("R2_SCORE lr: ", metrics.r2_score(y_test, y_predict_pipe))
print("MAPE lr: ", metrics.mean_absolute_percentage_error(y_test, y_predict_pipe))
print("MAE lr: ", metrics.mean_absolute_error(y_test, y_predict_pipe))

MSE lr:  6384872.779572991
RMSE lr:  2526.8305799109266
R2_SCORE lr:  0.6871436944239141
MAPE lr:  0.15753857905262786
MAE lr:  1864.5653563021806

# روی داده های تایتانیک اعمال کنید امتحان کنید  LinearRegression حال مدل

In [ ]:
df2 = pd.read_csv("titanic.csv")
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
x = df.iloc[:,:].values
y = df.iloc[:].values

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
x_train, x_test, Y_train, Y_test = train_test_split(x, y, test_size=0.3)
st_x= StandardScaler()    
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test)

In [ ]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(x_train, Y_train)

LinearRegression()

In [ ]:
Y_predict_lr = lr_model.predict(x_test)

In [ ]:
print("MSE lr: ", metrics.mean_squared_error(Y_test, Y_predict_lr))
print("RMSE lr: ", (metrics.mean_squared_error(Y_test, Y_predict_lr))**(1/2.0))
print("R2_SCORE lr: ", metrics.r2_score(Y_test, Y_predict_lr))
print("MAPE lr: ", metrics.mean_absolute_percentage_error(Y_test, Y_predict_lr))
print("MAE lr: ", metrics.mean_absolute_error(Y_test, Y_predict_lr))

MSE lr:  1.1717409000956342e-24
RMSE lr:  1.0824698148658161e-12
R2_SCORE lr:  1.0
MAPE lr:  0.08072916666666693
MAE lr:  2.1184226248194269e-13