In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("electricity.csv", parse_dates=['DateTime'], index_col='DateTime', na_values=["?"])
data.head()

,Holiday,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SystemLoadEA,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
DateTime,,,,,,,,,,,,,,,,,
2011-01-11 00:00:00,None,0,1,44,1,11,2011,0,315.31,3388.77,49.26,6.0,9.3,600.71,356.0,3159.60,54.32
2011-01-11 00:30:00,None,0,1,44,1,11,2011,1,321.80,3196.66,49.26,6.0,11.1,605.42,317.0,2973.01,54.23
2011-01-11 01:00:00,None,0,1,44,1,11,2011,2,328.57,3060.71,49.10,5.0,11.1,589.97,311.0,2834.00,54.23
2011-01-11 01:30:00,None,0,1,44,1,11,2011,3,335.60,2945.56,48.04,6.0,9.3,585.94,313.0,2725.99,53.47
2011-01-11 02:00:00,None,0,1,44,1,11,2011,4,342.90,2849.34,33.75,6.0,11.1,571.52,346.0,2655.64,39.87

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 37682 entries, 2011-01-11 00:00:00 to 2013-12-31 23:30:00
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Holiday                 37682 non-null  object
 1   HolidayFlag             37682 non-null  int64
 2   DayOfWeek               37682 non-null  int64
 3   WeekOfYear              37682 non-null  int64
 4   Day                     37682 non-null  int64
 5   Month                   37682 non-null  int64
 6   Year                    37682 non-null  int64
 7   PeriodOfDay             37682 non-null  int64
 8   ForecastWindProduction  37682 non-null  float64
 9   SystemLoadEA            37682 non-null  float64
 10  SMPEA                   37682 non-null  float64
 11  ORKTemperature          37682 non-null  float64
 12  ORKWindspeed            37682 non-null  float64
 13  CO2Intensity            37682 non-null  float64
 14  ActualWindProduction    37682 non-null  float64
 15  SystemLoadEP2           37682 non-null  float64
 16  SMPEP2                  37682 non-null  float64
dtypes: float64(9), int64(7), object(1)
memory usage: 5.2+ MB

In [ ]:
data.nunique()

Holiday                      15
HolidayFlag                   2
DayOfWeek                     7
WeekOfYear                   52
Day                          31
Month                        12
Year                          3
PeriodOfDay                  48
ForecastWindProduction    27254
SystemLoadEA              35300
SMPEA                      7322
ORKTemperature               30
ORKWindspeed                 52
CO2Intensity              22328
ActualWindProduction       1535
SystemLoadEP2             35365
SMPEP2                     7790
dtype: int64

In [ ]:
data.describe()

,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SystemLoadEA,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
count,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000,37682.000000
mean,0.037578,2.998355,28.044584,15.707181,6.886789,2012.386577,23.508651,542.871513,4020.753657,62.747428,9.628443,19.209721,479.519761,519.814951,3787.560062,64.181344
std,0.190175,1.998845,15.552428,8.804424,3.566915,0.623780,13.854822,413.725304,860.148265,32.300069,4.439757,9.569069,85.170896,377.879680,842.544909,35.432265
min,0.000000,0.000000,1.000000,1.000000,1.000000,2011.000000,0.000000,0.680000,2183.940000,0.000000,-4.000000,0.000000,0.000000,1.000000,1809.960000,-47.740000
25%,0.000000,1.000000,14.000000,8.000000,4.000000,2012.000000,12.000000,188.927500,3281.780000,45.540000,6.000000,13.000000,421.275000,198.000000,3060.215000,45.800000
50%,0.000000,3.000000,29.000000,16.000000,7.000000,2012.000000,24.000000,440.645000,4105.530000,55.230000,9.000000,18.500000,480.350000,444.000000,3867.220000,55.560000
75%,0.000000,5.000000,43.000000,23.000000,10.000000,2013.000000,36.000000,837.182500,4638.982500,70.320000,13.000000,24.100000,537.540000,792.000000,4427.822500,72.120000
max,1.000000,6.000000,52.000000,31.000000,12.000000,2013.000000,47.000000,1680.000000,6492.910000,587.580000,25.000000,75.900000,842.880000,1769.000000,6309.750000,1000.000000

In [ ]:
df2_ = data[['HolidayFlag',	'DayOfWeek',	'WeekOfYear',	'Day',	'Month',	'Year',	'PeriodOfDay',	'ForecastWindProduction',	'SystemLoadEA',	'SMPEA',	'ORKTemperature',	'ORKWindspeed',	'CO2Intensity',	'ActualWindProduction',	'SystemLoadEP2', 'SMPEP2']]
for i in df2_:
  df2_.sort_values(by=i, ascending=True, na_position='last')
  q1, q3 = np.nanpercentile(df2_[i], [25,75])
  iqr = q3-q1
  lower_bound = q1-(1.5*iqr)
  upper_bound = q3+(1.5*iqr)
  outlier_data = df2_[i][(df2_[i] < lower_bound) | (df2_[i] > upper_bound)] 
  perc = (outlier_data.count()/df2_[i].count())*100
  print('Outliers in %s is %.2f%% with count %.f' %(i, perc, outlier_data.count()))

Outliers in HolidayFlag is 3.76% with count 1416
Outliers in DayOfWeek is 0.00% with count 0
Outliers in WeekOfYear is 0.00% with count 0
Outliers in Day is 0.00% with count 0
Outliers in Month is 0.00% with count 0
Outliers in Year is 0.00% with count 0
Outliers in PeriodOfDay is 0.00% with count 0
Outliers in ForecastWindProduction is 0.00% with count 0
Outliers in SystemLoadEA is 0.00% with count 0
Outliers in SMPEA is 5.45% with count 2054
Outliers in ORKTemperature is 0.15% with count 56
Outliers in ORKWindspeed is 2.37% with count 892
Outliers in CO2Intensity is 0.36% with count 136
Outliers in ActualWindProduction is 0.01% with count 5
Outliers in SystemLoadEP2 is 0.00% with count 0
Outliers in SMPEP2 is 6.13% with count 2309

In [ ]:
Q1 = np.percentile(data[['HolidayFlag', 'SMPEA', 'ORKTemperature', 'ORKWindspeed', 'CO2Intensity', 'SMPEP2', 'ActualWindProduction']], 25,
                   interpolation = 'midpoint')
 
Q3 = np.percentile(data[['HolidayFlag', 'SMPEA', 'ORKTemperature', 'ORKWindspeed', 'CO2Intensity', 'SMPEP2', 'ActualWindProduction']], 75,
                   interpolation = 'midpoint')
IQR = Q3 - Q1

upper = np.where(data[['HolidayFlag', 'SMPEA', 'ORKTemperature', 'ORKWindspeed', 'CO2Intensity', 'SMPEP2', 'ActualWindProduction']] >= (Q3+1.5*IQR))
lower = np.where(data[['HolidayFlag', 'SMPEA', 'ORKTemperature', 'ORKWindspeed', 'CO2Intensity', 'SMPEP2', 'ActualWindProduction']] <= (Q1-1.5*IQR))
 

data.drop(upper[0], inplace = True) 
data.drop(lower[0], inplace = True)

# Linear regression model

# 1

In [ ]:
df = data[['Day',	'Month',	'SystemLoadEA',	'SMPEA',	'ORKTemperature',	'ORKWindspeed',	'CO2Intensity',	'ActualWindProduction',	'SystemLoadEP2', 'SMPEP2']]
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [ ]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(X,y, test_size=0.3)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
linear1 = LinearRegression()
linear1.fit(X1_train, y1_train)
y1_pred = linear1.predict(X1_test)

In [ ]:
print("MSE lr: ", metrics.mean_squared_error(y1_test, y1_pred))
print("RMSE lr: ", (metrics.mean_squared_error(y1_test, y1_pred))**(1/2.0))
print("R2_SCORE lr: ", metrics.r2_score(y1_test, y1_pred))
print("MAPE lr: ", metrics.mean_absolute_percentage_error(y1_test, y1_pred))
print("MAE lr: ", metrics.mean_absolute_error(y1_test, y1_pred))

MSE lr:  747.0182233538299
RMSE lr:  27.331634114224308
R2_SCORE lr:  0.43336168264456665
MAPE lr:  117966242539144.14
MAE lr:  14.644891960939685

# 2

In [ ]:
df = data[['Day',	'Month',	'SystemLoadEA',	'SMPEA',	'ORKTemperature',	'ORKWindspeed',	'CO2Intensity',	'ActualWindProduction',	'SystemLoadEP2', 'SMPEP2']]
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X2_train, X2_test, y2_train, y2_test = train_test_split(X,y, test_size=0.3)
st_x= StandardScaler()    
X2_train= st_x.fit_transform(X2_train)    
X2_test= st_x.transform(X2_test)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
linear2 = LinearRegression()
linear2.fit(X2_train, y2_train)
y2_pred = linear2.predict(X2_test)

In [ ]:
print("MSE lr: ", metrics.mean_squared_error(y2_test, y2_pred))
print("RMSE lr: ", (metrics.mean_squared_error(y2_test, y2_pred))**(1/2.0))
print("R2_SCORE lr: ", metrics.r2_score(y2_test, y2_pred))
print("MAPE lr: ", metrics.mean_absolute_percentage_error(y2_test, y2_pred))
print("MAE lr: ", metrics.mean_absolute_error(y2_test, y2_pred))

MSE lr:  718.0874213083193
RMSE lr:  26.797153231422165
R2_SCORE lr:  0.45112485010901837
MAPE lr:  106602643091576.3
MAE lr:  14.67282191574461

# 3

In [ ]:
df = data[['Day',	'Month',	'SystemLoadEA',	'SMPEA',	'ORKTemperature',	'ORKWindspeed',	'CO2Intensity',	'ActualWindProduction',	'SystemLoadEP2', 'SMPEP2']]
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
X3_train, X3_test, y3_train, y3_test = train_test_split(X,y, test_size=0.3)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
linear3 = make_pipeline(preprocessing.StandardScaler(), LinearRegression())
linear3.fit(X3_train, y3_train)
y3_pred = linear3.predict(X3_test)

In [ ]:
print("MSE lr: ", metrics.mean_squared_error(y3_test, y3_pred))
print("RMSE lr: ", (metrics.mean_squared_error(y3_test, y3_pred))**(1/2.0))
print("R2_SCORE lr: ", metrics.r2_score(y3_test, y3_pred))
print("MAPE lr: ", metrics.mean_absolute_percentage_error(y3_test, y3_pred))
print("MAE lr: ", metrics.mean_absolute_error(y3_test, y3_pred))

MSE lr:  782.3854938054931
RMSE lr:  27.97115467415482
R2_SCORE lr:  0.409262414938536
MAPE lr:  76451388347749.11
MAE lr:  14.440755514021724