In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('table1.csv')
df
#شاخص های منتخب

,شاخص,انتشار,مقدار,تغییر,درصد,بیشترین,کمترین
0,شاخص كل,09:30,"1,412,987.25",(617.75),(0.04),"1,413,629.36","1,413,140.95"
1,شاخص قيمت(وزني-ارزشي),09:30,"321,979.79",(140.77),(0.04),"322,126.10","322,014.81"
2,شاخص كل (هم وزن),09:30,"415,199.01",624.35,0.15,"415,148.11","414,920.05"
3,شاخص قيمت (هم وزن),09:30,"247,217.33",371.75,0.15,"247,187.03","247,051.24"
4,شاخص آزاد شناور,09:30,"1,837,770.60",(900.95),(0.05),"1,838,600.45","1,837,969.19"
5,شاخص بازار اول,09:30,"1,061,786.02",(648.08),(0.06),"1,062,294.80","1,061,912.10"
6,شاخص بازار دوم,09:30,"2,761,516.85",(635.29),(0.02),"2,762,690.33","2,761,784.42"

In [6]:
df=pd.read_csv('table2.csv')
df
#نمادهای پرتراکنش 1

,نماد,قیمت پایانی,آخرین معامله,کمترین,بیشترین,تعداد,حجم,ارزش
0,غزر - صنعتي زر ماكارون,"3,653",4.88,"3,650",4.79,"3,557","3,657","2,809"
1,خودرو - ايران‌ خودرو,"2,513",0.44,"2,505",0.12,"2,477","2,550","2,119"
2,خگستر - گسترش‌سرمايه‌گذاري‌ايران‌خودرو,"3,951",-0.33,"3,936",-0.71,"3,902","3,989","1,915"
3,دانا - بيمه دانا,"2,776",6.56,"2,787",6.99,"2,644","2,787","1,822"
4,شبندر - پالايش نفت بندرعباس,"8,810",-1.12,"8,780",-1.46,"8,760","8,870","1,290"
5,شستا - سرمايه گذاري تامين اجتماعي,842,-0.12,835,-0.95,835,844,"1,232"
6,خساپا - سايپا,"2,116",0.14,"2,112",-0.05,"2,080","2,135","1,217"

In [7]:
df=pd.read_csv('table3.csv')
df
#نمادهای پرتراکنش 2

,نماد,قیمت پایانی,آخرین معامله,کمترین,بیشترین,تعداد,حجم,ارزش
0,گدنا - تهيه توزيع غذاي دنا آفرين فدك,"13,130",6.57,"13,180",6.98,"12,650","13,180","4,113"
1,دي - بانك دي,602,0.33,601,0.17,599,607,"1,168"
2,كرمان - س. توسعه و عمران استان كرمان,820,0.99,815,0.37,806,830,824
3,سبزوا - سيمان لار سبزوار,"4,206",(2.21),"4,211",(2.09),"4,122","4,265",568
4,تليسه - دامداري تليسه نمونه,"3,844",(2.24),"3,880",(1.32),"3,795","3,959",549
5,وآوا - سرمايه گذاري آوا نوين,"2,656",(0.75),"2,620",(2.09),"2,500","2,753",547
6,فرابورس - فرابورس ايران,"9,230",(0.32),"9,200",(0.65),"9,110","9,310",525

In [8]:
df=pd.read_csv('table4.csv')
df
#بازار نقدی بورس و فرابورس به دلیل داشتن ادرس کلاس یکسان در یک جدول ذخیره شده اند

                  ستون یک                  ستون دو
0             وضعیت بازار                     باز
1                 شاخص کل  1,411,975.74 ,(1628.47)
2        شاخص كل (هم وزن)       415,312.94 ,738.36
3              ارزش بازار         52,259,081.643 B
4            اطلاعات قیمت         01/9/15 09:50:26
5           تعداد معاملات                   76,122
6            ارزش معاملات              7,129.961 B
7             حجم معاملات                  1.599 B
8             وضعیت بازار                     باز
9                 شاخص کل       18,628.25 ,(12.96)
10  ارزش بازار ,اول و دوم         10,133,589.940 B
11       ارزش بازار ,پایه          3,413,930.001 B
12           اطلاعات قیمت         01/9/15 09:50:27
13          تعداد معاملات                   57,558
14           ارزش معاملات             19,654.447 B
15            حجم معاملات                780.236 M
16                   سهام                   52,206
17      اوراق مالی اسلامی                      209
18       عملیات بازار باز                       10
19                   سایر                    4,134

In [12]:
df=pd.read_csv('table5.csv')
df
#تاثیر در شاخص به دلیل داشتن ادرس کلاس یکسان در یک کلاس ذخیره شده اند

         نماد قیمت پایانی      تاثیر
0       ميدكو      13,760   (718.64)
1       شبندر       8,790   (435.54)
2         كگل       7,640   (270.17)
3        فارس       7,190     264.49
4        شپنا       6,990   (256.66)
5        فملي       6,200   (216.13)
6        فخاس       9,770     161.56
7       امينح       7,390          0
8      دابورح      13,200     (0.23)
9      دشيميح      12,940     (0.61)
10     ونيكيح       2,994     (1.55)
11  امين يكم4      10,047  200.940 B
12       سمگا       5,540       4.96
13      زاگرس     111,600     (3.97)
14      مارون     178,900       2.94
15        فزر      24,150     (2.48)
16       گدنا      13,130       2.23
17       شراز      13,050     (2.02)
18     دماوند      17,920     (1.83)