In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("supermarket.csv")

In [4]:
data["SumProduct"]=1
data['day_of_week'] = pd.to_datetime(data['Date']).dt.day_name()

In [66]:
data_2=data.pivot_table(index="Product",columns="Date",values="SumProduct",aggfunc=sum).replace(np.nan,0)
data_2.replace(np.nan,0)
data_2["sumrow"]=data_2.sum(axis=1)

In [67]:
data_3=data.pivot_table(index="Customer Id",columns="Date",values="SumProduct",aggfunc=sum).fillna(0)
data_3["sumrow"]=data_3.sum(axis=1)

In [68]:
#question 1
data_2.shape[0]

137

In [69]:
#question 2
data.groupby("Date").size().mean().round(2)

44.93

In [10]:
#question 3
data3 = pd.DataFrame(data["SumProduct"].groupby(data["Product"]).count()).sort_values(by="SumProduct")[0:4]
data3

                       SumProduct
Product
kitchen utensil                 1
preservation products           1
baby cosmetics                  3
bags                            4

In [77]:
#question 4
data=data[(data["Date"]>"2020-0-0") & (data["Date"] <"2021-0-0")]
data_3=data.pivot_table(index="Customer Id",columns="Date",values="SumProduct",aggfunc=sum).fillna(0)
result=data_3["sumrow"]=data_3.sum(axis=1)
pd.DataFrame(result.sort_values(ascending=False)[0:6])

                 0
Customer Id
0ZRF32AJ06BC  26.0
KACGV5OJXMJW  23.0
0P1TPIH74E79  21.0
3HRBE45N5NB6  20.0
ED8WY0DE27XG  20.0
NQQZGF4K1FE0  20.0

In [72]:
#question 5
data["day_of_week"].max()

'Wednesday'

In [78]:
#question 6
pd.DataFrame(data_2["support"].sort_values(ascending=False).head(5))

                   support
Product
whole milk        0.139098
other vegetables  0.107547
rolls/buns        0.096892
soda              0.085531
yogurt            0.075642

In [ ]:
#question 7
#sorry :( 
sumbag = data_3["sumrow"].sum()   
data_2["support"]=data_2.apply((lambda x : x["sumrow"]/sumbag),axis=1)
data_s=data_2[data_2["support"]>=0.01].index
datacon=data[data["Product"].isin(data_s)]