<div dir = "rtl" style="direction:rtl;line-height:300%;">
    <font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته دهم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

In [51]:
# import all packages and libraries here.
import numpy as np
import pandas as pd
from IPython.display import display, Markdown

# 1- State with reasons whether the following sentences are true or false?

<ul style="font-size:25px">
    <li>
        SVMs are not suitable for large datasets.
    </li>
    <li>
       SVMs perform poorly in imbalanced datasets.
    </li>
     <li>
        SVMs perform poorly when there is just too much noise in the data.
    </li>
</ul>

In [6]:
a="۱− پیچیدگی مدل بازیاد شدن داده به شدت افزایش میابد "
Markdown('<div dir = "rtl" style="direction:rtl;line-height:300%;"><font color=red font face="XB Zar" size=5>{}'.format(a))

<div dir = "rtl" style="direction:rtl;line-height:300%;"><font color=red font face="XB Zar" size=5>۱− پیچیدگی مدل بازیاد شدن داده به شدت افزایش میابد

In [7]:
b='۲− نامتعادل بودن داده ها بعث میشود صفحه جدا کننده به سمت این نوع دیتا متمایل شود و دیتای مرزی ممکن است اشتباه طبقه بندی شوند'
Markdown('<div dir = "rtl" style="direction:rtl;line-height:300%;"><font color=red font face="XB Zar" size=5>{}'.format(b))

<div dir = "rtl" style="direction:rtl;line-height:300%;"><font color=red font face="XB Zar" size=5>۲− نامتعادل بودن داده ها بعث میشود صفحه جدا کننده به سمت این نوع دیتا متمایل شود و دیتای مرزی ممکن است اشتباه طبقه بندی شوند

In [5]:
c='نویز باعث همپوشانی کلاسها میشود وعملا مدل توان تشخیص را ندارد'
Markdown('<div dir = "rtl" style="direction:rtl;line-height:300%;"><font color=red font face="XB Zar" size=5>{}'.format(c))

<div dir = "rtl" style="direction:rtl;line-height:300%;"><font color=red font face="XB Zar" size=5>نویز باعث همپوشانی کلاسها میشود وعملا مدل توان تشخیص را ندارد

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6>
		 ۲- دیتاست lsvt-voice-rehabilitation را از لینک زیر دانلود کنید و به سوالات زیر حواب دهید. در این تمرین مجاز به استفاده از کتابخانه scikit-learn می باشید.
		</br>
</div>
		https://archive.ics.uci.edu/ml/datasets/LSVT+Voice+Rehabilitation

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6>
		 الف- داده ها را به روشهای زیر دسته بندی کنید (حواستان باشد که داده ها را قبل از اعمال به مدل، نرمالایز کنید).
        <ul>
            <li>
            کرنل خطی
            </li>
            <li>
            کرنل چندجمله ای (پارامترهای r, d)
            </li>
            <li>
            کرنل rbf - پارامتر گاما
            </li>
            <li>
            سیگمویید - پارامتر r
            </li>           
         </ul>
</div

In [8]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [9]:
dfm=pd.read_excel('LSVT_voice_rehabilitation.xlsx' )
target=pd.read_excel('LSVT_voice_rehabilitation.xlsx' , sheet_name ='Binary response')
dfsub=pd.read_excel('LSVT_voice_rehabilitation.xlsx' , sheet_name ='Subject demographics')

In [10]:
dfm.describe()

,Jitter->F0_abs_dif,Jitter->F0_dif_percent,Jitter->F0_PQ5_classical_Schoentgen,Jitter->F0_PQ5_classical_Baken,Jitter->F0_PQ5_generalised_Schoentgen,Jitter->F0_abs0th_perturb,Jitter->F0_CV,Jitter->F0_TKEO_mean,Jitter->F0_TKEO_std,Jitter->F0_TKEO_prc5,...,det_TKEO_std4_1_coef,det_TKEO_std4_2_coef,det_TKEO_std4_3_coef,det_TKEO_std4_4_coef,det_TKEO_std4_5_coef,det_TKEO_std4_6_coef,det_TKEO_std4_7_coef,det_TKEO_std4_8_coef,det_TKEO_std4_9_coef,det_TKEO_std4_10_coef
count,126.000000,126.000000,126.000000,1.260000e+02,126.000000,126.000000,1.260000e+02,126.000000,126.000000,126.000000,...,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,0.225683,0.119056,0.001385,-6.951801e-07,0.001061,6.937604,1.660453e-04,82.190214,1796.302230,-39.411240,...,2.500256,7.014055,19.557608,53.680942,143.774055,370.528329,912.494576,2116.358203,4649.660947,9813.389954
std,0.345839,0.180097,0.002124,1.573954e-05,0.001836,24.275232,8.712998e-04,106.894449,1631.244809,98.188655,...,0.361334,1.008572,2.797453,7.698152,20.468616,52.836331,129.246368,296.400010,653.497584,1365.084335
min,0.020443,0.013830,0.000159,-5.832686e-05,0.000060,0.548917,7.679846e-08,13.319091,269.922782,-624.951034,...,1.766418,4.982477,13.914344,38.394547,103.466808,264.654626,649.657090,1507.384591,3216.625092,6700.842161
25%,0.057713,0.028676,0.000320,-5.121154e-06,0.000248,1.158230,4.132032e-07,29.760987,807.453611,-23.075601,...,2.229724,6.245229,17.537973,48.138723,128.924436,331.900606,818.097730,1888.120153,4148.651943,8760.159506
50%,0.103926,0.048597,0.000521,-2.050570e-06,0.000389,2.012467,9.491368e-07,52.594076,1356.767272,-8.833890,...,2.470691,6.942224,19.302296,53.133665,141.675948,366.706743,902.870861,2096.309958,4597.088099,9741.107531
75%,0.192672,0.126339,0.001487,1.938132e-06,0.001029,3.251788,9.886929e-06,91.694761,2380.748968,-4.115575,...,2.705275,7.616985,21.192552,58.065123,155.552562,400.947223,988.909310,2292.902649,5037.683060,10633.458586
max,2.069748,0.933265,0.010925,9.082689e-05,0.010443,218.686963,7.890252e-03,906.320483,12299.065627,-0.603839,...,3.457911,9.705655,26.997531,73.998459,198.333548,510.827346,1257.014110,2916.248441,6406.074011,13537.402516

In [11]:
target.columns=['y']
df=pd.concat([dfm,target],axis=1)

In [12]:

for col in df.columns:
    IQR = df[col].quantile(0.99) - df[col].quantile(0.01)
    q_low = df[col].quantile(0.25) - 1.5 * IQR
    q_hi  = df[col].quantile(0.75) + 1.5 * IQR
    df = df[(df[col] < q_hi) & (df[col] > q_low)]

In [96]:
df.describe()

,Jitter->F0_abs_dif,Jitter->F0_dif_percent,Jitter->F0_PQ5_classical_Schoentgen,Jitter->F0_PQ5_classical_Baken,Jitter->F0_PQ5_generalised_Schoentgen,Jitter->F0_abs0th_perturb,Jitter->F0_CV,Jitter->F0_TKEO_mean,Jitter->F0_TKEO_std,Jitter->F0_TKEO_prc5,...,det_TKEO_std4_2_coef,det_TKEO_std4_3_coef,det_TKEO_std4_4_coef,det_TKEO_std4_5_coef,det_TKEO_std4_6_coef,det_TKEO_std4_7_coef,det_TKEO_std4_8_coef,det_TKEO_std4_9_coef,det_TKEO_std4_10_coef,y
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000e+02,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.127181,0.064243,0.000746,-0.000002,0.000477,2.349162,3.320259e-06,59.737404,1596.481983,-16.609148,...,7.037043,19.601160,53.811007,144.178978,371.360367,913.506587,2119.100743,4657.620532,9839.776107,1.620000
std,0.129198,0.064931,0.000769,0.000009,0.000385,2.813731,6.479018e-06,45.330750,1242.923487,27.841396,...,0.927887,2.585256,7.093339,19.012454,48.964615,120.682309,279.870365,614.561628,1297.689143,0.487832
min,0.020443,0.013830,0.000159,-0.000028,0.000060,0.548917,7.679846e-08,13.319091,327.451852,-157.031010,...,5.454452,15.166360,41.406723,111.294766,286.736650,700.567163,1626.231015,3583.613360,7582.200538,1.000000
25%,0.053986,0.026466,0.000301,-0.000005,0.000224,1.053455,3.598798e-07,29.142790,764.842889,-14.878926,...,6.283439,17.487116,47.976994,128.550879,331.141128,815.551147,1897.661660,4164.102236,8773.068819,1.000000
50%,0.087118,0.036088,0.000411,-0.000002,0.000316,1.878933,6.294493e-07,47.164538,1283.902360,-7.243879,...,7.035549,19.565377,53.745288,143.877113,370.383774,912.527116,2117.097314,4651.504658,9815.662342,2.000000
75%,0.131744,0.059512,0.000696,0.000002,0.000559,2.539790,2.993701e-06,77.856854,1933.700232,-3.847855,...,7.575389,21.100260,57.952341,155.260821,400.059619,984.328493,2282.104977,5016.846086,10598.547196,2.000000
max,0.700258,0.334397,0.003959,0.000042,0.001889,26.976001,4.307401e-05,278.267325,7781.237391,-0.603839,...,9.705655,26.997531,73.998459,198.333548,510.827346,1257.014110,2916.248441,6406.074011,13537.402516,2.000000

In [13]:
dfsub.columns=['index','age' ,'gender']
dfsub.value_counts()

index  age  gender
1      68   1         9
2      68   0         9
3      67   0         9
4      64   1         9
5      62   1         9
6      58   0         9
7      51   0         9
8      65   1         9
11     62   1         9
12     51   0         9
13     67   0         9
14     52   1         9
15     63   0         9
16     69   0         9
dtype: int64

In [11]:
target.y.value_counts()

2    84
1    42
Name: y, dtype: int64

In [15]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

با کاهش پارامتر سی مدل بهینه بدست آمد

In [25]:
pipe = make_pipeline(StandardScaler(), SVC(C=1))
pipe.fit(X_train, y_train)
predict = pipe.predict(X_test)
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        21

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [107]:
pipe = make_pipeline(StandardScaler(), SVC(C=5, kernel='linear'))
pipe.fit(X_train, y_train)
predict = pipe.predict(X_test)
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           1       0.75      1.00      0.86         9
           2       1.00      0.86      0.92        21

    accuracy                           0.90        30
   macro avg       0.88      0.93      0.89        30
weighted avg       0.93      0.90      0.90        30

In [103]:
pipe = make_pipeline(StandardScaler(), SVC(C=10, kernel='poly',degree=2 , gamma=10))
pipe.fit(X_train, y_train)
predict = pipe.predict(X_test)
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           1       0.58      0.78      0.67         9
           2       0.89      0.76      0.82        21

    accuracy                           0.77        30
   macro avg       0.74      0.77      0.74        30
weighted avg       0.80      0.77      0.77        30

In [35]:
pipe = make_pipeline(StandardScaler(), SVC(C=1, kernel='poly',degree=3 , gamma=0.05 , coef0=1))
pipe.fit(X_train, y_train)
predict = pipe.predict(X_test)
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           1       0.89      0.89      0.89         9
           2       0.95      0.95      0.95        21

    accuracy                           0.93        30
   macro avg       0.92      0.92      0.92        30
weighted avg       0.93      0.93      0.93        30

In [27]:
pipe = make_pipeline(StandardScaler(), SVC(C=1, kernel='sigmoid'))
pipe.fit(X_train, y_train)
predict = pipe.predict(X_test)
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           1       0.90      1.00      0.95         9
           2       1.00      0.95      0.98        21

    accuracy                           0.97        30
   macro avg       0.95      0.98      0.96        30
weighted avg       0.97      0.97      0.97        30

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6>
		 ب- معیار دقت و f1 را برای هریک از دسته بندی های قسمت الف به دست آورید. (برای هر یک از پارامترهای گفته شده حداقل سه مقدار مختلف در نظر بگیرید)
		</br>
</div>

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6>
		 ج- تاثیر پارامترهای هر کرنل را بر کارآیی مدل ها تحلیل کنید.
		</br>
</div>

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6>
		 د- کدام مدل عملکرد بهتری دارد؟ چرا؟
		</br>
</div>

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=yellow>
		  svc kernel: rbf , c=1
        بهترین نتیجه را داشت  
                البته با افزایش گاما 
               مدل از حالت بهینه خارج میشود
        و بعد از آن
        مدل سیگموید بهترین پاسخ را داشت
        بنابراین مدل غیر خطی نیاز است		
        </br>
</div>

# 3- Student Intervention System

<div style="margin-left: 10px;font-size:25px">a) Run the code cell below to load necessary Python libraries and load the student data. Note that the last column from this dataset, 'passed', will be our target label (whether the student graduated or didn't graduate). All other columns are features about each student.</div>

In [36]:
sdf = pd.read_csv("student_data.csv")
sdf.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

<div style="margin-left: 10px;font-size:25px">
  <p>  
b) Let's begin by investigating the dataset to determine how many students we have information on, and learn about the graduation rate among these students. In the code cell below, you will need to compute the following:
    </p>
    <ul>
        <li>The total number of students, n_students.</li>
        <li>The total number of features for each student, n_features.</li>
        <li>The number of those students who passed, n_passed.</li>
        <li>The number of those students who failed, n_failed.</li>
        <li>The graduation rate of the class, grad_rate, in percent (%).</li>
     </ul>

</div>

In [37]:
# TODO: Calculate number of students
n_students = sdf.shape[0]

# TODO: Calculate number of features
n_features = sdf.shape[1]

# TODO: Calculate passing students
n_passed = sdf[sdf.passed=='yes'].passed.count()

# TODO: Calculate failing students
n_failed = sdf[sdf.passed=='no'].passed.count()

# TODO: Calculate graduation rate
grad_rate = n_passed/(n_passed+n_failed)

# Print the results
print("Total number of students: {}".format(n_students))
print("Number of features: {}".format(n_features))
print("Number of students who passed: {}".format(n_passed))
print("Number of students who failed: {}".format(n_failed))
print("Graduation rate of the class: {:.2f}%".format(grad_rate))

Total number of students: 395
Number of features: 31
Number of students who passed: 265
Number of students who failed: 130
Graduation rate of the class: 0.67%

In [156]:
sdf.nunique().T

school         2
sex            2
age            8
address        2
famsize        2
Pstatus        2
Medu           5
Fedu           5
Mjob           5
Fjob           5
reason         4
guardian       3
traveltime     4
studytime      4
failures       4
schoolsup      2
famsup         2
paid           2
activities     2
nursery        2
higher         2
internet       2
romantic       2
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      34
passed         2
dtype: int64

In [157]:
sdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  passed      395 non-null    object
dtypes: int64(13), object(18)
memory usage: 95.8+ KB

<div style="margin-left: 10px;font-size:25px">
    <p>c) Preparing the Data</p>
    <p>In this section, we will prepare the data for modeling, training and testing.</p>
    <p>Identify feature and target columns
It is often the case that the data you obtain contains non-numeric features. This can be a problem, as most machine learning algorithms expect numeric data to perform computations with.

Run the code cell below to separate the student data into feature and target columns to see if any features are non-numeric.</p>
</div>

In [41]:
# Extract feature columns
feature_cols = list(sdf.columns[:-1])

# Extract target column 'passed'
target_col = sdf.columns[-1] 

# Show the list of columns
print("Feature columns:\n{}".format(feature_cols))
print("\nTarget column: {}".format(target_col))

# Separate the data into feature data and target data (X_all and y_all, respectively)
X = sdf[feature_cols]
y = sdf[target_col]

Feature columns:
['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']

Target column: passed

<div style="margin-left: 10px;font-size:25px">
    <p>d) Preprocess Feature Columns</p>
    <p>As you can see, there are several non-numeric columns that need to be converted! Many of them are simply yes/no, e.g. internet. These can be reasonably converted into 1/0 (binary) values.</p>
    <p>
Other columns, like Mjob and Fjob, have more than two values, and are known as categorical variables. The recommended way to handle such a column is to create as many columns as possible values (e.g. Fjob_teacher, Fjob_other, Fjob_services, etc.), and assign a 1 to one of them and 0 to all others.

These generated columns are sometimes called dummy variables, and we will use the pandas.get_dummies() function to perform this transformation. Run the code cell below to perform the preprocessing routine discussed in this section.</p>
</div>

In [42]:
def preprocess_features(X):
    ''' Preprocesses the student data and converts non-numeric binary variables into
        binary (0/1) variables. Converts categorical variables into dummy variables. '''
    
    # Initialize new output DataFrame
    output = pd.DataFrame(index = X.index)

    # Investigate each feature column for the data
    for col, col_data in X.items():

        # If data type is non-numeric, replace all binary values with 1/0
        if col_data.dtype == object and len(col_data.unique()) == 2:
            print("*****binary*****")
            print("col name: ", col, end="----")
            col_data_unique = col_data.unique()
            print("unique values: ", col_data_unique)
            col_data = col_data.replace(col_data_unique, [1, 0])

        # If data type is categorical, convert to dummy variables
        if col_data.dtype == object and len(col_data.unique()) != 2:
            print("*****categorical*****")
            print("col name: ", col, end="----")
            col_data_unique = col_data.unique()
            print("unique values: ", col_data_unique)
            # Example: 'school' => 'school_GP' and 'school_MS'
            col_data = pd.get_dummies(col_data, prefix = col)  
        
        # Collect the revised columns
        output = output.join(col_data)
    
    return output

X_preprocessed = preprocess_features(X)

*****binary*****
col name:  school----unique values:  ['GP' 'MS']
*****binary*****
col name:  sex----unique values:  ['F' 'M']
*****binary*****
col name:  address----unique values:  ['U' 'R']
*****binary*****
col name:  famsize----unique values:  ['GT3' 'LE3']
*****binary*****
col name:  Pstatus----unique values:  ['A' 'T']
*****categorical*****
col name:  Mjob----unique values:  ['at_home' 'health' 'other' 'services' 'teacher']
*****categorical*****
col name:  Fjob----unique values:  ['teacher' 'other' 'services' 'health' 'at_home']
*****categorical*****
col name:  reason----unique values:  ['course' 'other' 'home' 'reputation']
*****categorical*****
col name:  guardian----unique values:  ['mother' 'father' 'other']
*****binary*****
col name:  schoolsup----unique values:  ['yes' 'no']
*****binary*****
col name:  famsup----unique values:  ['no' 'yes']
*****binary*****
col name:  paid----unique values:  ['no' 'yes']
*****binary*****
col name:  activities----unique values:  ['no' 'yes']
*****binary*****
col name:  nursery----unique values:  ['yes' 'no']
*****binary*****
col name:  higher----unique values:  ['yes' 'no']
*****binary*****
col name:  internet----unique values:  ['no' 'yes']
*****binary*****
col name:  romantic----unique values:  ['no' 'yes']

<div style="margin-left: 10px;font-size:25px">
    <p>e) Training and Testing Data Split</p>
    <p>split the data (both features and corresponding labels) into training and test sets.(Use 300 training points (approximately 75%) and 95 testing points (approximately 25%).)</p>
</div>

In [43]:
X_preprocessed.describe()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob_at_home,Mjob_health,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,...,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,0.883544,0.526582,16.696203,0.777215,0.711392,0.103797,2.749367,2.521519,0.149367,0.086076,...,0.949367,0.167089,0.665823,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861
std,0.321177,0.499926,1.276043,0.416643,0.453690,0.305384,1.094735,1.088201,0.356902,0.280832,...,0.219525,0.373528,0.472300,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096
min,0.000000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,0.000000,16.000000,1.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000
50%,1.000000,1.000000,17.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000
75%,1.000000,1.000000,18.000000,1.000000,1.000000,0.000000,4.000000,3.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000
max,1.000000,1.000000,22.000000,1.000000,1.000000,1.000000,4.000000,4.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_preprocessed, y, test_size=0.75, random_state=42)
# TODO: split the dataset into the number of training and testing

<div style="margin-left: 10px;font-size:25px">
<p>f) In this section, you will choose 3 supervised learning models that are appropriate for this problem and available in scikit-learn. You will first discuss the reasoning behind choosing these three models by considering what you know about the data and each model's strengths and weaknesses. You will then fit the model to training data and measure the F1 score. You will need to produce three tables (one for each model) that shows the training set size, training time, prediction time, F1 score on the training set, and F1 score on the testing set.</p>
<p>The following supervised learning models are currently available in scikit-learn that you may choose from:</p>
    <ul>
        <li>Gaussian Naive Bayes (GaussianNB)</li>
        <li>K-Nearest Neighbors (KNeighbors)</li>
        <li>Stochastic Gradient Descent (SGDC)</li>
        <li>Support Vector Machines (SVM)</li>
        <li>Logistic Regression</li>
     </ul>
</div>

In [47]:
import time

In [64]:
start_time = time.time()
pipe = make_pipeline(StandardScaler(), SVC(C=1))
pipe.fit(X_train, y_train)
predict = pipe.predict(X_test)




sgrtime=(time.time() - start_time)
print("--- %s seconds ---" % (sgrtime))
f1score=f1_score(y_test, y_predict, average='weighted')
print('f1_score:',f1score*100)


print(classification_report(y_test, predict))

--- 0.023914098739624023 seconds ---
f1_score: 59.527295890932244
              precision    recall  f1-score   support

          no       0.56      0.10      0.17        97
         yes       0.69      0.96      0.80       200

    accuracy                           0.68       297
   macro avg       0.62      0.53      0.49       297
weighted avg       0.64      0.68      0.60       297

In [60]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
start_time = time.time()

gnb_model = GaussianNB()
gnb_model.fit(X_train, y_train)
y_predict = gnb_model.predict(X_test)



sgrtime=(time.time() - start_time)
print("--- %s seconds ---" % (sgrtime))
f1score=f1_score(y_test, y_predict, average='weighted')
print('f1_score:',f1score*100)

print(classification_report(y_test, y_predict))

--- 0.0067157745361328125 seconds ---
f1_score: 59.527295890932244
              precision    recall  f1-score   support

          no       0.38      0.35      0.36        97
         yes       0.70      0.72      0.71       200

    accuracy                           0.60       297
   macro avg       0.54      0.54      0.54       297
weighted avg       0.59      0.60      0.60       297

In [59]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
start_time = time.time()


pipe = Pipeline([
            ('scaler', StandardScaler()),
            ('LR_model', LogisticRegression(multi_class='multinomial'))])

pipe.fit(X_train, y_train)
y_predict = pipe.predict(X_test)


sgrtime=(time.time() - start_time)
print("--- %s seconds ---" % (sgrtime))
f1score=f1_score(y_test, y_predict, average='weighted')
print('f1_score:',f1score*100)

print(classification_report(y_test, y_predict))

--- 0.033812522888183594 seconds ---
f1_score: 60.32814921703811
              precision    recall  f1-score   support

          no       0.39      0.37      0.38        97
         yes       0.70      0.72      0.71       200

    accuracy                           0.61       297
   macro avg       0.55      0.55      0.55       297
weighted avg       0.60      0.61      0.60       297

In [58]:
from sklearn.neighbors import KNeighborsClassifier
start_time = time.time()

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
y_predict = knn.predict(X_test)



sgrtime=(time.time() - start_time)
print("--- %s seconds ---" % (sgrtime))
f1score=f1_score(y_test, y_predict, average='weighted')
print('f1_score:',f1score*100)
print(classification_report(y_test, y_predict))

--- 0.04302620887756348 seconds ---
f1_score: 65.46420703724074
              precision    recall  f1-score   support

          no       0.48      0.40      0.44        97
         yes       0.73      0.79      0.76       200

    accuracy                           0.66       297
   macro avg       0.61      0.60      0.60       297
weighted avg       0.65      0.66      0.65       297

In [66]:
import time
from sklearn.metrics import f1_score
from sklearn.linear_model import SGDClassifier

start_time = time.time()

sgr_model = make_pipeline(StandardScaler(),SGDClassifier(loss="hinge", penalty="l2", max_iter=1500))

sgr_model.fit(X_train, y_train)
y_predict = sgr_model.predict(X_test)


sgrtime=(time.time() - start_time)
print("--- %s seconds ---" % (sgrtime))
f1score=f1_score(y_test, y_predict, average='weighted')
print('f1score:',f1score*100)
print(classification_report(y_test, y_predict))

--- 0.02910614013671875 seconds ---
f1score: 61.14001972587831
              precision    recall  f1-score   support

          no       0.41      0.42      0.41        97
         yes       0.71      0.70      0.71       200

    accuracy                           0.61       297
   macro avg       0.56      0.56      0.56       297
weighted avg       0.61      0.61      0.61       297

###
		SGDClassifier(loss="hinge", penalty="l2", max_iter=1500)
        بهترین نتیجه را داشت با اف وان حدود ۶۲ درصد
        و زمان ۲ صدم درصد