<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته سوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [10]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [11]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

<div id="bayes" style="direction:rtl;line-height:60%;">
	<font face="XB Zar" size=2>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
$$ y = 10 + \frac{x}{10} $$
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [12]:

def myfun(x,maxarr):
    # print(x.iloc(0))
    if x < 5:
        y=(10+x/10)
    else:
        y=( -0.0051*x**2 + 0.8586*x + 3.4332)
    if y > maxarr:
        return(maxarr)
    else:
        return(y)


column_values=['col'] 
df=pd.DataFrame(numbers,columns = column_values)
# print(df)
 
maxa=df['col'].max()
# print('---:',(maxa))
newdf=df['col'].apply(myfun,maxarr=maxa)
print('new array: /n',newdf.head(10))

new array: /n 0    10.450000
1     9.819996
2     8.798625
3    10.050000
4     9.975600
5     8.798625
6    17.905500
7    14.094825
8    10.250000
9    16.555500
Name: col, dtype: float64

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [13]:
column_values=['col2'] 
df2=newdf.sort_values(ascending=False)
top_new_twenty_five= pd.DataFrame(df2.head(int(len(df2)*(25/100))))
top_new_twenty_five=top_new_twenty_five.rename(columns={"col": "top"})
print('top_new_twenty_five: head(5) \n',top_new_twenty_five.head(5))

df3=newdf.sort_values()
down_old_twenty_five=  pd.DataFrame(df3.head(int(len(df3)*(25/100))))
down_old_twenty_five=down_old_twenty_five.rename(columns={"col": "down"})

print('down_old_twenty_five: head(5) \n',down_old_twenty_five.head(5))
top_new_twenty_five=top_new_twenty_five.reset_index()
down_old_twenty_five= down_old_twenty_five.reset_index()

top_new_twenty_five: head(5)
           top
51  20.483100
83  18.565200
11  18.236625
65  18.236625
10  17.905500
down_old_twenty_five: head(5)
         down
72  7.598700
52  7.598700
49  8.001225
70  8.401200
14  8.639961

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [15]:
# df4=top_new_twenty_five['col'] #- down_old_twenty_five['col']

df4=pd.concat([top_new_twenty_five, down_old_twenty_five],axis=1)
df4['calc']=df4['top']-df4['down']

finalarr=df4['calc'].to_numpy()
# top_new_twenty_five()
# down_old_twenty_five.info()
print(finalarr.shape)

finalarr = np.expand_dims(finalarr, axis=0)
temp=np.ones(finalarr.shape)
temp2=np.concatenate((finalarr,temp))
temp3 = np.expand_dims(temp2, axis=1)
# temp4 = temp3+temp
# temp4=np.concatenate((temp3,temp))

(22,)

#### <div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [18]:
import numpy as np
import pandas as pd
movies = pd.read_csv("rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [19]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [20]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 30.7+ KB

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [21]:
sortedmovies=movies.sort_values(by=['duration'], ascending=False).head(5)
sortedmovies
sortedmovies.to_csv("long_time.csv")

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [22]:
def actorfun(dfstr,actor):
    if str(actor).lower() in str(dfstr).lower():
        return True
    
inputactor='hanks'
    
actordf=movies['actors_list'].apply(actorfun,actor=inputactor).sort_values()
countactor=actordf.count()
print('تعداد فیلم هایی از این لیست را که بازی کرده',countactor,inputactor )

تعداد فیلم هایی از این لیست را که بازی کرده 14 hanks

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [23]:
genremean=movies.groupby('genre').star_rating.mean()
genremean

genre
Action       7.884559
Adventure    7.933333
Animation    7.914516
Biography    7.862338
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:50%;">
	<font face="XB Zar" size=2>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [24]:
def fun150(x):
    if x < 150:
        return 1
    else:
        return 0
movies["col150"]= movies['duration'].apply(fun150)
# movies=movies.drop(columns=['newcol'])
movies.to_csv('150.csv')

<div dir = "rtl" style="direction:rtl;line-height:80%;">
	<font face="XB Zar" size=3>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [25]:
movies2=movies.rename(columns={'star_rating':'star rating','content_rating':'content rating','actors_list':'actors list'})
movies2.head(1)

,star rating,title,content rating,genre,duration,actors list,col150
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [26]:
cc=movies
cc["rank"] = cc.groupby("genre")["star_rating"].rank(method="dense", ascending=False)
dd=cc[cc['rank']<3]
dd.head(10)

,star_rating,title,content_rating,genre,duration,actors_list,col150,rank
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1,1.0
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0,2.0
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0,1.0
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...",1,1.0
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...",0,1.0
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",0,1.0
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",0,1.0
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh...",1,1.0
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",0,2.0
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...",1,2.0

In [27]:

dd=dd.groupby(["genre",'title','star_rating','rank'])['star_rating'].mean()
dd.head(30)
# hiring.groupby(['language','month'])['salary'].mean()

genre      title                                                                 star_rating  rank
Action     Inception                                                             8.8          2.0     8.8
           Star Wars: Episode V - The Empire Strikes Back                        8.8          2.0     8.8
           The Dark Knight                                                       9.0          1.0     9.0
Adventure  The Lord of the Rings: The Fellowship of the Ring                     8.8          2.0     8.8
           The Lord of the Rings: The Return of the King                         8.9          1.0     8.9
           The Lord of the Rings: The Two Towers                                 8.8          2.0     8.8
Animation  Grave of the Fireflies                                                8.5          2.0     8.5
           Spirited Away                                                         8.6          1.0     8.6
           The Lion King                                                         8.5          2.0     8.5
Biography  Goodfellas                                                            8.7          2.0     8.7
           Schindler's List                                                      8.9          1.0     8.9
Comedy     3 Idiots                                                              8.5          2.0     8.5
           City Lights                                                           8.6          1.0     8.6
           Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb  8.5          2.0     8.5
           Life Is Beautiful                                                     8.6          1.0     8.6
           Modern Times                                                          8.6          1.0     8.6
           The Great Dictator                                                    8.5          2.0     8.5
Crime      The Godfather                                                         9.2          2.0     9.2
           The Shawshank Redemption                                              9.3          1.0     9.3
Drama      12 Angry Men                                                          8.9          1.0     8.9
           Fight Club                                                            8.9          1.0     8.9
           Forrest Gump                                                          8.8          2.0     8.8
Family     E.T. the Extra-Terrestrial                                            7.9          1.0     7.9
           Willy Wonka & the Chocolate Factory                                   7.8          2.0     7.8
Fantasy    The City of Lost Children                                             7.7          1.0     7.7
Film-Noir  Laura                                                                 8.1          2.0     8.1
           The Third Man                                                         8.3          1.0     8.3
History    Battleship Potemkin                                                   8.0          1.0     8.0
Horror     Alien                                                                 8.5          2.0     8.5
           Psycho                                                                8.6          1.0     8.6
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

In [ ]:
read_csv() delimiter is a comma character. read_table() is a delimiter of tab.

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
        </font>
        یک فیلد را در ردیف و یکی را در ستون گذاشته و متناظر آنها را میشمارد
        <br/>
    </font>
</div>

In [28]:
pd.crosstab(movies.genre, movies.content_rating)

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
        </font>
همبستگی بین متغییرها را محاسبه میکند        <br/>
    </font>
</div>

In [33]:
movies.corr()

             star_rating  duration    col150      rank
star_rating     1.000000  0.227149 -0.221328 -0.827144
duration        0.227149  1.000000 -0.744894 -0.039577
col150         -0.221328 -0.744894  1.000000  0.111256
rank           -0.827144 -0.039577  0.111256  1.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [37]:
movies.value_counts('content_rating')

content_rating
R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
NC-17          7
PASSED         7
X              4
GP             3
TV-MA          1
dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [49]:
sample1=movies.sample(frac =.75)
# tt=movies.drop(sample1, axis=0)
titletrue = movies['title'].isin(sample1['title'])

sample2=movies.drop(movies[titletrue].index)
sample2

,star_rating,title,content_rating,genre,duration,actors_list,col150,rank
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0,2.0
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0,1.0
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0,4.0
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...",0,1.0
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",0,1.0
...,...,...,...,...,...,...,...,...
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']",1,18.0
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew...",1,13.0
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John...",1,16.0
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",1,15.0
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1,16.0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            جواب:‌
        </font>
        این متد یک دیتافریم و متغییرهایی را برای شکل دادن به داده میگیرد
و خروجی را مطابق یک جدول میدهد 
این جدول میتواند براساس لولا قراردادن یک متغییر و براساس متغییرهای دیگر دیتافریم در ستون ها از داده های عددی دیتافریم جمعُ‌میانگین و ... بگیرد
        <br/>
    </font>
</div>