<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته سوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [53]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [54]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])
numbers

array([ 4.5 ,  7.8 ,  6.5 ,  0.5 ,  8.  ,  6.5 , 19.  , 13.5 ,  2.5 ,
       17.  , 19.  , 19.5 , 13.  , 12.21,  6.3 ,  0.5 ,  9.5 , 13.5 ,
       16.  ,  2.5 , 10.5 ,  8.  , 10.  , 15.5 ,  7.5 ,  0.  ,  1.  ,
       10.5 ,  2.  , 11.  ,  3.  , 14.  ,  3.5 , 18.5 , 13.  ,  1.  ,
       14.5 , 15.  ,  1.52, 15.5 ,  1.5 ,  2.8 ,  3.5 ,  6.5 , 12.5 ,
       14.5 , 11.5 ,  8.  , 10.2 ,  5.5 ,  0.5 , 23.  ,  5.  ,  0.5 ,
       17.5 , 17.5 , 17.5 , 15.  ,  4.5 , 17.  , 18.  , 10.  ,  8.5 ,
       14.  , 18.5 , 19.5 , 16.3 ,  8.5 ,  0.  ,  9.5 ,  6.  ,  2.  ,
        5.  ,  9.5 ,  4.  ,  4.  ,  1.  ,  8.  , 18.5 , 18.  , 15.5 ,
        4.5 ,  1.5 , 20.  ,  0.5 , 19.  ,  4.  ,  9.5 , 12.8 ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
<br>
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
<br>
$$ y = 10 + \frac{x}{10} $$
<br>
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
<br>
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
<br>
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [55]:
np.max(numbers)

23.0

In [56]:
mask1=np.zeros(len(numbers))
mask1[numbers<8.5] = 1
mask2=np.zeros(len(numbers))
mask2[numbers>=8.5] = 1

In [57]:
numbers_changed = mask1 * (numbers/10 + 10) + mask2 * (-0.0051 * numbers ** 2 + 0.8586 * numbers + 3.4332)
numbers_changed

array([10.45      , 10.78      , 10.65      , 10.05      , 10.8       ,
       10.65      , 17.9055    , 14.094825  , 10.25      , 16.5555    ,
       17.9055    , 18.236625  , 13.7331    , 13.15637709, 10.63      ,
       10.05      , 11.129625  , 14.094825  , 15.8652    , 10.25      ,
       11.886225  , 10.8       , 11.5092    , 15.516225  , 10.75      ,
       10.        , 10.1       , 11.886225  , 10.2       , 12.2607    ,
       10.3       , 14.454     , 10.35      , 17.571825  , 13.7331    ,
       10.1       , 14.810625  , 15.1647    , 10.152     , 15.516225  ,
       10.15      , 10.28      , 10.35      , 10.65      , 13.368825  ,
       14.810625  , 12.632625  , 10.8       , 11.660316  , 10.55      ,
       10.05      , 20.4831    , 10.5       , 10.05      , 16.896825  ,
       16.896825  , 16.896825  , 15.1647    , 10.45      , 16.5555    ,
       17.2356    , 11.5092    , 10.362825  , 14.454     , 17.571825  ,
       18.236625  , 16.073361  , 10.362825  , 10.        , 11.129625  ,
       10.6       , 10.2       , 10.5       , 11.129625  , 10.4       ,
       10.4       , 10.1       , 10.8       , 17.571825  , 17.2356    ,
       15.516225  , 10.45      , 10.15      , 18.5652    , 10.05      ,
       17.9055    , 10.4       , 11.129625  , 13.587696  ])

In [58]:
np.max(numbers_changed)

20.4831

In [59]:
top_new_twenty_five = numbers_changed[numbers_changed>=np.quantile(numbers_changed,0.75)]
top_new_twenty_five

array([17.9055  , 16.5555  , 17.9055  , 18.236625, 15.8652  , 15.516225,
       17.571825, 15.1647  , 15.516225, 20.4831  , 16.896825, 16.896825,
       16.896825, 15.1647  , 16.5555  , 17.2356  , 17.571825, 18.236625,
       16.073361, 17.571825, 17.2356  , 15.516225, 18.5652  , 17.9055  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [60]:
down_old_twenty_five = numbers[numbers<=np.quantile(numbers,0.25)]
down_old_twenty_five

array([0.5 , 2.5 , 0.5 , 2.5 , 0.  , 1.  , 2.  , 3.  , 3.5 , 1.  , 1.52,
       1.5 , 2.8 , 3.5 , 0.5 , 0.5 , 0.  , 2.  , 4.  , 4.  , 1.  , 1.5 ,
       0.5 , 4.  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [61]:
new_array_three_dimension = np.ones((len(down_old_twenty_five),1,1))
new_array_three_dimension[:,0,0] = top_new_twenty_five - down_old_twenty_five
new_array_three_dimension

array([[[17.4055  ]],

       [[14.0555  ]],

       [[17.4055  ]],

       [[15.736625]],

       [[15.8652  ]],

       [[14.516225]],

       [[15.571825]],

       [[12.1647  ]],

       [[12.016225]],

       [[19.4831  ]],

       [[15.376825]],

       [[15.396825]],

       [[14.096825]],

       [[11.6647  ]],

       [[16.0555  ]],

       [[16.7356  ]],

       [[17.571825]],

       [[16.236625]],

       [[12.073361]],

       [[13.571825]],

       [[16.2356  ]],

       [[14.016225]],

       [[18.0652  ]],

       [[13.9055  ]]])

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [62]:
movies = pd.read_csv("imdb_movie_rank.csv")
movies

,Unnamed: 0,star_rating,title,content_rating,genre,duration,actors_list,greater_than_150_min
0,0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0
1,1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
2,2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
3,3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
4,4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",1
...,...,...,...,...,...,...,...,...
971,971,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",0
972,972,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",0
973,973,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",0
974,974,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",0
975,975,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",0

In [63]:
movies.describe()

       Unnamed: 0  star_rating    duration  greater_than_150_min
count  976.000000   976.000000  976.000000            976.000000
mean   487.500000     7.890164  120.945697              0.131148
std    281.891232     0.336018   26.228192              0.337735
min      0.000000     7.400000   64.000000              0.000000
25%    243.750000     7.600000  102.000000              0.000000
50%    487.500000     7.800000  117.000000              0.000000
75%    731.250000     8.100000  134.000000              0.000000
max    975.000000     9.300000  242.000000              1.000000


<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [64]:
movies.isnull().sum()

Unnamed: 0              0
star_rating             0
title                   0
content_rating          0
genre                   0
duration                0
actors_list             0
greater_than_150_min    0
dtype: int64

In [65]:
movies.dropna(axis=0,inplace=True)

In [66]:
movies.head(30)

,Unnamed: 0,star_rating,title,content_rating,genre,duration,actors_list,greater_than_150_min
0,0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0
1,1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
2,2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
3,3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
4,4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",1
5,5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...",0
6,6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...",1
7,7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",1
8,8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",1
9,9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh...",0
10,10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",1
11,11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...",0
12,12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...",0
13,13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']",0
14,14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...",1
15,15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J...",1
16,16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich...",0
17,17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...",1
18,18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']",0
19,19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...",0
20,20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car...",0
21,21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael...",0
22,22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar...",0
23,23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa...",0
24,24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac...",0
25,25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G...",0
26,26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia...",1
27,27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren...",0
28,28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm...",0
29,29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F...",0

In [67]:
movies.isnull().sum()

Unnamed: 0              0
star_rating             0
title                   0
content_rating          0
genre                   0
duration                0
actors_list             0
greater_than_150_min    0
dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [68]:
movies.sort_values(by="duration",ascending=False).head(50).to_csv("long_time.csv",header=True,index=False)

In [69]:
sorted_movie = pd.read_csv("long_time.csv")
sorted_movie

,Unnamed: 0,star_rating,title,content_rating,genre,duration,actors_list,greater_than_150_min
0,475,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere...",1
1,157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...",1
2,78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet...",1
3,142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...",1
4,444,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba...",1
5,85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony...",1
6,203,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe...",1
7,17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...",1
8,765,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me...",1
9,629,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De...",1
10,7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",1
11,2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
12,334,8.0,Doctor Zhivago,PG-13,Drama,197,"[u'Omar Sharif', u'Julie Christie', u'Geraldin...",1
13,384,8.0,Spartacus,PG-13,Action,197,"[u'Kirk Douglas', u'Laurence Olivier', u'Jean ...",1
14,8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",1
15,619,7.7,Titanic,PG-13,Drama,194,"[u'Leonardo DiCaprio', u'Kate Winslet', u'Bill...",1
16,423,7.9,The Right Stuff,R,Adventure,193,"[u'Sam Shepard', u'Scott Glenn', u'Ed Harris']",1
17,219,8.1,Gandhi,PG,Biography,191,"[u'Ben Kingsley', u'John Gielgud', u'Candice B...",1
18,669,7.7,Grindhouse,R,Action,191,"[u'Kurt Russell', u'Rose McGowan', u'Danny Tre...",1
19,40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav...",1
20,89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor...",1
21,315,8.0,JFK,R,Drama,189,"[u'Kevin Costner', u'Gary Oldman', u'Jack Lemm...",1
22,317,8.0,Magnolia,R,Drama,188,"[u'Tom Cruise', u'Jason Robards', u'Julianne M...",1
23,184,8.2,Fanny and Alexander,R,Drama,188,"[u'Bertil Guve', u'Pernilla Allwin', u'Kristin...",1
24,610,7.7,Short Cuts,R,Comedy,187,"[u'Andie MacDowell', u'Julianne Moore', u'Tim ...",1
25,132,8.3,Judgment at Nuremberg,NOT RATED,Drama,186,"[u'Spencer Tracy', u'Burt Lancaster', u'Richar...",1
26,244,8.1,Barry Lyndon,PG,Adventure,184,"[u""Ryan O'Neal"", u'Marisa Berenson', u'Patrick...",1
27,109,8.3,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh...",1
28,166,8.2,The Deer Hunter,R,Drama,182,"[u'Robert De Niro', u'Christopher Walken', u'J...",1
29,338,8.0,Dances with Wolves,PG-13,Adventure,181,"[u'Kevin Costner', u'Mary McDonnell', u'Graham...",1
30,93,8.4,Dilwale Dulhania Le Jayenge,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']",1
31,360,8.0,Fiddler on the Roof,G,Drama,181,"[u'Topol', u'Norma Crane', u'Leonard Frey']",1
32,143,8.2,The Wolf of Wall Street,R,Biography,180,"[u'Leonardo DiCaprio', u'Jonah Hill', u'Margot...",1
33,14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...",1
34,455,7.9,Blue Is the Warmest Color,NC-17,Drama,179,"[u'L\xe9a Seydoux', u'Ad\xe8le Exarchopoulos',...",1
35,10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",1
36,533,7.8,The Longest Day,G,Action,178,"[u'John Wayne', u'Robert Ryan', u'Richard Burt...",1
37,156,8.2,Casino,R,Biography,178,"[u'Robert De Niro', u'Sharon Stone', u'Joe Pes...",1
38,299,8.0,Dogville,R,Crime,178,"[u'Nicole Kidman', u'Paul Bettany', u'Lauren B...",1
39,82,8.4,Braveheart,R,Action,177,"[u'Mel Gibson', u'Sophie Marceau', u'Patrick M...",1
40,1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
41,938,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca...",1
42,26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia...",1
43,347,8.0,The Sound of Music,G,Biography,174,"[u'Julie Andrews', u'Christopher Plummer', u'E...",1
44,230,8.1,La Dolce Vita,NOT RATED,Comedy,174,"[u'Marcello Mastroianni', u'Anita Ekberg', u'A...",1
45,159,8.2,The Best Years of Our Lives,PASSED,Drama,172,"[u'Fredric March', u'Dana Andrews', u'Myrna Loy']",1
46,301,8.0,Patton,GP,Biography,172,"[u'George C. Scott', u'Karl Malden', u'Stephen...",1
47,120,8.3,The Great Escape,UNRATED,Adventure,172,"[u'Steve McQueen', u'James Garner', u'Richard ...",1
48,840,7.5,Cloud Atlas,R,Drama,172,"[u'Tom Hanks', u'Halle Berry', u'Hugh Grant']",1
49,886,7.5,The Aviator,PG-13,Biography,170,"[u'Leonardo DiCaprio', u'Cate Blanchett', u'Ka...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [70]:
movies

,Unnamed: 0,star_rating,title,content_rating,genre,duration,actors_list,greater_than_150_min
0,0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0
1,1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
2,2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
3,3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
4,4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",1
...,...,...,...,...,...,...,...,...
971,971,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",0
972,972,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",0
973,973,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",0
974,974,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",0
975,975,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",0

In [71]:
def movie_count_by_actor(name:str) -> int:
    count_list = movies["actors_list"].apply(lambda x : True if name.lower().strip() in x.lower().strip() else False)
    count = np.cumsum(count_list)
    return np.max(count)

In [72]:
movie_count_by_actor("dustin hoffman")

11

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [73]:
movies.groupby("genre").mean()["star_rating"]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16368\1194089316.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  movies.groupby("genre").mean()["star_rating"]

genre
Action       7.885926
Adventure    7.940541
Animation    7.914516
Biography    7.857895
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [74]:
movies_copy = movies
movies_copy["greater_than_150_min"] = movies.apply(lambda x: 1 if x.duration>=150 else 0,axis=1)
movies_copy.to_csv("imdb_movie_rank.csv")
# movies_copy["greater than 150 min"].

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [75]:
movies_=movies.copy()
movies_.columns= map(lambda x:x.replace("_"," ").strip(),movies.columns)
movies_

,Unnamed: 0,star rating,title,content rating,genre,duration,actors list,greater than 150 min
0,0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0
1,1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
2,2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
3,3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
4,4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",1
...,...,...,...,...,...,...,...,...
971,971,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",0
972,972,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",0
973,973,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",0
974,974,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",0
975,975,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [85]:
movies_by_genre = pd.DataFrame()
for i in movies.genre.unique():
    movies_by_genre = pd.concat([movies_by_genre,movies[movies.genre==i].nlargest(3,"star_rating")],axis=0)
movies_by_genre
# del movies_by_genre["Unnamed: 0"]
movies_by_genre.groupby(["genre","star_rating","title"]).sum()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16368\2781922314.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  movies_by_genre.groupby(["genre","star_rating","title"]).sum()

                                                                         Unnamed: 0  \
genre     star_rating title
Action    8.8         Inception                                                  11
                      Star Wars: Episode V - The Empire Strikes Back             12
          9.0         The Dark Knight                                             3
Adventure 8.8         The Lord of the Rings: The Fellowship of the Ring          10
                      The Lord of the Rings: The Two Towers                      14
          8.9         The Lord of the Rings: The Return of the King               7
Animation 8.5         Grave of the Fireflies                                     61
                      The Lion King                                              55
          8.6         Spirited Away                                              30
Biography 8.6         The Intouchables                                           31
          8.7         Goodfellas                                                 18
          8.9         Schindler's List                                            8
Comedy    8.6         City Lights                                                29
                      Life Is Beautiful                                          25
                      Modern Times                                               35
Crime     9.1         The Godfather: Part II                                      2
          9.2         The Godfather                                               1
          9.3         The Shawshank Redemption                                    0
Drama     8.8         Forrest Gump                                               13
          8.9         12 Angry Men                                                5
                      Fight Club                                                  9
Family    7.8         Willy Wonka & the Chocolate Factory                       496
          7.9         E.T. the Extra-Terrestrial                                467
Fantasy   7.7         The City of Lost Children                                 637
Film-Noir 7.7         Spellbound                                                685
          8.1         Laura                                                     209
          8.3         The Third Man                                             105
History   8.0         Battleship Potemkin                                       337
Horror    8.5         Alien                                                      57
                      The Shining                                                62
          8.6         Psycho                                                     39
Mystery   8.4         Vertigo                                                    76
          8.5         Memento                                                    46
          8.6         Rear Window                                                38
Sci-Fi    7.9         Gravity                                                   407
          8.0         Brazil                                                    320
          8.2         Blade Runner                                              145
Thriller  7.6         La piel que habito                                        726
          7.8         Misery                                                    495
          8.0         Shadow of a Doubt                                         349
Western   8.5         Django Unchained                                           59
          8.6         Once Upon a Time in the West                               26
          8.9         The Good, the Bad and the Ugly                              6

                                                                         duration  \
genre     star_rating title
Action    8.8         Inception                                               148
                      Star Wars: Episode V - The Empire Strikes Back          124
          9.0         The Dark Knight                                         152
Adventure 8.8         The Lord of the Rings: The Fellowship of the Ring       178
                      The Lord of the Rings: The Two Towers                   179
          8.9         The Lord of the Rings: The Return of the King           201
Animation 8.5         Grave of the Fireflies                                   89
                      The Lion King                                            89
          8.6         Spirited Away                                           125
Biography 8.6         The Intouchables                                        112
          8.7         Goodfellas                                              146
          8.9         Schindler's List                                        195
Comedy    8.6         City Lights                                              87
                      Life Is Beautiful                                       116
                      Modern Times                                             87
Crime     9.1         The Godfather: Part II                                  200
          9.2         The Godfather                                           175
          9.3         The Shawshank Redemption                                142
Drama     8.8         Forrest Gump                                            142
          8.9         12 Angry Men                                             96
                      Fight Club                                              139
Family    7.8         Willy Wonka & the Chocolate Factory                     100
          7.9         E.T. the Extra-Terrestrial                              115
Fantasy   7.7         The City of Lost Children                               112
Film-Noir 7.7         Spellbound                                              111
          8.1         Laura                                                    88
          8.3         The Third Man                                            93
History   8.0         Battleship Potemkin                                      66
Horror    8.5         Alien                                                   117
                      The Shining                                             146
          8.6         Psycho                                                  109
Mystery   8.4         Vertigo                                                 128
          8.5         Memento                                                 113
          8.6         Rear Window                                             112
Sci-Fi    7.9         Gravity                                                  91
          8.0         Brazil                                                  132
          8.2         Blade Runner                                            117
Thriller  7.6         La piel que habito                                      120
          7.8         Misery                                                  107
          8.0         Shadow of a Doubt                                       108
Western   8.5         Django Unchained                                        165
          8.6         Once Upon a Time in the West                            175
          8.9         The Good, the Bad and the Ugly                          161

                                                                         greater_than_150_min
genre     star_rating title
Action    8.8         Inception                                                             0
                      Star Wars: Episode V - The Empire Strikes Back                        0
          9.0         The Dark Knight                                                       1
Adventure 8.8         The Lord of the Rings: The Fellowship of the Ring                     1
                      The Lord of the Rings: The Two Towers                                 1
          8.9         The Lord of the Rings: The Return of the King                         1
Animation 8.5         Grave of the Fireflies                                                0
                      The Lion King                                                         0
          8.6         Spirited Away                                                         0
Biography 8.6         The Intouchables                                                      0
          8.7         Goodfellas                                                            0
          8.9         Schindler's List                                                      1
Comedy    8.6         City Lights                                                           0
                      Life Is Beautiful                                                     0
                      Modern Times                                                          0
Crime     9.1         The Godfather: Part II                                                1
          9.2         The Godfather                                                         1
          9.3         The Shawshank Redemption                                              0
Drama     8.8         Forrest Gump                                                          0
          8.9         12 Angry Men                                                          0
                      Fight Club                                                            0
Family    7.8         Willy Wonka & the Chocolate Factory                                   0
          7.9         E.T. the Extra-Terrestrial                                            0
Fantasy   7.7         The City of Lost Children                                             0
Film-Noir 7.7         Spellbound                                                            0
          8.1         Laura                                                                 0
          8.3         The Third Man                                                         0
History   8.0         Battleship Potemkin                                                   0
Horror    8.5         Alien                                                                 0
                      The Shining                                                           0
          8.6         Psycho                                                                0
Mystery   8.4         Vertigo                                                               0
          8.5         Memento                                                               0
          8.6         Rear Window                                                           0
Sci-Fi    7.9         Gravity                                                               0
          8.0         Brazil                                                                0
          8.2         Blade Runner                                                          0
Thriller  7.6         La piel que habito                                                    0
          7.8         Misery                                                                0
          8.0         Shadow of a Doubt                                                     0
Western   8.5         Django Unchained                                                      1
          8.6         Once Upon a Time in the West                                          1
          8.9         The Good, the Bad and the Ugly                                        1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>


### read_table is read_csv with sep=',' replaced by sep='\t', they are two thin wrappers around the same function so the performance will be identical.

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

Compute a simple cross tabulation of two (or more) factors.
By default, computes a <b>frequency table of the factors</b> unless an array of values and an aggregation function are passed.

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        ضریب همبستگی ستون های عددی دیتافریم را نسبت بهم میدهد که یه ماتریس متقارن قطر یک میباشد
</div>

In [89]:
movies.corr()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16368\3313059620.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  movies.corr()

                      star_rating  duration  greater_than_150_min
star_rating              1.000000  0.229410              0.223764
duration                 0.229410  1.000000              0.744606
greater_than_150_min     0.223764  0.744606              1.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [92]:
movies["content_rating"].value_counts(normalize=True)

R            0.471311
PG-13        0.193648
PG           0.126025
NOT RATED    0.066598
APPROVED     0.048156
UNRATED      0.038934
G            0.032787
PASSED       0.007172
NC-17        0.007172
X            0.004098
GP           0.003074
TV-MA        0.001025
Name: content_rating, dtype: float64

In [93]:
movies["content_rating"].value_counts()

R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
PASSED         7
NC-17          7
X              4
GP             3
TV-MA          1
Name: content_rating, dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [96]:
movies

,star_rating,title,content_rating,genre,duration,actors_list,greater_than_150_min
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",1
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",1
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",1
...,...,...,...,...,...,...,...
971,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",0
972,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",0
973,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",0
974,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",0
975,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",0

In [110]:
sample_1=movies.sample(frac=3/4)
sample_2=movies.drop(index=sample_1.index,axis=0)

In [112]:
sample_2

,star_rating,title,content_rating,genre,duration,actors_list,greater_than_150_min
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",1
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",1
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...",0
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G...",0
39,8.6,Psycho,R,Horror,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...",0
...,...,...,...,...,...,...,...
956,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-...",0
962,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor...",0
963,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy...",0
965,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will...",1
967,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc...",0

In [111]:
sample_1

,star_rating,title,content_rating,genre,duration,actors_list,greater_than_150_min
101,8.3,Monty Python and the Holy Grail,PG,Adventure,91,"[u'Graham Chapman', u'John Cleese', u'Eric Idle']",0
416,7.9,Cowboy Bebop: The Movie,R,Animation,115,"[u'Beau Billingslea', u'Melissa Fahn', u'Nicho...",0
961,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ...",1
619,7.7,Titanic,PG-13,Drama,194,"[u'Leonardo DiCaprio', u'Kate Winslet', u'Bill...",1
818,7.6,The Curse of the Were-Rabbit,G,Animation,85,"[u'Peter Sallis', u'Helena Bonham Carter', u'R...",0
...,...,...,...,...,...,...,...
731,7.6,The Blind Swordsman: Zatoichi,R,Action,116,"[u'Takeshi Kitano', u'Tadanobu Asano', u'Yui N...",0
808,7.6,The Hours,PG-13,Drama,114,"[u'Meryl Streep', u'Nicole Kidman', u'Julianne...",0
760,7.6,Little Children,R,Drama,136,"[u'Kate Winslet', u'Jennifer Connelly', u'Patr...",0
655,7.7,Coraline,PG,Animation,100,"[u'Dakota Fanning', u'Teri Hatcher', u'John Ho...",0
433,7.9,Iron Man,PG-13,Action,126,"[u'Robert Downey Jr.', u'Gwyneth Paltrow', u'T...",0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

In [151]:
movies.pivot_table(index=["duration","genre"],columns=["star_rating"],aggfunc="count")

                   actors_list                                             \
star_rating                7.4 7.5  7.6 7.7  7.8  7.9  8.0  8.1  8.2  8.3
duration genre
64       Drama             NaN NaN  NaN NaN  NaN  NaN  1.0  NaN  NaN  NaN
66       History           NaN NaN  NaN NaN  NaN  NaN  1.0  NaN  NaN  NaN
67       Crime             NaN NaN  NaN NaN  NaN  NaN  NaN  1.0  NaN  NaN
68       Comedy            NaN NaN  NaN NaN  NaN  NaN  NaN  1.0  NaN  NaN
69       Mystery           NaN NaN  1.0 NaN  NaN  NaN  NaN  NaN  NaN  NaN
...                        ...  ..  ...  ..  ...  ...  ...  ...  ...  ...
220      Adventure         NaN NaN  NaN NaN  NaN  1.0  NaN  NaN  NaN  NaN
224      Adventure         NaN NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN  1.0
229      Crime             NaN NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN  NaN
238      Drama             NaN NaN  NaN NaN  NaN  NaN  NaN  NaN  1.0  NaN
242      Drama             NaN NaN  NaN NaN  1.0  NaN  NaN  NaN  NaN  NaN

                    ... title
star_rating         ...   8.4 8.5 8.6 8.7 8.8 8.9 9.0 9.1 9.2 9.3
duration genre      ...
64       Drama      ...   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
66       History    ...   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
67       Crime      ...   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
68       Comedy     ...   1.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN
69       Mystery    ...   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
...                 ...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
220      Adventure  ...   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
224      Adventure  ...   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
229      Crime      ...   1.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN
238      Drama      ...   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
242      Drama      ...   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[492 rows x 80 columns]