<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته سوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [1]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [2]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
<br>
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
<br>
$$ y = 10 + \frac{x}{10} $$
<br>
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
<br>
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
<br>
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [6]:
%%timeit
temp = np.where(numbers<8.5,10+(numbers/10),((-0.0051*(numbers**2))+(0.8586*numbers)+3.4332))
new_numbers = np.where(temp>=numbers,numbers,temp)

25.8 µs ± 2.55 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [8]:
%%timeit
dataq1 = new_numbers[new_numbers<=np.percentile(new_numbers,25)]
dataq3 = new_numbers[new_numbers>=np.percentile(new_numbers,75)]

305 µs ± 2.36 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [26]:
(dataq3-dataq1).reshape(len(dataq1),1,1)

array([[[17.4055  ]],

       [[14.0555  ]],

       [[17.4055  ]],

       [[15.736625]],

       [[15.8652  ]],

       [[14.5     ]],

       [[15.571825]],

       [[12.      ]],

       [[12.      ]],

       [[19.4831  ]],

       [[15.376825]],

       [[15.396825]],

       [[14.096825]],

       [[11.5     ]],

       [[16.0555  ]],

       [[16.7356  ]],

       [[17.571825]],

       [[16.236625]],

       [[12.073361]],

       [[13.571825]],

       [[16.2356  ]],

       [[14.      ]],

       [[18.0652  ]],

       [[13.9055  ]]])

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [184]:
movies = pd.read_csv("imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [185]:
movies.shape

(979, 6)

In [186]:
movies = movies.dropna()
movies.shape

(976, 6)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [187]:
movies.sort_values("duration",ascending=False)[0:50].to_csv('long_time.csv', index=False)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [188]:
def count_best_film(actor):
    result=0
    for item in movies["actors_list"]:
        if actor in item:
            result+=1
    return result

print(count_best_film("Al Pacino"))

13

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [189]:
movies.groupby('genre').star_rating.mean()

genre
Action       7.885926
Adventure    7.940541
Animation    7.914516
Biography    7.857895
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [190]:
movies["bool_long"]=np.where(movies.duration>150,0,1)
movies.to_csv('bool_time.csv')

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [191]:
movies.columns = movies.columns.str.replace('_', ' ')
movies.columns

Index(['star rating', 'title', 'content rating', 'genre', 'duration',
       'actors list', 'bool long'],
      dtype='object')

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [193]:
movies.groupby('genre').apply(lambda x: x.sort_values(by=['star rating'], ascending=False).head(3))

               star rating                                              title  \
genre
Action    3            9.0                                    The Dark Knight
          12           8.8     Star Wars: Episode V - The Empire Strikes Back
          11           8.8                                          Inception
Adventure 7            8.9      The Lord of the Rings: The Return of the King
          14           8.8              The Lord of the Rings: The Two Towers
          10           8.8  The Lord of the Rings: The Fellowship of the Ring
Animation 30           8.6                                      Spirited Away
          61           8.5                             Grave of the Fireflies
          55           8.5                                      The Lion King
Biography 8            8.9                                   Schindler's List
          18           8.7                                         Goodfellas
          31           8.6                                   The Intouchables
Comedy    25           8.6                                  Life Is Beautiful
          35           8.6                                       Modern Times
          29           8.6                                        City Lights
Crime     0            9.3                           The Shawshank Redemption
          1            9.2                                      The Godfather
          2            9.1                             The Godfather: Part II
Drama     5            8.9                                       12 Angry Men
          9            8.9                                         Fight Club
          13           8.8                                       Forrest Gump
Family    468          7.9                         E.T. the Extra-Terrestrial
          497          7.8                Willy Wonka & the Chocolate Factory
Fantasy   638          7.7                          The City of Lost Children
Film-Noir 105          8.3                                      The Third Man
          210          8.1                                              Laura
          687          7.7                                         Spellbound
History   338          8.0                                Battleship Potemkin
Horror    39           8.6                                             Psycho
          57           8.5                                              Alien
          62           8.5                                        The Shining
Mystery   38           8.6                                        Rear Window
          46           8.5                                            Memento
          76           8.4                                            Vertigo
Sci-Fi    145          8.2                                       Blade Runner
          321          8.0                                             Brazil
          408          7.9                                            Gravity
Thriller  350          8.0                                  Shadow of a Doubt
          496          7.8                                             Misery
          728          7.6                                 La piel que habito
Western   6            8.9                     The Good, the Bad and the Ugly
          26           8.6                       Once Upon a Time in the West
          59           8.5                                   Django Unchained

              content rating      genre  duration  \
genre
Action    3            PG-13     Action       152
          12              PG     Action       124
          11           PG-13     Action       148
Adventure 7            PG-13  Adventure       201
          14           PG-13  Adventure       179
          10           PG-13  Adventure       178
Animation 30              PG  Animation       125
          61         UNRATED  Animation        89
          55               G  Animation        89
Biography 8                R  Biography       195
          18               R  Biography       146
          31               R  Biography       112
Comedy    25           PG-13     Comedy       116
          35               G     Comedy        87
          29          PASSED     Comedy        87
Crime     0                R      Crime       142
          1                R      Crime       175
          2                R      Crime       200
Drama     5        NOT RATED      Drama        96
          9                R      Drama       139
          13           PG-13      Drama       142
Family    468             PG     Family       115
          497              G     Family       100
Fantasy   638              R    Fantasy       112
Film-Noir 105      NOT RATED  Film-Noir        93
          210       APPROVED  Film-Noir        88
          687        UNRATED  Film-Noir       111
History   338        UNRATED    History        66
Horror    39               R     Horror       109
          57               R     Horror       117
          62               R     Horror       146
Mystery   38        APPROVED    Mystery       112
          46               R    Mystery       113
          76        APPROVED    Mystery       128
Sci-Fi    145              R     Sci-Fi       117
          321              R     Sci-Fi       132
          408          PG-13     Sci-Fi        91
Thriller  350       APPROVED   Thriller       108
          496              R   Thriller       107
          728              R   Thriller       120
Western   6        NOT RATED    Western       161
          26           PG-13    Western       175
          59               R    Western       165

                                                     actors list  bool long
genre
Action    3    [u'Christian Bale', u'Heath Ledger', u'Aaron E...          0
          12   [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...          1
          11   [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...          1
Adventure 7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...          0
          14   [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...          0
          10   [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...          0
Animation 30   [u'Daveigh Chase', u'Suzanne Pleshette', u'Miy...          1
          61   [u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake...          1
          55   [u'Matthew Broderick', u'Jeremy Irons', u'Jame...          1
Biography 8    [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...          0
          18    [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']          1
          31   [u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ...          1
Comedy    25   [u'Roberto Benigni', u'Nicoletta Braschi', u'G...          1
          35   [u'Charles Chaplin', u'Paulette Goddard', u'He...          1
          29   [u'Charles Chaplin', u'Virginia Cherrill', u'F...          1
Crime     0    [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...          1
          1      [u'Marlon Brando', u'Al Pacino', u'James Caan']          0
          2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...          0
Drama     5    [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...          1
          9    [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...          1
          13     [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']          1
Family    468  [u'Henry Thomas', u'Drew Barrymore', u'Peter C...          1
          497  [u'Gene Wilder', u'Jack Albertson', u'Peter Os...          1
Fantasy   638  [u'Ron Perlman', u'Daniel Emilfork', u'Judith ...          1
Film-Noir 105  [u'Orson Welles', u'Joseph Cotten', u'Alida Va...          1
          210  [u'Gene Tierney', u'Dana Andrews', u'Clifton W...          1
          687  [u'Ingrid Bergman', u'Gregory Peck', u'Michael...          1
History   338  [u'Aleksandr Antonov', u'Vladimir Barsky', u'G...          1
Horror    39   [u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...          1
          57   [u'Sigourney Weaver', u'Tom Skerritt', u'John ...          1
          62   [u'Jack Nicholson', u'Shelley Duvall', u'Danny...          1
Mystery   38   [u'James Stewart', u'Grace Kelly', u'Wendell C...          1
          46   [u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...          1
          76   [u'James Stewart', u'Kim Novak', u'Barbara Bel...          1
Sci-Fi    145  [u'Harrison Ford', u'Rutger Hauer', u'Sean You...          1
          321  [u'Jonathan Pryce', u'Kim Greist', u'Robert De...          1
          408  [u'Sandra Bullock', u'George Clooney', u'Ed Ha...          1
Thriller  350  [u'Teresa Wright', u'Joseph Cotten', u'Macdona...          1
          496  [u'James Caan', u'Kathy Bates', u'Richard Farn...          1
          728  [u'Antonio Banderas', u'Elena Anaya', u'Jan Co...          1
Western   6    [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...          0
          26   [u'Henry Fonda', u'Charles Bronson', u'Claudia...          0
          59   [u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...          0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [213]:
movies.value_counts(["star rating"])

star rating
7.6            124
7.8            116
7.7            112
7.5            108
8.1            103
8.0             97
7.9             75
8.2             50
7.4             48
8.3             43
8.4             37
8.5             23
8.6             15
8.7             10
8.9              6
8.8              5
9.0              1
9.1              1
9.2              1
9.3              1
dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

They both do the same exact thing, read in data from a text file. 
The only difference is that read_csv defaults the delimiter to a comma, 
while read_table uses tab as its default.

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

Compute a simple cross tabulation of two (or more) factors.
By default, computes a frequency table of the factors unless an array of values 
and an aggregation function are passed.

ستون ژانر و انواع محتوا رو تفکیک میکنه. یه جدول توافقی درست میکنه و میگه به تفکیک از هر کدوم چند تا هست

In [56]:
pd.crosstab(movies.genre, movies.content_rating)

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

corr() is used to find the pairwise correlation of all columns in the Pandas Dataframe in Python. 
Any NaN values are automatically excluded. Any non-numeric data type or columns in the Dataframe, 
it is ignored.

In [195]:
movies.corr()

             star rating  duration  bool long
star rating     1.000000  0.229410  -0.227145
duration        0.229410  1.000000  -0.740252
bool long      -0.227145 -0.740252   1.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [210]:
sample_1 = movies.sample(frac=0.75)
sample_2 = movies.drop(sample_1.index)
print(sample_2)

,star rating,title,content rating,genre,duration,actors list,bool long
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...",1
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",0
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich...",1
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']",1
...,...,...,...,...,...,...,...
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy...",1
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will...",0
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']",1
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John...",1
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

A PivotTable is a powerful tool to calculate, 
summarize, and analyze data that lets you see comparisons, 
patterns, and trends in your data.