<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته سوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [305]:
import numpy as np
import pandas as pd
import matplotlib as plt

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [306]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])
numbers

array([ 4.5 ,  7.8 ,  6.5 ,  0.5 ,  8.  ,  6.5 , 19.  , 13.5 ,  2.5 ,
       17.  , 19.  , 19.5 , 13.  , 12.21,  6.3 ,  0.5 ,  9.5 , 13.5 ,
       16.  ,  2.5 , 10.5 ,  8.  , 10.  , 15.5 ,  7.5 ,  0.  ,  1.  ,
       10.5 ,  2.  , 11.  ,  3.  , 14.  ,  3.5 , 18.5 , 13.  ,  1.  ,
       14.5 , 15.  ,  1.52, 15.5 ,  1.5 ,  2.8 ,  3.5 ,  6.5 , 12.5 ,
       14.5 , 11.5 ,  8.  , 10.2 ,  5.5 ,  0.5 , 23.  ,  5.  ,  0.5 ,
       17.5 , 17.5 , 17.5 , 15.  ,  4.5 , 17.  , 18.  , 10.  ,  8.5 ,
       14.  , 18.5 , 19.5 , 16.3 ,  8.5 ,  0.  ,  9.5 ,  6.  ,  2.  ,
        5.  ,  9.5 ,  4.  ,  4.  ,  1.  ,  8.  , 18.5 , 18.  , 15.5 ,
        4.5 ,  1.5 , 20.  ,  0.5 , 19.  ,  4.  ,  9.5 , 12.8 ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
<br>
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
<br>
$$ y = 10 + \frac{x}{10} $$
<br>
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
<br>
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
<br>
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [307]:
numbers1=np.vectorize(lambda x:(10+(x/10)) if x<8.5 else (-1*0.0051*(x**2)+(0.8586*x)+3.4332))(numbers)
top_new_twenty_five= numbers1[numbers1 >= np.quantile(numbers1, .75)]
numbers1,np.quantile(numbers1, .75),top_new_twenty_five

(array([10.45      , 10.78      , 10.65      , 10.05      , 10.8       ,
        10.65      , 17.9055    , 14.094825  , 10.25      , 16.5555    ,
        17.9055    , 18.236625  , 13.7331    , 13.15637709, 10.63      ,
        10.05      , 11.129625  , 14.094825  , 15.8652    , 10.25      ,
        11.886225  , 10.8       , 11.5092    , 15.516225  , 10.75      ,
        10.        , 10.1       , 11.886225  , 10.2       , 12.2607    ,
        10.3       , 14.454     , 10.35      , 17.571825  , 13.7331    ,
        10.1       , 14.810625  , 15.1647    , 10.152     , 15.516225  ,
        10.15      , 10.28      , 10.35      , 10.65      , 13.368825  ,
        14.810625  , 12.632625  , 10.8       , 11.660316  , 10.55      ,
        10.05      , 20.4831    , 10.5       , 10.05      , 16.896825  ,
        16.896825  , 16.896825  , 15.1647    , 10.45      , 16.5555    ,
        17.2356    , 11.5092    , 10.362825  , 14.454     , 17.571825  ,
        18.236625  , 16.073361  , 10.362825  , 10.        , 11.129625  ,
        10.6       , 10.2       , 10.5       , 11.129625  , 10.4       ,
        10.4       , 10.1       , 10.8       , 17.571825  , 17.2356    ,
        15.516225  , 10.45      , 10.15      , 18.5652    , 10.05      ,
        17.9055    , 10.4       , 11.129625  , 13.587696  ]),
 15.1647,
 array([17.9055  , 16.5555  , 17.9055  , 18.236625, 15.8652  , 15.516225,
        17.571825, 15.1647  , 15.516225, 20.4831  , 16.896825, 16.896825,
        16.896825, 15.1647  , 16.5555  , 17.2356  , 17.571825, 18.236625,
        16.073361, 17.571825, 17.2356  , 15.516225, 18.5652  , 17.9055  ]))

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [308]:
down_old_twenty_five = numbers[numbers <= np.quantile(numbers, .25)]
down_old_twenty_five

array([0.5 , 2.5 , 0.5 , 2.5 , 0.  , 1.  , 2.  , 3.  , 3.5 , 1.  , 1.52,
       1.5 , 2.8 , 3.5 , 0.5 , 0.5 , 0.  , 2.  , 4.  , 4.  , 1.  , 1.5 ,
       0.5 , 4.  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [309]:
finall_array = top_new_twenty_five - down_old_twenty_five
finall_array.reshape((len(down_old_twenty_five), 1, 1))

array([[[17.4055  ]],

       [[14.0555  ]],

       [[17.4055  ]],

       [[15.736625]],

       [[15.8652  ]],

       [[14.516225]],

       [[15.571825]],

       [[12.1647  ]],

       [[12.016225]],

       [[19.4831  ]],

       [[15.376825]],

       [[15.396825]],

       [[14.096825]],

       [[11.6647  ]],

       [[16.0555  ]],

       [[16.7356  ]],

       [[17.571825]],

       [[16.236625]],

       [[12.073361]],

       [[13.571825]],

       [[16.2356  ]],

       [[14.016225]],

       [[18.0652  ]],

       [[13.9055  ]]])

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [310]:
movies = pd.read_csv("data/imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [311]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [312]:
movies1 = movies.isnull().values.any() #Returns boolean value
movies1 = movies.isnull().sum().sum() #Returns number of records with null values
movies1

3

In [313]:
movies1 = movies.dropna(how='any',axis=0) 
movies1

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [314]:
movies.sort_values('duration',ascending= 0).head(50).to_csv('long_time.cvs', header= True)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [315]:
def Actors_movies(actor : str) -> int:
    result = (movies['actors_list'].str.contains(actor)).sum()
    return result
Actors_movies('Marlon Brando')

4

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [316]:
movies.groupby('genre').mean()['star_rating']

/var/folders/t4/bptgh3hx6bz480z9tyq5f9780000gn/T/ipykernel_47205/1551645237.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  movies.groupby('genre').mean()['star_rating']

genre
Action       7.884559
Adventure    7.933333
Animation    7.914516
Biography    7.862338
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [317]:
movies['longer_than_150']=movies.duration.apply(lambda x: 1 if x > 149 else 0).to_csv('New_movies.cvs', header=True)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [318]:
movies = movies.replace('_',' ', regex= True)
movies = movies.rename(columns = lambda s: s.replace("_", " "))
movies

,star rating,title,content rating,genre,duration,actors list,longer than 150
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",None
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",None
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",None
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",None
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",None
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",None
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",None
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",None
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",None
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",None

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [335]:
movies2 = movies.sort_values(['star rating'],ascending=False).groupby('genre').head(3)
movies2

,star rating,title,content rating,genre,duration,actors list,longer than 150
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",None
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",None
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",None
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",None
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...",None
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...",None
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",None
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",None
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh...",None
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']",None
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...",None
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",None
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...",None
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...",None
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']",None
39,8.6,Psycho,R,Horror,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...",None
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C...",None
35,8.6,Modern Times,G,Comedy,87,"[u'Charles Chaplin', u'Paulette Goddard', u'He...",None
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G...",None
30,8.6,Spirited Away,PG,Animation,125,"[u'Daveigh Chase', u'Suzanne Pleshette', u'Miy...",None
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F...",None
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia...",None
31,8.6,The Intouchables,R,Biography,112,"[u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ...",None
57,8.5,Alien,R,Horror,117,"[u'Sigourney Weaver', u'Tom Skerritt', u'John ...",None
55,8.5,The Lion King,G,Animation,89,"[u'Matthew Broderick', u'Jeremy Irons', u'Jame...",None
61,8.5,Grave of the Fireflies,UNRATED,Animation,89,"[u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake...",None
59,8.5,Django Unchained,R,Western,165,"[u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...",None
62,8.5,The Shining,R,Horror,146,"[u'Jack Nicholson', u'Shelley Duvall', u'Danny...",None
46,8.5,Memento,R,Mystery,113,"[u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...",None
76,8.4,Vertigo,APPROVED,Mystery,128,"[u'James Stewart', u'Kim Novak', u'Barbara Bel...",None
105,8.3,The Third Man,NOT RATED,Film-Noir,93,"[u'Orson Welles', u'Joseph Cotten', u'Alida Va...",None
145,8.2,Blade Runner,R,Sci-Fi,117,"[u'Harrison Ford', u'Rutger Hauer', u'Sean You...",None
210,8.1,Laura,APPROVED,Film-Noir,88,"[u'Gene Tierney', u'Dana Andrews', u'Clifton W...",None
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona...",None
321,8.0,Brazil,R,Sci-Fi,132,"[u'Jonathan Pryce', u'Kim Greist', u'Robert De...",None
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G...",None
468,7.9,E.T. the Extra-Terrestrial,PG,Family,115,"[u'Henry Thomas', u'Drew Barrymore', u'Peter C...",None
408,7.9,Gravity,PG-13,Sci-Fi,91,"[u'Sandra Bullock', u'George Clooney', u'Ed Ha...",None
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os...",None
496,7.8,Misery,R,Thriller,107,"[u'James Caan', u'Kathy Bates', u'Richard Farn...",None
687,7.7,Spellbound,UNRATED,Film-Noir,111,"[u'Ingrid Bergman', u'Gregory Peck', u'Michael...",None
638,7.7,The City of Lost Children,R,Fantasy,112,"[u'Ron Perlman', u'Daniel Emilfork', u'Judith ...",None
728,7.6,La piel que habito,R,Thriller,120,"[u'Antonio Banderas', u'Elena Anaya', u'Jan Co...",None

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

هر دو یک کار را انجام میدهند با این تفاوت که در read_cvs داده ها با کاما جدا میشوند ولی در read_table داده ها با تب جدا میشوند.

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

In [339]:
pd.crosstab(movies.genre, movies.content_rating)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

In [ ]:
movies.corr()

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [336]:
movies.value_counts('star rating')

star rating
7.6    124
7.8    116
7.7    113
7.5    108
8.1    103
8.0     97
7.9     75
8.2     51
7.4     49
8.3     43
8.4     37
8.5     23
8.6     15
8.7     10
8.9      6
8.8      5
9.0      1
9.1      1
9.2      1
9.3      1
dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [355]:
sample_1  = movies.sample(frac = .75)
sample_2 = movies.drop(sample_1.index)
sample_1 , sample_2

(     star rating                                          title  \
 603          7.7                         A Very Long Engagement
 485          7.8                                     Black Book
 64           8.4                                         WALL-E
 157          8.2                             Gone with the Wind
 279          8.1                The Perks of Being a Wallflower
 ..           ...                                            ...
 593          7.7                            Love Me If You Dare
 813          7.6                                    The Natural
 7            8.9  The Lord of the Rings: The Return of the King
 160          8.2                       How to Train Your Dragon
 435          7.9                             Do the Right Thing

     content rating      genre  duration  \
 603              R      Drama       133
 485              R      Drama       145
 64               G  Animation        98
 157              G      Drama       238
 279          PG-13      Drama       102
 ..             ...        ...       ...
 593              R     Comedy        93
 813             PG      Drama       138
 7            PG-13  Adventure       201
 160             PG  Animation        98
 435              R     Comedy       120

                                            actors list longer than 150
 603  [u'Audrey Tautou', u'Gaspard Ulliel', u'Jodie ...            None
 485  [u'Carice van Houten', u'Sebastian Koch', u'Th...            None
 64    [u'Ben Burtt', u'Elissa Knight', u'Jeff Garlin']            None
 157  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...            None
 279  [u'Logan Lerman', u'Emma Watson', u'Ezra Miller']            None
 ..                                                 ...             ...
 593  [u'Guillaume Canet', u'Marion Cotillard', u'Th...            None
 813  [u'Robert Redford', u'Robert Duvall', u'Glenn ...            None
 7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...            None
 160  [u'Jay Baruchel', u'Gerard Butler', u'Christop...            None
 435     [u'Danny Aiello', u'Ossie Davis', u'Ruby Dee']            None

 [734 rows x 7 columns],
      star rating                     title content rating      genre  \
 0            9.3  The Shawshank Redemption              R      Crime
 1            9.2             The Godfather              R      Crime
 3            9.0           The Dark Knight          PG-13     Action
 8            8.9          Schindler's List              R  Biography
 11           8.8                 Inception          PG-13     Action
 ..           ...                       ...            ...        ...
 936          7.4                 True Grit            NaN  Adventure
 948          7.4                Frances Ha              R     Comedy
 959          7.4      Deconstructing Harry              R     Comedy
 972          7.4            Blue Valentine          NC-17      Drama
 973          7.4     The Cider House Rules          PG-13      Drama

      duration                                        actors list  \
 0         142  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
 1         175    [u'Marlon Brando', u'Al Pacino', u'James Caan']
 3         152  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
 8         195  [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
 11        148  [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
 ..        ...                                                ...
 936       128    [u'John Wayne', u'Kim Darby', u'Glen Campbell']
 948        86  [u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri...
 959        96  [u'Woody Allen', u'Judy Davis', u'Julia Louis-...
 972       112  [u'Ryan Gosling', u'Michelle Williams', u'John...
 973       126  [u'Tobey Maguire', u'Charlize Theron', u'Micha...

     longer than 150
 0              None
 1              None
 3              None
 8              None
 11             None
 ..              ...
 936            None
 948            None
 959            None
 972            None
 973            None

 [245 rows x 7 columns])

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

برای reshape کردن یک دیتافریم بر اساس یک یا چند ستون استفاده میشود