<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته سوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [1]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [32]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

In [61]:
len(numbers)

89

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
<br>
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
<br>
$$ y = 10 + \frac{x}{10} $$
<br>
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
<br>
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
<br>
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [43]:
mask1 = numbers.copy()
mask2 = numbers.copy()
mask1 [mask1<8.5] = 1 

mask1 [mask1>=8.5] = 0 
mask2[mask2<8.5] = 0
mask2[mask2>=8.5] = 1
print(np.max(numbers))

23.0

In [34]:
mask1

array([1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0.,
       0., 0., 1., 0., 1., 0., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1.,
       0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1.,
       0., 1., 0., 0.])

In [35]:
mask2

array([0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1.,
       1., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1.,
       1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0.,
       1., 0., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1., 0.,
       1., 0., 1., 1.])

In [36]:
numbers_greater_than_eight = -0.0051*numbers**2 + 0.8586*numbers + 3.4332

numbers_less_than_eight = 10 + numbers / 10

numbers_greater_than_eight = numbers_greater_than_eight*mask2
numbers_less_than_eight = numbers_less_than_eight * mask1

In [41]:
numbers_new = numbers_greater_than_eight + numbers_less_than_eight

In [42]:
numbers_new

array([10.45      , 10.78      , 10.65      , 10.05      , 10.8       ,
       10.65      , 17.9055    , 14.094825  , 10.25      , 16.5555    ,
       17.9055    , 18.236625  , 13.7331    , 13.15637709, 10.63      ,
       10.05      , 11.129625  , 14.094825  , 15.8652    , 10.25      ,
       11.886225  , 10.8       , 11.5092    , 15.516225  , 10.75      ,
       10.        , 10.1       , 11.886225  , 10.2       , 12.2607    ,
       10.3       , 14.454     , 10.35      , 17.571825  , 13.7331    ,
       10.1       , 14.810625  , 15.1647    , 10.152     , 15.516225  ,
       10.15      , 10.28      , 10.35      , 10.65      , 13.368825  ,
       14.810625  , 12.632625  , 10.8       , 11.660316  , 10.55      ,
       10.05      , 20.4831    , 10.5       , 10.05      , 16.896825  ,
       16.896825  , 16.896825  , 15.1647    , 10.45      , 16.5555    ,
       17.2356    , 11.5092    , 10.362825  , 14.454     , 17.571825  ,
       18.236625  , 16.073361  , 10.362825  , 10.        , 11.129625  ,
       10.6       , 10.2       , 10.5       , 11.129625  , 10.4       ,
       10.4       , 10.1       , 10.8       , 17.571825  , 17.2356    ,
       15.516225  , 10.45      , 10.15      , 18.5652    , 10.05      ,
       17.9055    , 10.4       , 11.129625  , 13.587696  ])

In [44]:
print(np.max(numbers_new))

20.4831

In [10]:
#top_new_twenty_five =

In [51]:
np.quantile(numbers_new,0.75)

15.1647

In [66]:
top_new_twenty_five = numbers_new[numbers_new >= np.quantile(numbers_new,0.75)]

In [67]:
len(top_new_twenty_five)

24

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [64]:
down_old_twenty_five = numbers[numbers <= np.quantile(numbers,0.25)]

In [65]:
len(down_old_twenty_five)

24

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [70]:
#TODO
threeD_arr = top_new_twenty_five - down_old_twenty_five

In [78]:
threeD_arr= threeD_arr.reshape(24,1,1)

In [79]:
threeD_arr.shape

(24, 1, 1)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [129]:
movies = pd.read_csv("imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [82]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [86]:
movies

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [84]:
movies.isnull().sum() # There are 3 records with missing value for column content_rating

star_rating       0
title             0
content_rating    3
genre             0
duration          0
actors_list       0
dtype: int64

In [130]:
movies.dropna(axis=0,inplace=True)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [93]:
movies.sort_values(by = "duration",ascending="False").nlargest(50,"duration").to_csv("long_time.csv",index=False , header=True)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [107]:
def number_of_movies(name: str) ->int:    
    wanted_indexes = movies["actors_list"].apply(lambda x : True if name.lower().strip() in x else False)
    return len(movies[wanted_indexes])

In [108]:
number_of_movies("Dustin Hoffman")

11

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [111]:
movies.groupby("genre").mean()["star_rating"]

genre
Action       7.885926
Adventure    7.940541
Animation    7.914516
Biography    7.857895
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [114]:
movies["is_long"] = movies.duration.apply(lambda x : 0 if x > 150 else 1 )

In [116]:
movies.to_csv("Movies.csv" , index=False)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [160]:
movies_ = movies
movies_.columns = list(map(lambda x: x.replace("_" , " "),movies.columns))

In [161]:
movies_

,star rating,title,content rating,genre,duration,actors list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
...,...,...,...,...,...,...
119,8.3,Unforgiven,R,Western,131,"[u'Clint Eastwood', u'Gene Hackman', u'Morgan ..."
236,8.1,High Noon,PG,Western,85,"[u'Gary Cooper', u'Grace Kelly', u'Thomas Mitc..."
263,8.1,Rio Bravo,NOT RATED,Western,141,"[u'John Wayne', u'Dean Martin', u'Ricky Nelson']"
421,7.9,The Outlaw Josey Wales,PG,Western,135,"[u'Clint Eastwood', u'Sondra Locke', u'Chief D..."
704,7.6,High Plains Drifter,R,Western,105,"[u'Clint Eastwood', u'Verna Bloom', u'Marianna..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [154]:
movies_sorted = pd.DataFrame()
for genre in movies["genre"].unique():
    df_temp = movies[(movies["genre"] == genre)]
    df_temp = df_temp.nlargest(3,"star_rating")
    movies_sorted = pd.concat([movies_sorted , df_temp],axis = 0)

In [157]:
movies_sorted.groupby(["genre","star_rating","title","content_rating" , "duration"]).sum()

                                                                                                                                       actors_list
genre     star_rating title                                             content_rating duration
Action    8.8         Inception                                         PG-13          148.0     [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
                      Star Wars: Episode V - The Empire Strikes Back    PG             124.0     [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
          9.0         The Dark Knight                                   PG-13          152.0     [u'Christian Bale', u'Heath Ledger', u'Aaron E...
Adventure 8.8         The Lord of the Rings: The Fellowship of the Ring PG-13          178.0     [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...
                      The Lord of the Rings: The Two Towers             PG-13          179.0     [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...
          8.9         The Lord of the Rings: The Return of the King     PG-13          201.0     [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
Animation 8.5         Grave of the Fireflies                            UNRATED        89.0      [u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Ake...
                      The Lion King                                     G              89.0      [u'Matthew Broderick', u'Jeremy Irons', u'Jame...
          8.6         Spirited Away                                     PG             125.0     [u'Daveigh Chase', u'Suzanne Pleshette', u'Miy...
Biography 8.6         The Intouchables                                  R              112.0     [u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ...
          8.7         Goodfellas                                        R              146.0      [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']
          8.9         Schindler's List                                  R              195.0     [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
Comedy    8.6         City Lights                                       PASSED         87.0      [u'Charles Chaplin', u'Virginia Cherrill', u'F...
                      Life Is Beautiful                                 PG-13          116.0     [u'Roberto Benigni', u'Nicoletta Braschi', u'G...
                      Modern Times                                      G              87.0      [u'Charles Chaplin', u'Paulette Goddard', u'He...
Crime     9.1         The Godfather: Part II                            R              200.0     [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
          9.2         The Godfather                                     R              175.0       [u'Marlon Brando', u'Al Pacino', u'James Caan']
          9.3         The Shawshank Redemption                          R              142.0     [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
Drama     8.8         Forrest Gump                                      PG-13          142.0       [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']
          8.9         12 Angry Men                                      NOT RATED      96.0      [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
                      Fight Club                                        R              139.0     [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...
Family    7.8         Willy Wonka & the Chocolate Factory               G              100.0     [u'Gene Wilder', u'Jack Albertson', u'Peter Os...
          7.9         E.T. the Extra-Terrestrial                        PG             115.0     [u'Henry Thomas', u'Drew Barrymore', u'Peter C...
Fantasy   7.7         The City of Lost Children                         R              112.0     [u'Ron Perlman', u'Daniel Emilfork', u'Judith ...
Film-Noir 7.7         Spellbound                                        UNRATED        111.0     [u'Ingrid Bergman', u'Gregory Peck', u'Michael...
          8.1         Laura                                             APPROVED       88.0      [u'Gene Tierney', u'Dana Andrews', u'Clifton W...
          8.3         The Third Man                                     NOT RATED      93.0      [u'Orson Welles', u'Joseph Cotten', u'Alida Va...
History   8.0         Battleship Potemkin                               UNRATED        66.0      [u'Aleksandr Antonov', u'Vladimir Barsky', u'G...
Horror    8.5         Alien                                             R              117.0     [u'Sigourney Weaver', u'Tom Skerritt', u'John ...
                      The Shining                                       R              146.0     [u'Jack Nicholson', u'Shelley Duvall', u'Danny...
          8.6         Psycho                                            R              109.0     [u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...
Mystery   8.4         Vertigo                                           APPROVED       128.0     [u'James Stewart', u'Kim Novak', u'Barbara Bel...
          8.5         Memento                                           R              113.0     [u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...
          8.6         Rear Window                                       APPROVED       112.0     [u'James Stewart', u'Grace Kelly', u'Wendell C...
Sci-Fi    7.9         Gravity                                           PG-13          91.0      [u'Sandra Bullock', u'George Clooney', u'Ed Ha...
          8.0         Brazil                                            R              132.0     [u'Jonathan Pryce', u'Kim Greist', u'Robert De...
          8.2         Blade Runner                                      R              117.0     [u'Harrison Ford', u'Rutger Hauer', u'Sean You...
Thriller  7.6         La piel que habito                                R              120.0     [u'Antonio Banderas', u'Elena Anaya', u'Jan Co...
          7.8         Misery                                            R              107.0     [u'James Caan', u'Kathy Bates', u'Richard Farn...
          8.0         Shadow of a Doubt                                 APPROVED       108.0     [u'Teresa Wright', u'Joseph Cotten', u'Macdona...
Western   8.5         Django Unchained                                  R              165.0     [u'Jamie Foxx', u'Christoph Waltz', u'Leonardo...
          8.6         Once Upon a Time in the West                      PG-13          175.0     [u'Henry Fonda', u'Charles Bronson', u'Claudia...
          8.9         The Good, the Bad and the Ugly                    NOT RATED      161.0     [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        تفاوت عمده ای بین این دو دستور خواندن داده وجود ندارد به جز اینکه
        <br/>
        read_table از tab به طور پیش فرض به عنوان دلیمیتر استفاده میکند.
        <br/>
        read_csv خود از فراخوانی read_table استفاده می کند، بنابرین در عملکرد نیز تفاوتی ندارند.
    </font>
</div>

In [163]:
pd.read_table("Movies.csv",delimiter=",")

,star_rating,title,content_rating,genre,duration,actors_list,is_long
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",0
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0
...,...,...,...,...,...,...,...
971,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",1
972,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",1
973,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1
974,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",1
975,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این مثال، تعداد فیلم هایی از ژانر x که در دسته بندی محتوایی y قرار میگیرند را نمایش می دهد 
        <br/>
    </font>
</div>

In [202]:
movies = pd.read_csv("imdb_movie_rank.csv")
pd.crosstab(movies.genre, movies.content_rating)

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zarconvert_dtypesize=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

In [172]:
movies.corr()

             star_rating  duration
star_rating     1.000000  0.227149
duration        0.227149  1.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [173]:
movies["content_rating"].value_counts()

R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
NC-17          7
PASSED         7
X              4
GP             3
TV-MA          1
Name: content_rating, dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [177]:
sample_1 = movies.sample(frac=0.75)
sample_2 = movies.drop(sample_1.index,axis = 0)

In [178]:
sample_1

,star_rating,title,content_rating,genre,duration,actors_list
291,8.1,The Return,UNRATED,Drama,105,"[u'Vladimir Garin', u'Ivan Dobronravov', u'Kon..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
760,7.6,Enemy at the Gates,R,Drama,131,"[u'Jude Law', u'Ed Harris', u'Joseph Fiennes']"
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."
385,8.0,Spartacus,PG-13,Action,197,"[u'Kirk Douglas', u'Laurence Olivier', u'Jean ..."
...,...,...,...,...,...,...
300,8.0,Dogville,R,Crime,178,"[u'Nicole Kidman', u'Paul Bettany', u'Lauren B..."
344,8.0,Head-On,R,Drama,121,"[u'Birol \xdcnel', u'Sibel Kekilli', u'G\xfcve..."
257,8.1,Anatomy of a Murder,UNRATED,Crime,160,"[u'James Stewart', u'Lee Remick', u'Ben Gazzara']"
471,7.8,Tangled,PG,Animation,100,"[u'Mandy Moore', u'Zachary Levi', u'Donna Murp..."
72,8.4,Rang De Basanti,NOT RATED,Drama,157,"[u'Aamir Khan', u'Soha Ali Khan', u'Siddharth']"

In [179]:
sample_2

,star_rating,title,content_rating,genre,duration,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
...,...,...,...,...,...,...
943,7.4,The Bucket List,PG-13,Adventure,97,"[u'Jack Nicholson', u'Morgan Freeman', u'Sean ..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

In [214]:
df = pd.pivot_table(data= movies , index="genre" , columns="star_rating" , aggfunc=np.sum)
df.replace(np.nan, 0)

            duration                                                          \
star_rating      7.4     7.5     7.6     7.7     7.8     7.9     8.0     8.1
genre
Action         496.0  1199.0  3033.0  2317.0  2597.0  1314.0  1321.0  1444.0
Adventure      824.0   764.0   800.0   672.0  1037.0   727.0  1562.0   959.0
Animation      162.0   354.0   502.0   774.0   892.0   600.0   854.0   424.0
Biography      382.0   944.0  1525.0  1031.0  1429.0  1128.0   860.0  1078.0
Comedy        1559.0  1504.0  2379.0  2564.0  2148.0   949.0  1259.0  1493.0
Crime          455.0  2445.0  1571.0  1824.0  1504.0  1106.0   974.0  1663.0
Drama         1466.0  4107.0  3823.0  3655.0  3572.0  2608.0  4087.0  4454.0
Family           0.0     0.0     0.0     0.0   100.0   115.0     0.0     0.0
Fantasy          0.0     0.0     0.0   112.0     0.0     0.0     0.0     0.0
Film-Noir        0.0     0.0     0.0   111.0     0.0     0.0     0.0    88.0
History          0.0     0.0     0.0     0.0     0.0     0.0    66.0     0.0
Horror         114.0   680.0   621.0   191.0   199.0    75.0   496.0     0.0
Mystery        105.0   316.0    69.0     0.0   100.0    86.0     0.0   531.0
Sci-Fi           0.0     0.0     0.0   113.0    92.0    91.0   132.0     0.0
Thriller         0.0   236.0   120.0     0.0   107.0     0.0   108.0     0.0
Western          0.0     0.0   105.0     0.0     0.0   135.0     0.0   226.0

                                                                               \
star_rating     8.2     8.3     8.4    8.5    8.6    8.7    8.8    8.9    9.0
genre
Action        538.0   963.0   558.0  457.0  284.0  257.0  272.0    0.0  152.0
Adventure     246.0  1178.0   501.0  116.0    0.0  169.0  357.0  201.0    0.0
Animation     526.0   263.0   335.0  178.0  125.0    0.0    0.0    0.0    0.0
Biography     727.0   285.0   160.0  150.0  112.0  146.0    0.0  195.0    0.0
Comedy        962.0   530.0   759.0  390.0  290.0    0.0    0.0    0.0    0.0
Crime         744.0   416.0   987.0  340.0  229.0  236.0    0.0  154.0    0.0
Drama        2235.0  1532.0  1400.0  938.0  327.0  597.0  142.0  235.0    0.0
Family          0.0     0.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0
Fantasy         0.0     0.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0
Film-Noir       0.0    93.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0
History         0.0     0.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0
Horror        225.0     0.0     0.0  263.0  109.0    0.0    0.0    0.0    0.0
Mystery       130.0   160.0   128.0  113.0  112.0    0.0    0.0    0.0    0.0
Sci-Fi        117.0     0.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0
Thriller        0.0     0.0     0.0    0.0    0.0    0.0    0.0    0.0    0.0
Western         0.0   263.0     0.0  165.0  175.0    0.0    0.0  161.0    0.0


star_rating    9.1    9.2    9.3
genre
Action         0.0    0.0    0.0
Adventure      0.0    0.0    0.0
Animation      0.0    0.0    0.0
Biography      0.0    0.0    0.0
Comedy         0.0    0.0    0.0
Crime        200.0  175.0  142.0
Drama          0.0    0.0    0.0
Family         0.0    0.0    0.0
Fantasy        0.0    0.0    0.0
Film-Noir      0.0    0.0    0.0
History        0.0    0.0    0.0
Horror         0.0    0.0    0.0
Mystery        0.0    0.0    0.0
Sci-Fi         0.0    0.0    0.0
Thriller       0.0    0.0    0.0
Western        0.0    0.0    0.0