روی دیتای

cardio_train1

شبکه عمیق خود را به صورت های

sequentional functional classbase

و تیون کردن هایپر پارمتر ها ترین کنید

1- حتما تنسور بورد داشته باشد و به صورت یک لینک داده شود

2-EarlyStopping

3-  در ابتدای هر ایپاک شماره ایپاک و مقدار لاس را در متن زیر پرینت کند

in ... epoch loss is ...

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df= pd.read_csv("cardio_train1.csv")
df=df.drop(['id'], axis = 1)
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [14]:
X=df.drop(['cardio'],axis=1).values
y=df['cardio'].values

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
    test_size=0.2, shuffle = True, random_state = 8)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, 
    test_size=0.25, random_state= 8)

In [22]:
print("X_train shape: {}".format(X_train.shape))
print("y_train shape: {}".format(y_train.shape))
print("X_test shape: {}".format(X_test.shape))
print("y_test shape: {}".format(y_test.shape))
print("X_val shape: {}".format(X_val.shape))
print("y_val shape: {}".format(y_val.shape))

X_train shape: (42000, 11)
y_train shape: (42000,)
X_test shape: (14000, 11)
y_test shape: (14000,)
X_val shape: (14000, 11)
y_val shape: (14000,)

In [43]:
import tensorflow as tf
import keras
from tensorflow.keras.layers import Dense,Dropout,Activation,Flatten
from keras.callbacks import EarlyStopping

In [38]:
from keras.datasets import fashion_mnist
from keras.models import Sequential
from keras.layers import Dense, Activation

In [45]:
early_stoping=EarlyStopping(monitor='loss', mode='max', verbose=1, patience=10)

In [46]:
tf.random.set_seed(42)
model = keras.Sequential()
model.add(keras.layers.Dense(300, activation="relu"))
model.add(keras.layers.Dense(100, activation="relu"))
model.add(keras.layers.Dense(2,activation='softmax'))

In [47]:
model.compile(loss="sparse_categorical_crossentropy",
optimizer="Adam",
metrics=["accuracy"])

In [48]:
history = model.fit(X_train, y_train, epochs=20,
validation_data=(X_val, y_val),callbacks=[early_stoping])

Epoch 1/20
1313/1313 [==============================] - 3s 1ms/step - loss: 50.7149 - accuracy: 0.5069 - val_loss: 10.5375 - val_accuracy: 0.5089
Epoch 2/20
1313/1313 [==============================] - 2s 1ms/step - loss: 16.6684 - accuracy: 0.5158 - val_loss: 9.3718 - val_accuracy: 0.5090
Epoch 3/20
1313/1313 [==============================] - 2s 2ms/step - loss: 6.9773 - accuracy: 0.5397 - val_loss: 7.0718 - val_accuracy: 0.5093
Epoch 4/20
1313/1313 [==============================] - 2s 1ms/step - loss: 4.4206 - accuracy: 0.5571 - val_loss: 6.7868 - val_accuracy: 0.5073
Epoch 5/20
1313/1313 [==============================] - 2s 1ms/step - loss: 3.1681 - accuracy: 0.5685 - val_loss: 2.3973 - val_accuracy: 0.5066
Epoch 6/20
1313/1313 [==============================] - 2s 1ms/step - loss: 1.8547 - accuracy: 0.5819 - val_loss: 0.7853 - val_accuracy: 0.6274
Epoch 7/20
1313/1313 [==============================] - 2s 1ms/step - loss: 1.0633 - accuracy: 0.5996 - val_loss: 1.3836 - val_accuracy: 0.5183
Epoch 8/20
1313/1313 [==============================] - 2s 1ms/step - loss: 0.9206 - accuracy: 0.6034 - val_loss: 0.8410 - val_accuracy: 0.5366
Epoch 9/20
1313/1313 [==============================] - 2s 1ms/step - loss: 0.7051 - accuracy: 0.6233 - val_loss: 0.6137 - val_accuracy: 0.7092
Epoch 10/20
1313/1313 [==============================] - 2s 1ms/step - loss: 0.6919 - accuracy: 0.5300 - val_loss: 0.6907 - val_accuracy: 0.5091
Epoch 11/20
1313/1313 [==============================] - 2s 1ms/step - loss: 0.6911 - accuracy: 0.5173 - val_loss: 0.6902 - val_accuracy: 0.4986
Epoch 11: early stopping

In [49]:
class PrintValTrainRatioCallback(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs):
        ratio = logs["loss"]
        print(f"in Epoch={epoch}, the loss is={ratio:.2f}")

In [50]:
val_train_ratio_cb = PrintValTrainRatioCallback()
history = model.fit(
    (X_train), (y_train), epochs=10,
    validation_data=((X_val), (y_val)),
    callbacks=[val_train_ratio_cb], verbose=0)

in Epoch=0, the loss is=0.70
in Epoch=1, the loss is=0.69
in Epoch=2, the loss is=0.69
in Epoch=3, the loss is=0.69
in Epoch=4, the loss is=0.69
in Epoch=5, the loss is=0.69
in Epoch=6, the loss is=0.69
in Epoch=7, the loss is=0.69
in Epoch=8, the loss is=0.69
in Epoch=9, the loss is=0.69

linux

1- با چه دستوری مسیر پایتون را پیدا کنیم



2- با چه دستوری از نوع فایل مطمین میشبم



3-منظور از اعداد نشان داده شده بعد از زدت دستور زیر چیست



4- دستوری که دایرکتوری بسازد که درون آن یک دایرکتوری دیگر هم هست



5- با چه دستوری فایل بالا را به صورت ریکرسیو پاک می کنید



6- با چه کامتد هایی میتوان فایل را خواند 



7- برای تعقیب تعییرات یک فایل چه دستوری را پیشنهاد میدهید


8- معادل دستورپرینت در بش چیست