شرکتی شما را استخدام کرده تا داده هایی که دیتا آنلیزور شرکت به صورت محرمانه در آورده را تحلیل کنید دیتاهای مورد نیاز گذاشته شده

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pylab as plt

In [2]:
data = pd.read_csv('/Users/saminrazeghi/Documents/Samin/BootCamp/Week19/Exam/train.csv')
test = pd.read_csv('/Users/saminrazeghi/Documents/Samin/BootCamp/Week19/Exam/test.csv')
data.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188318 entries, 0 to 188317
Columns: 132 entries, id to loss
dtypes: float64(15), int64(1), object(116)
memory usage: 189.7+ MB

In [4]:
data.shape

(188318, 132)

In [5]:
test.shape

(125546, 131)

In [6]:
data.describe()

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
count,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000,188318.000000
mean,294135.982561,0.493861,0.507188,0.498918,0.491812,0.487428,0.490945,0.484970,0.486437,0.485506,0.498066,0.493511,0.493150,0.493138,0.495717,3037.337686
std,169336.084867,0.187640,0.207202,0.202105,0.211292,0.209027,0.205273,0.178450,0.199370,0.181660,0.185877,0.209737,0.209427,0.212777,0.222488,2904.086186
min,1.000000,0.000016,0.001149,0.002634,0.176921,0.281143,0.012683,0.069503,0.236880,0.000080,0.000000,0.035321,0.036232,0.000228,0.179722,0.670000
25%,147748.250000,0.346090,0.358319,0.336963,0.327354,0.281143,0.336105,0.350175,0.312800,0.358970,0.364580,0.310961,0.311661,0.315758,0.294610,1204.460000
50%,294539.500000,0.475784,0.555782,0.527991,0.452887,0.422268,0.440945,0.438285,0.441060,0.441450,0.461190,0.457203,0.462286,0.363547,0.407403,2115.570000
75%,440680.500000,0.623912,0.681761,0.634224,0.652072,0.643315,0.655021,0.591045,0.623580,0.566820,0.614590,0.678924,0.675759,0.689974,0.724623,3864.045000
max,587633.000000,0.984975,0.862654,0.944251,0.954297,0.983674,0.997162,1.000000,0.980200,0.995400,0.994980,0.998742,0.998484,0.988494,0.844848,121012.250000

In [7]:
data.nunique()

id        188318
cat1           2
cat2           2
cat3           2
cat4           2
           ...
cont11       326
cont12       328
cont13       353
cont14     18740
loss      158223
Length: 132, dtype: int64

In [8]:
data.isnull().sum()

id        0
cat1      0
cat2      0
cat3      0
cat4      0
         ..
cont11    0
cont12    0
cont13    0
cont14    0
loss      0
Length: 132, dtype: int64

In [9]:
data.duplicated().sum()

0

استفاده کنید catboost راهنمایی: از کتابخانه

In [10]:
from sklearn.model_selection import train_test_split
import category_encoders as ce

In [11]:
X = data.drop('loss', axis = 1)
y = data['loss']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=3)

In [12]:
# Define catboost encoder
cbe_encoder = ce.cat_boost.CatBoostEncoder()
  
# Fit encoder and transform the features
cbe_encoder.fit(X_train, y_train)
train_cbe = cbe_encoder.transform(X_train)
test_cbe = cbe_encoder.transform(X_test)

In [13]:
train_cbe

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
71948,224892,3408.183544,2448.620755,2901.218414,2823.585939,2816.760998,2513.159784,2910.09894,2976.887736,2506.500620,...,0.397069,0.374877,0.560801,0.31796,0.35897,0.32935,0.472726,0.462286,0.321548,0.812096
131806,411190,3408.183544,3810.735794,2901.218414,2823.585939,3463.952302,3264.151433,2910.09894,2976.887736,3839.100664,...,0.811271,0.329836,0.259679,0.39455,0.39648,0.32935,0.275431,0.301921,0.295948,0.297212
171409,534813,3408.183544,3810.735794,2901.218414,2823.585939,3463.952302,3264.151433,2910.09894,2976.887736,3839.100664,...,0.811271,0.421047,0.412356,0.62918,0.50630,0.37493,0.338312,0.331643,0.315758,0.189748
49147,154131,3408.183544,3810.735794,2901.218414,2823.585939,2816.760998,3264.151433,2910.09894,2976.887736,3839.100664,...,0.534484,0.320802,0.366400,0.81542,0.32128,0.36458,0.457203,0.447145,0.695650,0.740509
104564,326648,3408.183544,3810.735794,2901.218414,2823.585939,3463.952302,3264.151433,2910.09894,2976.887736,3839.100664,...,0.499798,0.332963,0.377235,0.58354,0.44352,0.39599,0.341813,0.352251,0.339244,0.399007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156437,487632,1915.782145,2448.620755,2901.218414,2823.585939,3463.952302,3264.151433,2910.09894,2976.887736,2506.500620,...,0.422268,0.215472,0.252348,0.64027,0.31945,0.21983,0.169206,0.167768,0.293178,0.486768
104704,327079,3408.183544,3810.735794,2901.218414,2823.585939,2816.760998,3264.151433,2910.09894,2976.887736,3839.100664,...,0.783230,0.331919,0.336160,0.36083,0.39849,0.39599,0.297750,0.301921,0.351299,0.296582
48056,150796,3408.183544,3810.735794,2901.218414,2823.585939,2816.760998,3264.151433,2910.09894,2976.887736,3839.100664,...,0.281143,0.491827,0.350400,0.60087,0.76280,0.51111,0.288058,0.282971,0.712318,0.602969
77049,241001,1915.782145,3810.735794,2901.218414,3495.506930,2816.760998,3264.151433,2910.09894,2976.887736,3839.100664,...,0.281143,0.269751,0.319416,0.53642,0.30859,0.33428,0.223038,0.220003,0.437003,0.414681
71530,223598,3408.183544,2448.620755,2901.218414,2823.585939,2816.760998,2513.159784,2910.09894,2976.887736,2506.500620,...,0.281143,0.784607,0.362627,0.27320,0.55441,0.60932,0.434083,0.424625,0.701266,0.255031

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import metrics

In [25]:
model_linearRegression = make_pipeline(StandardScaler(), LinearRegression())
model_linearRegression.fit(train_cbe, y_train)
y_pred = model_linearRegression.predict(test_cbe)
mean_squared_error(y_test, y_pred)

4368949.105282511

In [15]:
from sklearn.svm import SVR

In [ ]:
svr=make_pipeline(StandardScaler(),SVR(kernel='rbf'))
svr.fit(train_cbe, y_train)
y_pred= svr.predict(test_cbe)
mean_squared_error(y_test, y_pred)

یک عکس را به صورت واتر مارک روی عکسی جدید چاپ کرده و گوشه های آن را پیدا کنید