# Questions and Results

## docker

### 1- write a command to make  postgres container from 3.9 version with volume that connect "/etc/" of host to "/var/lib/postgresql/data" of docker  user="me" pass="me@pass" in detached mode and name it "mypostgrescontainer"

docker run --name mypostgrescontainer -v /etc:/var/lib/postgresql/data -p 5432:5432 -e POSTGRES_USER=me -e POSTGRES_PASSWORD=me@pass -d postgres:3.9

### 2 - we made the above docker we want write a function in python to find the status of it (EXITED,RUNNING,PAUSED,...) waht is your suggestion command?

from typing import Optional

import docker


def is_container_running(container_name: str) -> Optional[bool]:
    
    docker_client = docker.from_env()

    try:
        container = docker_client.containers.get(container_name)
    except docker.errors.NotFound as exc:
        print(f"Check container name!\n{exc.explanation}")
    else:
        container_state = container.attrs["State"]
        return container_state["Status"]


if __name__ == "__main__":
    container_name = "mypostgrescontainer"
    result = is_container_running(container_name)
    print(result)

### 3- با استفاده از دادگان ارائه شده محاسبه کنید هر مشتری چند درصد از هر محصول را خریده است. (با دقت دهگان درصد)

# solution

In [54]:
import pandas as pd
import numpy as np

In [55]:
data = pd.read_csv('quize_pandas.zip', compression='zip')

In [56]:
df = pd.pivot_table(data=data,values=["Count","Volume"] ,columns=["Product","Model" ], aggfunc="sum", index = "Customer")
df = df.fillna(0)

In [57]:
df = df.apply(lambda x: x / sum(x))
df = df.dropna(axis=1)
df

         Count                                                     Volume  \
Product    P01                          P03                           P02
Model      M01      M02       M03       M01       M02       M03       M01
Customer
CI100019   0.0  0.71875  0.833333  0.201923  0.421365  0.554348  0.000000
CI100021   1.0  0.00000  0.166667  0.403846  0.335312  0.445652  0.056476
CI100028   0.0  0.28125  0.000000  0.394231  0.243323  0.000000  0.943524


Product
Model          M02       M03
Customer
CI100019  0.449101  0.121291
CI100021  0.247027  0.488387
CI100028  0.303872  0.390322

### 4- به هر سطر لیست دادگان میزان کل محصول خریداری شده اضافه کنید و بنا به شماره مشتری، محصول و مدل مرتب کنید

In [ ]:
df = data.groupby(["Customer" , "Product" ,"Model"]).sum()
d=data.groupby(["Model" , "Product"]).sum()

In [ ]:
df["Count total"] = 0
df["Volume total"] = 0

for costumer , product , model in df.index:
    df["Count total"].loc[costumer,product, model] = d.loc[model , product]["Count"]
    df["Volume total"].loc[costumer,product, model] = d.loc[model , product]["Volume"]

In [60]:
df

                        Count    Volume  Count total  Volume total
Customer Product Model
CI100019 P01     M02     23.0  0.000000           32      0.000000
                 M03     10.0  0.000000           12      0.000000
         P02     M02      0.0  1.723917            0      3.838595
                 M03      0.0  1.370358            0     11.298089
         P03     M01     21.0  0.000000          104      0.000000
                 M02    142.0  0.000000          337      0.000000
                 M03     51.0  0.000000           92      0.000000
CI100021 P01     M01      1.0  0.000000            1      0.000000
                 M03      2.0  0.000000           12      0.000000
         P02     M01      0.0  0.427100            0      7.562549
                 M02      0.0  0.948237            0      3.838595
                 M03      0.0  5.517841            0     11.298089
         P03     M01     42.0  0.000000          104      0.000000
                 M02    113.0  0.000000          337      0.000000
                 M03     41.0  0.000000           92      0.000000
CI100028 P01     M02      9.0  0.000000           32      0.000000
         P02     M01      0.0  7.135449            0      7.562549
                 M02      0.0  1.166441            0      3.838595
                 M03      0.0  4.409889            0     11.298089
         P03     M01     41.0  0.000000          104      0.000000
                 M02     82.0  0.000000          337      0.000000

### 5- Write a Pandas program to extract email from  column .

In [1]:
import pandas as pd
import re as re
df = pd.DataFrame({
    'email': ['samin@gmail.com','mohammad gm@yahoo.com','sara rp@abc.io', 'salvia', 'mehrdad.gm@github.com']
    })

In [47]:
df['valid_email']=df.email.str.findall(r'[\w.]+@\w{2,}.(?:com|io)').transform(''.join)
df

                   email            valid_email
0        samin@gmail.com        samin@gmail.com
1  mohammad gm@yahoo.com           gm@yahoo.com
2         sara rp@abc.io              rp@abc.io
3                 salvia
4  mehrdad.gm@github.com  mehrdad.gm@github.com

## review:

### 6- make the plaot with bokeh like titanic.html file x axis is age y axis is survived and bolding of circles are according to Fare when you hover each circle it should show some extra informations

In [48]:
from bokeh.io import curdoc, show

In [49]:
from bokeh.models import HoverTool

In [50]:
from bokeh.models import Circle, ColumnDataSource, Grid, LinearAxis, Plot

In [51]:
titanic_df=pd.read_csv('titanic.csv')

In [52]:
x = titanic_df['Age']
y=titanic_df['Survived']
sizes = titanic_df['Fare']

source = ColumnDataSource(dict(x=x, y=y, sizes=sizes))

plot = Plot(
    title=None, width=1500, height=600,
    min_border=0, toolbar_location=None)

TOOLS = "box_select,lasso_select,hover,help"

glyph = Circle(x="x", y="y", size="sizes", line_color="#3288bd", fill_color="blue", line_width=3)

In [53]:
plot.add_glyph(source, glyph)

xaxis = LinearAxis()
plot.add_layout(xaxis, 'below')

yaxis = LinearAxis()
plot.add_layout(yaxis, 'left')

plot.add_layout(Grid(dimension=0, ticker=xaxis.ticker))
plot.add_layout(Grid(dimension=1, ticker=yaxis.ticker))

curdoc().add_root(plot)

hover = HoverTool()
hover.tooltips=[
    ("Age", "@x"),
    ("Survived", "@y"),
    ("Fare", "@sizes")
]

plot.add_tools(hover)

show(plot)