answer below questions
1-what is diffrent betwee select and select distinct

2- with sql how do you select all the records from the table named"Person" where the value of the column"FirstName" starts with an "a"

3-what does truncate do 

4-with which sql command you can change table schema ? make an example

5-how do you cahnge a record that saved in table

6-what is the meaning of pk and foreign key are they diffrent?

# Answers
1- SELECT will select all the columns from the tables in the FROM clause; SELECT DISTINCT will find all unique combinations of row data for tables in the FROM clause. DISTINCT forces a sort and unique filtering operations making it far slower for large data.

2- SELECT * FROM Person WHERE FirstName LIKE 'a%';

3- TRUNCATE TABLE removes all rows from a table, but the table structure and its columns, constraints, indexes, and so on remain. 

4- ALTER SCHEMA can only be used to move securables between schemas in the same database.

5- With the UPDATE command

6- A PK(primary key) constraint is a column that uniquely identifies every row in the table of the relational database management system, while a foreign key is a column that creates a relationship between two tables. The primary Key never accepts null values, whereas the foreign key may accept multiple null values.

## from calss
#### fill in the ..... blanks

In [4]:
import sqlite3
conn = sqlite3.connect("titanic.db")
curs = conn.cursor()
curs.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(curs.fetchall())
curs.execute("UPDATE titanic SET IsReverend = 0 WHERE Name NOT LIKE '%Rev%'")
conn.commit()

In [ ]:
import psycopg2
import psycopg2.extras
import pandas as pd

# Connect to your postgres DB
conn = psycopg2.connect(
    host ="localhost",
    database = "ml",
    user = "mapsa",
    password = "mapsa1234")

# pandas dataframe
# df = pd.read_sql_query("SELECT * FROM users", conn)

# Open a cursor to perform database operations
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
# cur = conn.cursor()


# find users
cur.execute("SELECT username FROM users")

### sqlalchemy is big orm i want you use peewe orm that give you a hand in making queries
1-use it to make sqlite database with name and day(date kind)scheme that named peewedb.db and create it

In [70]:
import peewee
from datetime import date

In [71]:
sqlite_db = peewee.SqliteDatabase("peewedb.db")

In [72]:
class Person(peewee.Model):
    Name = peewee.CharField()
    Birthday = peewee.DateField()

    class Meta:
        database = sqlite_db
#sqlite_db.connect()
sqlite_db.create_tables([Person])

2- add two row in your database first on is (name=azaddel and day= (1991,2,14) and second one is (name=yourname, day=yourbirthday) and save it to peewedb datbase in person table

In [73]:
person1 = Person(Name='Azaddel', Birthday=date(1991,2,14))
person1.save()
person1= Person(Name='Samin', Birthday=date(1999,7,13))
person2.save()

NameError: name 'person2' is not defined

3- filter the table with rows that their name is equal to your name

In [64]:
me = Person.select().where(Person.Name == 'Samin').get()
me.Name

'Samin'