In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [29]:
df=pd.read_csv('song_lyric_data.csv')
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [30]:
df['text'] = df['text'].str.replace(r'\n', '')
df.head(10)

/tmp/ipykernel_4181/2413021866.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace(r'\n', '')

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face And i..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please Touch me gently ..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go Why I had to ...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,/a/abba/burning+my+bridges_20003011.html,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,/a/abba/cassandra_20002811.html,Down in the street they're all singing and sho...
7,ABBA,Chiquitita,/a/abba/chiquitita_20002978.html,"Chiquitita, tell me what's wrong You're encha..."
8,ABBA,Crazy World,/a/abba/crazy+world_20003013.html,I was out with the morning sun Couldn't sleep...
9,ABBA,Crying Over You,/a/abba/crying+over+you_20177611.html,I'm waitin' for you baby I'm sitting all alon...

In [31]:
df=df.drop(['link'],axis=1)

In [32]:
df.shape

(57650, 3)

In [33]:
#Select only 4000 dataset
df = df.sample(n = 7000)

In [34]:
df.describe()

         artist     song                                               text
count      7000     7000                                               7000
unique      625     6572                                               6996
top     Alabama  Breathe  I must confess what you say is true  I had a r...
freq         30        6                                                  2

In [9]:
df.isnull().sum()

artist    0
song      0
text      0
dtype: int64

In [10]:
df.duplicated()

5181     False
36827    False
8975     False
5026     False
35833    False
         ...
37358    False
24665    False
2350     False
20483    False
43518    False
Length: 7000, dtype: bool

In [35]:
Vector = TfidfVectorizer(analyzer = 'word', stop_words= 'english')
Matrix = Vector.fit_transform(df['text'])

In [36]:
similarities = cosine_similarity(Matrix)

In [37]:
similarities.mean()

0.02609200409956064

In [146]:
Similar_30={}
def Find_similarity(name):
    for idx in range(len(similarities)):
        # Find to 30 similar index
        sim_id=similarities[idx].argsort()[:-30:-1]

        name1=df['song'].iloc[idx]
        Similar_30[name1]=[(similarities[idx][x].round(2), df['song'].iloc[x], df['artist'].iloc[x]) for x in sim_id][1:]
        recommend=pd.DataFrame(Similar_30.get(name),columns=['Sim_Score','Song_name','Artist_name'])
    return recommend

In [147]:
name=input('name of song:')
top=int(input('number of top similarity:'))

name of song: Nyc Man
number of top similarity: 4

In [148]:

def Show(name,top):
    for i,j  in enumerate(df['song']):
        # print(i,j)
        if j==name:
            print(f"Top {top} similar Song")
            print(Find_similarity(name)[:top+1])
            break
Show(name,top)

0 Salvation Is Here
1 Something Must Break
2 Something's Gotta Give
3 Nyc Man
Top 4 similar Song
   Similarity_Score           Song_name    Artist_name
0              0.58            New York             U2
1              0.40  Autumn In New York  Frank Sinatra
2              0.36     Different World           INXS
3              0.29      Heartache City     Uriah Heep
4              0.25    City Of The Dead          Clash