In [34]:
import pandas as pd
df=pd.read_csv('train.csv')
df.head(2)

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No

In [41]:
df.shape

(1590, 10)

In [35]:
round(df['AnnualIncome'].mean(),2)

928553.46

In [43]:

countabroad=df.loc[df['EverTravelledAbroad']=='Yes']['Customer Id'].count()
countabroad

302

In [46]:

countgover=df.loc[df['Employment Type']=='Government Sector']['Customer Id'].count()
round(countgover/len(df)*100,2)

27.36