In [48]:
import pandas as pd
df=pd.read_csv('supermarket.csv')
df['Date2']= pd.to_datetime(df['Date'])
df.head(3)

    Customer Id        Date         Product      Date2
0  JKML5ZWXP0XQ  2020-07-20  tropical fruit 2020-07-20
1  YOGWQIUPDAJ7  2020-04-30      whole milk 2020-04-30
2  Q3NL22281AF6  2020-09-18       pip fruit 2020-09-18

میزان فروش به ازای هر روز به صورت میانگین

In [19]:
tab=df.groupby(by='Date').count()
tab.mean().round(2)

Customer Id    44.93
Product        44.93
dtype: float64

چهار محصولی که کمتر از بقیه در سبد مشتریان قرار گرفته‌اند

In [32]:
tab2=df.groupby(by='Product').count()
tab2
tab2.nsmallest(4,'Customer Id')

                       Customer Id  Date
Product
kitchen utensil                  1     1
preservation products            1     1
baby cosmetics                   3     3
bags                             4     4

پنج مشتری‌ای که در سال ۲۰۲۰، بیشترین تعداد "سبد" را داشته‌اند

In [36]:
tab3=df.groupby(by='Customer Id').count()
tab3.nlargest(5,'Product')

              Date  Product
Customer Id
0P1TPIH74E79    32       32
0ZRF32AJ06BC    30       30
L1V5UZI2G191    28       28
7V1DR149IGK5    26       26
JKC89PT6OZ01    26       26

کدام روز هفته، بیشترین تعداد محصول فروش رفته‌است؟

In [74]:
df['Day']=df['Date2'].dt.dayofweek
df.groupby(by='Day').count().nlargest(1,'Product')

     Customer Id  Date  Product  Date2
Day
2           4846  4846     4846   4846

In [331]:
# df2=pd.crosstab(df['Customer Id'], df['Product'])

In [307]:
import numpy as np
import math
tab4=pd.pivot_table(df, index=['Customer Id'],columns=['Product'], aggfunc=np.sum)
tab4.columns = tab4.columns.droplevel()
# tab4.reindex
# tab5=tab4.reset_index()
# tab6=tab5.drop(columns=['Customer Id'])
tab7=tab4.applymap(lambda x: x>0)
tab7.head(1)

Product,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,tea,toilet cleaner,tropical fruit,turkey,waffles,whipped/sour cream,white bread,whole milk,yogurt,zwieback
Customer Id,,,,,,,,,,,,,,,,,,,,,
0011457U6R3Y,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

پنج محصولی که بیشترین support را دارند به ترتیب نزولی

In [327]:
from mlxtend.frequent_patterns import apriori

support=apriori(tab7, min_support=0.01, use_colnames=True)
bestprod=support.sort_values(by='support', ascending=False).head(5)
bestprod

     support            itemsets
86  0.409967        (whole milk)
54  0.328282  (other vegetables)
64  0.308246        (rolls/buns)
72  0.273054              (soda)
87  0.247367            (yogurt)

 دو الگویی که بیشترین اطمینان را دارند،

In [330]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(support, metric = 'lift', min_threshold = 1)
rules.sort_values(by='confidence' , ascending=False).head(2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4701,"(curd, soda, other vegetables)",(whole milk),0.013871,0.409967,0.010275,0.740741,1.806832,0.004588,2.275843
4616,"(butter, rolls/buns, yogurt)",(whole milk),0.015155,0.409967,0.011045,0.728814,1.777739,0.004832,2.175748